<template>
  <div
    v-if="model && model.length"
    class="gallery"
    @drag="cancel"
    @dragstart="cancel"
  >
    <div
      v-swiper="options"
      class="swiper"
    >
      <div class="swiper-wrapper">
        <div
          v-for="(slide, index) in model"
          :key="index"
          class="swiper-slide"
        >
          <img
            :src="slide.image"
            :alt="slide.caption"
            class="gallery--image"
            :title="slide.caption"
          >
        </div>
      </div>
    </div>
    <div class="gallery--content">
      <div class="gallery--navigation">
        <button
          v-for="order in model.length"
          :key="order"
          type="button"
          class="gallery-button"
          :class="{ 'gallery-button--active': order <= currentOrder }"
          @click="go(order)"
          v-text="`${order}/${model.length}`"
        />
      </div>
      <transition-group
        tag="div"
        mode="out-in"
        name="gallery--caption"
        class="gallery--caption"
      >
        <template v-for="(slide, index) in model">
          <nuxt-link
            v-if="index === currentIndex"
            :key="slide.id"
            class="gallery--link"
            :to="`/blog/${slide.url}`"
          >
            <div
              class="gallery--tag"
              v-text="slide.tag"
            />
            <div
              class="gallery--title"
              v-text="slide.caption"
            />
          </nuxt-link>
        </template>
      </transition-group>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref } from '@vue/composition-api';
import { directive as swiper } from 'vue-awesome-swiper';
import { cancel } from '~/utils/event';

export default defineComponent({
  name: 'VGallery',
  directives: {
    swiper
  },
  props: {
    autoUpdate: {
      type: Boolean,
      default: true
    },
    model: {
      type: Array
    }
  },
  setup(props, ctx) {
    let instance = null;
    const currentIndex = ref(0);
    const currentOrder = ref(1);
    const options = {
      preventInteractionOnTransition: true,
      updateOnWindowResize: props.autoUpdate,
      on: {
        init() {
          instance = this;
          ctx.emit('init', instance);
        },
        slideChange() {
          const next = this.realIndex;
          if (next !== currentIndex.value) {
            globalThis.requestAnimationFrame(() => {
              currentIndex.value = next;
              currentOrder.value = next + 1;
            });
          }
        }
      }
    };
    const go = order => {
      if (instance) {
        instance.slideTo(order - 1);
      }
    };

    return {
      options,
      currentOrder,
      currentIndex,
      go,
      cancel
    };
  }
});
</script>

<style lang="scss">
@import url("swiper/css/swiper.css");

.gallery {
  position: relative;
  overflow: hidden;

  &-button {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;

    background-color: $app-color-white;

    &--active {
      background-color: $app-color-red;
    }
  }

  &--link {
    display: block;
    color: $app-color-black;
  }

  &--navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    &:before {
      content: "";
      display: block;

      height: 32px;
      width: 32px;

      background-color: $app-color-red;
    }
  }

  &--image {
    min-width: 100%;
    min-height: 100%;
  }

  &--content {
    position: absolute;

    left: 0;
    bottom: 0;

    width: 272px;

    z-index: 2;

    @media (min-width: 1024px) {
      left: 32px;
      bottom: 32px;

      width: 372px;
    }
  }

  &--caption {
    background-color: $app-color-white;

    padding: 20px;

    &-leave-active {
      display: none;
    }
  }

  &--title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;

    @media (min-width: 1024px) {
      font-size: 40px;
    }
  }

  &--tag {
    font-size: 10px;
    line-height: 18px;
    text-transform: uppercase;
  }
}
</style>
