<template>
  <laravel-pagination
    :data="meta"
    :limit="2"
  >
    <template #default="context">
      <div
        v-if="context.computed.total > context.computed.perPage"
        class="pagination"
        :class="{ 'pagination--bright': bright }"
      >
        <template v-if="context.computed.currentPage !== 1">
          <nuxt-link
            :to="{ query: query(1) }"
            class="pagination-link"
          >
            <svg-icon
              name="last"
              class="icon--mirror"
            />
          </nuxt-link>
          <nuxt-link
            :to="{ query: query(context.computed.currentPage - 1) }"
            class="pagination-link"
          >
            <svg-icon
              name="next"
              class="icon--mirror"
            />
          </nuxt-link>
        </template>
        <template v-else-if="fill">
          <span class="pagination-fill" />
        </template>
        <template v-for="(page, key) in context.computed.pageRange">
          <template v-if="dig(page)">
            <nuxt-link
              :key="key"
              :to="{ query: query(page) }"
              class="pagination-link"
              :event="page === '...' ? '' : 'click'"
              :class="{ 'pagination-link--current': page === context.computed.currentPage }"
              v-text="page"
            />
          </template>
          <template v-else>
            <span
              :key="key"
              class="pagination-link"
              v-text="page"
            />
          </template>
        </template>
        <template v-if="context.computed.currentPage !== context.computed.lastPage">
          <nuxt-link
            :to="{ query: query(context.computed.currentPage + 1) }"
            class="pagination-link"
          >
            <svg-icon name="next" />
          </nuxt-link>
          <nuxt-link
            :to="{ query: query(context.computed.lastPage) }"
            class="pagination-link"
          >
            <svg-icon name="last" />
          </nuxt-link>
        </template>
        <template v-else-if="fill">
          <span class="pagination-fill" />
        </template>
      </div>
    </template>
  </laravel-pagination>
</template>

<script>
import { defineComponent } from '@vue/composition-api';

import LaravelPagination from 'laravel-vue-pagination/src/RenderlessLaravelVuePagination.vue';

export default defineComponent({
  name: 'VPagination',
  components: {
    LaravelPagination
  },
  props: {
    meta: {
      type: Object,
      default: () => {}
    },
    bright: {
      type: Boolean,
      default: false
    },
    fill: {
      type: Boolean,
      default: false
    }
  },
  setup(props, ctx) {
    const query = (page) => {
      return {
        ...ctx.root.context.route.query,
        page
      };
    };

    const dig = (page) => {
      return page !== '...';
    };

    return {
      query,
      dig
    };
  }
});
</script>

<style lang="scss">
.icon--mirror {
  transform: scaleX(-1);
  transform-origin: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  &-fill {
    @media (min-width: 375px) {
      display: block;
      height: 32px;
      width: 64px;
    }
  }

  &-link {
    display: block;
    width: 32px;
    height: 32px;
    text-align: center;

    line-height: 32px;
    font-size: 16px;
    font-weight: 700;

    color: $app-color-white;

    &--current {
      color: $app-color-white;
      background-color: $app-color-red;
    }

    .icon {
      display: inline-block;

      width: 12px;
      height: 12px;

      vertical-align: baseline;

      stroke: $app-color-white;

      pointer-events: none;
    }
  }

  &--bright {
    .pagination {
      &-link {
        color: $app-color-black;

        &--current {
          color: $app-color-white;
        }

        .icon {
          stroke: $app-color-black;
        }
      }
    }
  }
}
</style>
