<template>
  <div class="scroll-wrapper">
    <button
      v-if="activeAny"
      type="button"
      class="scroll-button scroll-button--prev"
      :class="{ 'scroll-button--active': activeLeft }"
      @click="onClickPrev"
    >
      <svg-icon
        name="next"
        class="icon--mirror"
      />
    </button>
    <div
      ref="refEl"
      class="scroll-container"
      :class="{ 'scroll-container--snap': !state }"
    >
      <slot />
    </div>
    <button
      v-if="activeAny"
      type="button"
      class="scroll-button scroll-button--next"
      :class="{ 'scroll-button--active': activeRight }"
      @click="onClickNext"
    >
      <svg-icon name="next" />
    </button>
  </div>
</template>

<script>
import { defineComponent, ref, onMounted, onBeforeUnmount, computed } from '@vue/composition-api';

import findLastIndex from 'lodash/findLastIndex';
import { fromRef } from '~/utils/ref';

export default defineComponent({
  name: 'VScrollButtons',
  props: {
    active: {
      type: Boolean,
      default: true
    }
  },
  setup(props, ctx) {
    const refEl = ref(null);

    let snap = [];
    let last = 0;
    const updateCache = ()  => {
      const children = ctx.slots.default();
      if (children) {
        last = children.length - 2;
        snap = children.map((morph) => {
          return fromRef(morph)?.offsetLeft || 0;
        });
      }
    };
    onMounted(() => {
      updateCache();
      ctx.root.$bus.on('resize', updateCache);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('resize', updateCache);
    });

    let stoped = false;
    const state = ref(false);
    const reset = () => {
      globalThis.requestAnimationFrame(() => {
        state.value = false;
        stoped = false;
      });
    };
    const stop = () => {
      if (state.value) {
        stoped = true;
      }
    };
    const scrollTo = (to) => {
      const el = fromRef(refEl);

      const duration = 300;

      const initialX = el.scrollLeft;
      const targetX = to;
      const diffX = targetX - initialX;

      const easingFn = (t) => t * (2 - t);

      let timeStart;
      let timeElapsed;

      let progress;

      const step = (timestamp) => {
        if (stoped) {
          reset();
          return;
        }

        if (!timeStart) {
          timeStart = timestamp;
        }

        timeElapsed = timestamp - timeStart;

        progress = Math.min(timeElapsed / duration, 1);
        progress = easingFn(progress);

        el.scrollTo(initialX + diffX * progress, 0);

        if (timeElapsed < duration) {
          globalThis.requestAnimationFrame(step);
        } else {
          reset();
        }
      };

      globalThis.requestAnimationFrame(step);
    };
    const start = (to) => {
      globalThis.requestAnimationFrame(() => {
        state.value = true;
        ctx.root.$nextTick(() => {
          scrollTo(snap[to]);
        });
      });
    };
    const calcCurrent = () => {
      const left = Math.ceil(fromRef(refEl).scrollLeft) + 2;
      const index = findLastIndex(snap, (x) => {
        return x < left;
      });
      return index === -1 ? 0 : index;
    };

    const canAny = ref(false);
    const canLeft = ref(false);
    const canRight = ref(false);
    const update = (target) => {
      canAny.value = target.scrollWidth > target.offsetWidth;
      canLeft.value = target.scrollLeft > 0;
      canRight.value = target.scrollLeft < (target.scrollWidth - globalThis.innerWidth);
    };
    let scroll = false;
    const watchScroll = (e) => {
      if (!scroll) {
        globalThis.requestAnimationFrame(() => {
          update(e.target);

          scroll = false;
        });
        scroll = true;
      }
    };
    const watchResize = () => {
      const el = fromRef(refEl);
      update(el);
    };
    onMounted(() => {
      const el = fromRef(refEl);
      update(el);
      el.addEventListener('scroll', watchScroll, ctx.root.$passive);
      ctx.root.$bus.on('resize', watchResize);
    });
    onBeforeUnmount(() => {
      const el = fromRef(refEl);
      el.removeEventListener('scroll', watchScroll, ctx.root.$passive);
      ctx.root.$bus.off('resize', watchResize);
    });
    const activeAny = computed(() => props.active && canAny.value);
    const activeLeft = computed(() => activeAny.value && canLeft.value);
    const activeRight = computed(() => activeAny.value && canRight.value);

    const onClickPrev = () => {
      if (activeLeft.value) {
        const current = calcCurrent();

        if (current <= 0) {
          start(current);
          return;
        }

        start(current - 1);
      }
    };
    const onClickNext = () => {
      if (activeRight.value) {
        const current = calcCurrent();

        if (current >= last) {
          start(current);
          return;
        }

        start(current + 1);
      }
    };

    onMounted(() => {
      globalThis.addEventListener('touchstart', stop, ctx.root.$passive);
      globalThis.addEventListener('mousedown', stop, ctx.root.$passive);
      globalThis.addEventListener('wheel', stop, ctx.root.$passive);
      globalThis.addEventListener('keydown', stop, ctx.root.$passive);
    });
    onBeforeUnmount(() => {
      globalThis.removeEventListener('touchstart', stop, ctx.root.$passive);
      globalThis.removeEventListener('mousedown', stop, ctx.root.$passive);
      globalThis.removeEventListener('wheel', stop, ctx.root.$passive);
      globalThis.removeEventListener('keydown', stop, ctx.root.$passive);
    });

    return {
      refEl,
      state,
      onClickNext,
      onClickPrev,
      activeAny,
      activeLeft,
      activeRight
    };
  }
});
</script>

<style lang="scss">
.icon--mirror {
  transform: scaleX(-1);
  transform-origin: center;
}

.scroll {
  &-wrapper {
    position: relative;
  }

  &-container {
    width: 100%;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    scrollbar-width: none;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &--snap {
      scroll-behavior: smooth;
      overscroll-behavior: contain auto;
    }
  }

  &-button {
    position: absolute;
    z-index: 4;

    top: 50%;
    transform: translateY(-50%);

    opacity: 0;
    pointer-events: none;

    &--active {
      opacity: 1;
      pointer-events: all;
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }

    line-height: 44px;
    width: 44px;
    text-align: center;

    .icon {
      display: inline-block;

      width: 22px;
      height: 22px;

      vertical-align: middle;

      stroke: $app-color-black;

      pointer-events: none;
    }
  }
}
</style>
