<template>
  <div class="search">
    <div class="search--caption">
      Вот что мы нашли по запросу:
      <b v-text="model" />
    </div>
    <div class="search-feed">
      <nuxt-link
        v-for="card in results"
        :key="card.id"
        v-touchable
        :to="`/blog/${card.url}`"
        class="search-feed-card"
      >
        <img
          class="search-feed-card--image"
          :src="card.image"
          :alt="card.caption"
          :title="card.caption"
        >
        <div
          class="search-feed-card--tag"
          v-text="card.tag"
        />
        <div
          class="search-feed-card--caption"
          v-text="card.caption"
        />
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, watch } from '@vue/composition-api';

import { fetchSearch } from '~/api/form';
import debounce from 'lodash/debounce';

export default defineComponent({
  name: 'VSearch',
  props: {
    model: {
      type: String,
      default: null
    }
  },
  setup(props, ctx) {
    const empty = Object.freeze([]);
    const results = ref([]);

    watch(
      () => props.model,
      debounce(model => {
        if (model) {
          fetchSearch(ctx.root.context, model).then(res => {
            results.value = res;
          });
        } else {
          results.value = empty;
        }
      }, 500)
    );

    return {
      results
    };
  }
});
</script>

<style lang="scss">
.search {
  &--caption {
    padding: 52px 0 0 16px;

    @media (min-width: 1440px) {
      padding: 52px 0 0 80px;
    }

    b {
      font-weight: 700;

      color: $app-color-red;
    }
  }
}

.search-feed {
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;

    padding: 52px 0 80px 16px;
  }

  @media (min-width: 1440px) {
    padding-left: 80px;
  }

  &-card {
    display: block;
    position: relative;

    padding: 16px 16px 16px 140px;
    height: 126px;

    overflow: hidden;

    color: $app-color-black;
    background-color: $app-color-white;

    border-bottom: 2px solid $app-color-black;

    &:active {
      .search-feed {
        &-card {
          &--caption {
            text-decoration: underline;
          }
        }
      }
    }

    @media (min-width: 1024px) {
      height: auto;
      width: 176px;
      padding: 0;
      border-bottom: none;
      margin-right: 16px;

      &:hover {
        .search-feed {
          &-card {
            &--caption {
              text-decoration: underline;
            }
          }
        }
      }
    }

    @media (min-width: 1440px) {
      width: 244px;
      margin-right: 32px;
    }

    &--image {
      display: block;

      position: absolute;

      left: 0;
      top: 0;

      width: 124px;
      height: 124px;

      @media (min-width: 1024px) {
        position: relative;

        width: 176px;
        height: 176px;
      }

      @media (min-width: 1440px) {
        width: 244px;
        height: 244px;
      }
    }

    &--tag {
      font-size: 10px;
      line-height: 10px;
      height: 10px;

      @media (min-width: 1024px) {
        margin-top: 12px;
      }
    }

    &--caption {
      & {
        /* autoprefixer: off */
        display: -moz-box;
        display: -webkit-box;
        display: box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      margin-top: 16px;
      font-size: 16px;
      line-height: 20px;

      @media (min-width: 1024px) {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        margin-top: 12px;
      }
    }
  }

  @media (min-width: 1024px) {
    .search-feed {
      &-card {
        &:nth-child(n + 5) {
          display: none;
        }
      }
    }
  }

  @media (min-width: 1232px) {
    .search-feed {
      &-card {
        &:nth-child(5) {
          display: block;
        }
      }
    }
  }

  @media (min-width: 1440px) {
    .search-feed {
      &-card {
        &:nth-child(5) {
          display: none;
        }
      }
    }
  }

  @media (min-width: 1920px) {
    .search-feed {
      &-card {
        &:nth-child(5) {
          display: block;
        }
      }
    }
  }
}
</style>
