<template>
  <div
    ref="el"
    class="bars"
  >
    <h3 class="bars--caption">
      Размещение рекламы у лидеров мнений
    </h3>
    <nuxt-link
      v-touchable
      class="bars--button"
      :to="{ name: 'commercial' }"
    >
      Заказать
    </nuxt-link>
    <span
      v-for="i in 8"
      :key="i"
      :class="`bar bar-${i}`"
      :style="{ '--pr': pr[i] }"
      aria-hidden="true"
      role="none"
    />
  </div>
</template>

<script>
import { defineComponent, ref, onMounted, onBeforeUnmount } from '@vue/composition-api';

export default defineComponent({
  name: 'VBars',
  setup(props, ctx) {
    const el = ref(null);
    const pr = ref({});

    const update = () => {
      if (globalThis.innerWidth < 1024) {
        return;
      }

      if (el.value) {
        const size = globalThis.innerHeight - el.value.offsetHeight;

        let percent =
          (globalThis.pageYOffset + size - el.value.offsetTop) /
          (size - 96);

        if (percent < 0) {
          percent = 0;
        }

        if (percent > 1) {
          percent = 1;
        }

        pr.value = {
          1: `${52 + 156 * percent}px`,
          2: `${190 * percent}px`,
          3: `${136 + 34 * percent}px`,
          4: `${172 - 20 * percent}px`,
          5: `${232 - 104 * percent}px`,
          6: `${128 + 24 * percent}px`,
          7: `${64 + 110 * percent}px`,
          8: `${190 * percent}px`
        };
      }
    };

    onMounted(() => {
      ctx.root.$bus.on('scroll', update);
    });

    onBeforeUnmount(() => {
      ctx.root.$bus.off('scroll', update);
    });

    return {
      el,
      pr
    };
  }
});
</script>

<style lang="scss">
.bars {
  color: $app-color-white;
  background-color: $app-color-black;

  position: relative;
  overflow: hidden;
  text-align: center;

  padding: 124px 0;

  @media (min-width: 1024px) {
    padding: 32px 0 124px 0;
  }

  &--caption {
    display: block;

    font-size: 22px;
    line-height: 32px;
    font-weight: 700;

    margin: 0 auto;
    text-align: center;

    @media (min-width: 375px) {
      font-size: 28px;
      max-width: 360px;
    }

    @media (min-width: 1024px) {
      font-size: 60px;
      line-height: 72px;
      max-width: 760px;
    }
  }

  &--button {
    display: inline-block;

    height: 44px;
    line-height: 44px;
    padding: 0 44px;
    margin-top: 44px;

    font-size: 18px;
    font-weight: 700;

    color: $app-color-white;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, $app-color-white 50%, $app-color-red 50%);
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: background-position .3s cubic-bezier(1, 0, 0.5, 1) 0s, color .3s ease .1s;

    &:active {
      color: $app-color-red;
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      height: 60px;
      line-height: 60px;
      margin-top: 60px;

      font-size: 24px;

      &:hover {
        color: $app-color-red;
        background-position: 0 0;
      }
    }
  }
}

.bar {
  position: absolute;
  width: 25%;
  height: 104px;

  background-color: $app-color-red;

  @media (min-width: 1024px) {
    width: 12.5%;
    height: 232px;

    transition: transform .3s ease-out;
    backface-visibility: hidden;
    will-change: transform;
  }

  &-1,
  &-2,
  &-3,
  &-4 {
    top: 0;

    @media (min-width: 1024px) {
      top: auto;
      bottom: 0;
    }
  }

  &-5,
  &-6,
  &-7,
  &-8 {
    bottom: 0;
  }

  &-1 {
    left: 0;
    transform: translateY(-72px);

    @media (min-width: 1024px) {
      left: 0;
      transform: translateY(var(--pr, 52px));
    }
  }

  &-2 {
    left: 25%;
    transform: translateY(-56px);

    @media (min-width: 1024px) {
      left: 12.5%;
      transform: translateY(var(--pr, 0));
    }
  }

  &-3 {
    left: 50%;
    transform: translateY(-28px);

    @media (min-width: 1024px) {
      left: 25%;
      transform: translateY(var(--pr, 136px));
    }
  }

  &-4 {
    left: 75%;
    transform: translateY(0);

    @media (min-width: 1024px) {
      left: 37.5%;
      transform: translateY(var(--pr, 172px));
    }
  }

  &-5 {
    left: 0;
    transform: translateY(48px);

    @media (min-width: 1024px) {
      left: 50%;
      transform: translateY(var(--pr, 232px));
    }
  }

  &-6 {
    left: 25%;
    transform: translateY(32px);

    @media (min-width: 1024px) {
      left: 62.5%;
      transform: translateY(var(--pr, 128px));
    }
  }

  &-7 {
    left: 50%;
    transform: translateY(72px);

    @media (min-width: 1024px) {
      left: 75%;
      transform: translateY(var(--pr, 64px));
    }
  }

  &-8 {
    left: 75%;
    transform: translateY(84px);

    @media (min-width: 1024px) {
      left: 87.5%;
      transform: translateY(var(--pr, 0));
    }
  }
}
</style>
