<template>
  <nuxt-link
    v-touchable
    :to="`/case/${model.url}`"
    class="card"
  >
    <img
      class="card__image"
      :src="model.image"
      :alt="model.caption"
      :title="model.caption"
    >
    <div class="card__content">
      <div
        ref="title"
        class="card--caption"
        :class="{ 'card--multi': multi_title }"
        v-text="model.caption"
      />
      <div
        ref="line"
        class="card--description"
        :class="{ 'card--multi': multi_line }"
        v-text="model.description"
      />
      <div
        class="card--more"
        v-text="'Подробнее'"
      />
    </div>
  </nuxt-link>
</template>

<script>
import {
  defineComponent,
  ref,
  onMounted,
  computed
} from '@vue/composition-api';

import { fromRef } from '~/utils/ref';

export default defineComponent({
  name: 'VCard',
  props: {
    model: {
      type: Object,
      required: true
    }
  },
  setup(props, ctx) {
    const title = ref(null);
    const line = ref(null);

    onMounted(() => {
      const elLine = fromRef(line);
      if (elLine) {
        if (!ctx.root.$store.state.shared.multi_line) {
          if (elLine.offsetHeight > 26) {
            ctx.root.$store.commit('shared/UPDATE_MULTI_LINE', true);
          }
        }
      }

      const elTitle = fromRef(title);
      if (elTitle) {
        if (!ctx.root.$store.state.shared.multi_title) {
          if (elTitle.offsetHeight > 26) {
            ctx.root.$store.commit('shared/UPDATE_MULTI_TITLE', true);
          }
        }
      }
    });

    const multi_line = computed(() => ctx.root.$store.state.shared.multi_line);
    const multi_title = computed(
      () => ctx.root.$store.state.shared.multi_title
    );

    return {
      title,
      multi_title,
      line,
      multi_line
    };
  }
});
</script>

<style lang="scss">
.card {
  flex-shrink: 0;
  display: block;
  height: 0;
  padding-bottom: 143%;
  position: relative;
  overflow: hidden;
  background-color: $app-color-black;

  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    display: block;

    height: 100%;

    max-width: none;
    min-width: 100%;
  }

  &__content {
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;

    transform: translateY(0);
    transition: transform 0.3s ease-out;
    backface-visibility: hidden;
    will-change: transform;

    color: $app-color-black;
    background-color: $app-color-white;
    border-top: 2px solid $app-color-black;
  }

  &:active {
    .card {
      &__content {
        transform: translateY(-80px);
      }
    }
  }

  @media (min-width: 1024px) {
    &:hover {
      .card {
        &__content {
          transform: translateY(-80px);
        }
      }
    }
  }

  &--caption {
    margin: 16px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }

  &--description {
    margin: 0 16px 16px 16px;
    font-size: 18px;
    line-height: 24px;
  }

  &--caption,
  &--description {
    & {
      /* autoprefixer: off */
      display: -moz-box;
      display: -webkit-box;
      display: box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &--multi {
    height: 48px;
  }

  &--more {
    height: 80px;
    font-size: 24px;
    line-height: 80px;
    font-weight: 700;
    text-align: center;

    color: $app-color-white;
    background-color: $app-color-black;
    transition: color 0.3s ease, background-color 0.3s ease;

    @media (min-width: 1024px) {
      &:hover {
        color: $app-color-black;
        background-color: $app-color-inverse;
      }
    }
  }
}
</style>
