<template>
  <form
    class="comment-form"
    @submit.prevent="onSubmit"
    @reset.prevent="onReset"
  >
    <div class="comment-form--content">
      <div class="comment-form--caption">
        Понравилась статья?
      </div>
      <div class="comment-form--description">
        Поделись мнением
      </div>
      <v-rating
        v-model="comment.rating"
      />
      <div class="comment-form--fields">
        <input
          id="name"
          v-model.trim="comment.name"
          type="text"
          inputmode="text"
          name="name"
          class="comment-form--input"
          required
          autocomplete="name"
          aria-autocomplete="both"
          placeholder="Имя*"
          maxlength="255"
        >
        <input
          id="email"
          v-model.trim="comment.email"
          name="email"
          inputmode="email"
          type="email"
          class="comment-form--input"
          required
          autocomplete="email"
          aria-autocomplete="both"
          placeholder="E-mail*"
          maxlength="255"
        >
        <input
          id="company"
          v-model.trim="comment.company"
          type="text"
          inputmode="text"
          name="company"
          class="comment-form--input"
          autocomplete="organization"
          aria-autocomplete="both"
          placeholder="Компания"
          maxlength="255"
        >
        <textarea-autosize
          v-model.trim="comment.content"
          class="comment-form--textarea"
          required
          spellcheck="true"
          aria-autocomplete="none"
          :min-height="200"
        />
        <button
          v-touchable
          type="submit"
          class="comment-form--submit"
          :disabled="state"
        >
          Отправить
        </button>
      </div>
    </div>
  </form>
</template>

<script>
import { defineComponent, reactive, ref } from '@vue/composition-api';

import VRating from './VRating';
import { submitComment } from '~/api/form';
import { FORM_COMMENT } from '~/utils/constants';

export default defineComponent({
  name: 'VCommentForm',
  components: {
    VRating
  },
  setup(props, ctx) {
    const comment = reactive({ ...FORM_COMMENT });

    const reset = () => {
      Object.keys(comment).forEach((key) => {
        comment[key] = FORM_COMMENT[key];
      });
    };

    const onReset = () => {
      reset();
      ctx.emit('reset');
    };

    const state = ref(false);
    const onSubmit = () => {
      state.value = true;
      submitComment(ctx.root.context, { ...comment }).then(() => {
        reset();
        ctx.emit('submit');
        state.value = false;
      }).catch(() => {
        state.value = false;
      });
    };

    return {
      state,
      comment,
      onSubmit,
      onReset
    };
  }
});
</script>

<style lang="scss">
.comment-form {
  background-color: $app-color-black;
  padding: 16px;
  border-bottom: 2px solid $app-color-white;

  @media (min-width: 375px) {
    padding: 32px 16px;
  }

  @media (min-width: 1024px) {
    padding: 52px 0 80px 0;
  }

  &--caption {
    color: $app-color-white;

    font-size: 32px;
    line-height: 36px;
    font-weight: 700;

    @media (min-width: 1024px) {
      font-size: 60px;
      line-height: 64px;
    }
  }

  &--description {
    color: $app-color-red;

    font-size: 24px;
    line-height: 36px;

    @media (min-width: 1024px) {
      font-size: 30px;
    }
  }

  &--input,
  &--textarea {
    color: $app-color-black;
    background-color: $app-color-white;
    display: block;
    width: 100%;

    padding: 12px;
    line-height: 24px;

    &::placeholder {
      color: $app-color-light;
    }
  }

  &--input {
    margin-bottom: 8px;

    @media (min-width: 1024px) {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: auto;
      width: 236px;

      order: 1;

      margin-right: 16px;
    }
  }

  &--textarea {
    margin: 16px 0;
    min-height: 200px;

    @media (min-width: 1024px) {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 100%;

      order: 0;

      margin: 32px 0 16px 0;
    }
  }

  &--submit {
    display: block;
    width: 100%;

    height: 48px;
    line-height: 48px;

    color: $app-color-black;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, $app-color-white 50%, $app-color-red 50%);
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: background-position .3s cubic-bezier(1, 0, 0.5, 1) 0s;

    &:active {
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: auto;
      width: 236px;

      order: 2;

      &:hover {
        background-position: 0 0;
      }
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.8;
    }
  }

  &--content {
    position: relative;

    @media (min-width: 1024px) {
      width: 992px;
      margin: 0 auto;
    }
  }

  &--fields {
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: flex-start;
    }
  }

  .rating {
    margin: 16px 0 32px 0;

    @media (min-width: 1024px) {
      margin: 0;

      position: absolute;

      top: 12px;
      right: 0;
    }
  }
}
</style>
