<template>
  <div class="comments">
    <section
      v-if="model.top.length > 0"
      class="comments--section"
    >
      <header class="comments--caption">
        <h6 class="comments--title">
          Лучшие комментарии
        </h6>
      </header>
      <v-comment
        v-for="comment in model.top"
        :key="comment.id"
        :model="comment"
      />
    </section>
    <section
      v-if="model.other.length > 0"
      class="comments--section"
    >
      <header class="comments--caption">
        <h6 class="comments--title">
          Все комментарии
        </h6>
      </header>
      <v-comment
        v-for="comment in model.other"
        :key="comment.id"
        :model="comment"
      />
    </section>
    <v-comment-form @submit="update" />
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api';

import VComment from './VComment';
import VCommentForm from './VCommentForm';

export default defineComponent({
  name: 'VComments',
  components: {
    VComment,
    VCommentForm
  },
  props: {
    model: {
      type: Object
    }
  },
  setup(props, ctx) {
    const update = () => {
      ctx.emit('update');
    };

    return {
      update
    };
  }
});
</script>

<style lang="scss">
.comments {
  &--caption {
    border-bottom: 2px solid $app-color-black;

    padding: 0 16px;
  }

  &--title {
    display: block;

    font-size: 32px;
    line-height: 76px;
    font-weight: 700;

    @media (min-width: 1024px) {
      width: 848px;
      margin: 0 auto;
    }
  }

  &--section {
    margin-bottom: 44px;
  }
}
</style>
