<template>
  <div class="comment">
    <div
      class="comment--caption"
      v-text="model.caption"
    />
    <v-rating-static :value="model.rating" />
    <div
      class="comment--description"
      v-text="model.description"
    />
    <time
      class="comment--date"
      v-text="model.date"
    />
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api';

import VRatingStatic from './VRatingStatic';

export default defineComponent({
  name: 'VComment',
  components: {
    VRatingStatic
  },
  props: {
    model: {
      type: Object
    }
  }
});
</script>

<style lang="scss">
.comment {
  padding: 0 16px;
  margin-top: 20px;

  @media (min-width: 1024px) {
    width: 848px;
    margin: 20px auto 0 auto;
    padding: 0 212px 0 0;
  }

  &--caption {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;

    overflow: hidden;
  }

  &--description {
    font-size: 18px;
    line-height: 24px;

    margin: 16px 0;

    overflow: hidden;
  }

  &--date {
    font-size: 12px;
    line-height: 14px;

    color: transparentize($color: $app-color-light, $amount: 0.4);
  }
}
</style>
