<template>
  <div
    v-if="model.length > 0"
    class="feed"
    :class="{ 'feed-flat': flat }"
  >
    <nuxt-link
      v-for="card in model"
      :key="card.id"
      v-touchable
      :to="`/blog/${card.url}`"
      class="feed-card"
    >
      <img
        class="feed-card--image"
        :src="card.image"
        :alt="card.caption"
        :title="card.caption"
      >
      <div
        class="feed-card--tag"
        v-text="card.tag"
      />
      <div
        class="feed-card--caption"
        v-text="card.caption"
      />
    </nuxt-link>
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  name: 'VFeed',
  props: {
    flat: {
      type: Boolean,
      default: false
    },
    model: {
      type: Array
    }
  }
});
</script>

<style lang="scss">
.feed {
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

    padding: 52px 0 80px 0;
  }

  &-card {
    display: block;
    position: relative;

    padding: 16px 16px 16px 140px;
    height: 126px;

    overflow: hidden;

    color: $app-color-black;
    background-color: $app-color-white;

    border-bottom: 2px solid $app-color-black;

    &:active {
      .feed {
        &-card {
          &--caption {
            text-decoration: underline;
          }
        }
      }
    }

    @media (min-width: 1024px) {
      height: auto;
      width: 176px;
      padding: 0;
      border-bottom: none;
      margin: 0 12px;

      &:hover {
        .feed {
          &-card {
            &--caption {
              text-decoration: underline;
            }
          }
        }
      }
    }

    @media (min-width: 1440px) {
      width: 244px;
      margin: 0 16px;
    }

    &--image {
      display: block;

      position: absolute;

      left: 0;
      top: 0;

      width: 124px;
      height: 124px;

      @media (min-width: 1024px) {
        position: relative;

        width: 176px;
        height: 176px;
      }

      @media (min-width: 1440px) {
        width: 244px;
        height: 244px;
      }
    }

    &--tag {
      font-size: 10px;
      line-height: 10px;
      height: 10px;

      @media (min-width: 1024px) {
        margin-top: 12px;
      }
    }

    &--caption {
      & {
        /* autoprefixer: off */
        display: -moz-box;
        display: -webkit-box;
        display: box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      margin-top: 16px;
      font-size: 16px;
      line-height: 20px;

      @media (min-width: 1024px) {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        margin-top: 12px;
      }
    }
  }

  &-flat {
    @media (min-width: 1024px) {
      .feed {
        &-card {
          &:nth-last-child(-n + 2) {
            display: none;
          }
        }
      }
    }

    @media (min-width: 1440px) {
      .feed {
        &-card {
          &:nth-last-child(2) {
            display: block;
          }
        }
      }
    }

    @media (min-width: 1920px) {
      .feed {
        &-card {
          &:last-child {
            display: block;
          }
        }
      }
    }
  }
}
</style>
