<template>
  <a
    :href="model.url"
    target="_blank"
    rel="noopener"
    class="mass-media-card"
  >
    <img
      class="mass-media-card--image"
      :src="model.image"
      :alt="model.caption"
      :title="model.caption"
    >
    <div
      class="mass-media-card--tag"
      v-text="model.tag"
    />
    <div
      class="mass-media-card--caption"
      v-text="model.caption"
    />
  </a>
</template>

<script>
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  name: 'VMassMediaCard',
  props: {
    model: {
      type: Object,
      required: true
    }
  }
});
</script>

<style lang="scss">
.mass-media-card {
  display: block;
  position: relative;

  padding: 16px 16px 16px 140px;
  height: 126px;

  overflow: hidden;

  color: $app-color-black;
  background-color: $app-color-white;

  border-bottom: 2px solid $app-color-black;

  &:active {
    .mass-media-card {
      &--caption {
        text-decoration: underline;
      }
    }
  }

  @media (min-width: 1024px) {
    flex-grow: 0;
    flex-shrink: 0;

    width: 360px;
    height: 124px;

    margin-right: 2px;
    border-bottom: none;

    background-color: $app-color-mass;

    &:hover {
      .mass-media-card {
        &--caption {
          text-decoration: underline;
        }
      }
    }
  }

  &--image {
    display: block;

    position: absolute;

    left: 0;
    top: 0;

    width: 124px;
    height: 124px;
  }

  &--tag {
    font-size: 10px;
    line-height: 10px;
    height: 10px;
  }

  &--caption {
    & {
      /* autoprefixer: off */
      display: -moz-box;
      display: -webkit-box;
      display: box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
  }
}
</style>
