<template>
  <div
    ref="root"
    :disabled="disabled"
  />
</template>

<script>
import noUiSlider from 'nouislider';
import { defineComponent, ref, onMounted, onBeforeUnmount } from '@vue/composition-api';

const BASE_CONFIG = {
  cssPrefix: 'range--'
};

const noop = value => value;

export default defineComponent({
  name: 'VRange',
  model: {
    prop: 'value',
    event: 'input'
  },
  props: {
    value: {
      type: [String, Array],
      default: null
    },
    config: {
      type: Object,
      default() {
        return {
          format: {
            to: noop,
            from: noop
          }
        };
      }
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  setup(props, ctx) {
    const root = ref(null);
    const reset = ref(noop);

    let instance = null;

    onMounted(() => {
      noUiSlider.create(root.value, { ...BASE_CONFIG, ...props.config });

      instance = root.value.noUiSlider;
      const mapFormat = (value) => {
        const format = instance.options.format.from;

        if (Array.isArray(value)) {
          return value.map(format);
        }

        return format(value);
      };

      instance.on('set', () => {
        ctx.emit('input', mapFormat(instance.get()));
      });

      reset.value = () => {
        instance.set([props.config.range.min[0], props.config.range.max[0]]);
      };
    });

    onBeforeUnmount(() => {
      if (instance) {
        instance.destroy();
      }
    });

    return {
      root,
      reset
    };
  }
});
</script>

<style lang="scss">
/* functional */
.range--target,
.range--target div {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.range--target {
  position: relative;
  direction: ltr;
}
.range--base,
.range--connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.range--connects {
  overflow: hidden;
  z-index: 0;
}
.range--connect,
.range--origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
.range--connect {
  height: 100%;
  width: 100%;

  background-color: $app-color-red;
}
.range--origin {
  height: 10%;
  width: 10%;
}
.range--horizontal .range--origin {
  left: auto;
  right: 0;
}
.range--vertical .range--origin {
  width: 0;
}
.range--horizontal .range--origin {
  height: 0;
}
.range--handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.range--touch-area {
  height: 100%;
  width: 100%;
}
.range--state-tap .range--connect,
.range--state-tap .range--origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.range--state-drag div {
  cursor: inherit !important;
}

/* style */
.range--target {
  height: 10px;
  width: 100%;

  border-radius: 999em;

  padding: 0 8px;

  background-color: $app-color-gray;
}
.range--handle {
  width: 16px;
  height: 16px;

  top: 5px;
  left: auto;
  right: 0px;

  border-radius: 999em;

  background-color: $app-color-white;

  transform: translate3d(8px, -50%, 0);

  &.range--active {
    width: 24px;
    height: 24px;
  }
}

.range--pips {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;

  margin: 8px -8px 0 -8px;

  color: $app-color-light;

  font-size: 10px;
  line-height: 16px;
  font-weight: 700;
}

.range--marker {
  display: none;
}

.range--touch-area {
  width: 48px;
  height: 48px;

  margin: -12px;
}

.range--tooltip {
  line-height: 22px;

  color: $app-color-white;
  font-size: 12px;

  white-space: nowrap;

  padding: 0 6px;

  position: absolute;
  top: 100%;
  bottom: auto;
  left: 50%;

  transform: translate3d(-50%, 2px, 0);
}

.range--active {
  transform: translate3d(12px, -50%, 0);

  .range--tooltip {
    top: auto;
    bottom: 100%;

    color: $app-color-white;
    font-size: 14px;

    transform: translate3d(-50%, -4px, 0);

    background-color: $app-color-black;
  }
}
</style>

