<template>
  <div class="rating rating--static">
    <svg-icon
      v-for="(star, index) in computedPattern"
      :key="`${star, index}`"
      :name="`star-${star}`"
    />
  </div>
</template>

<script>
import { defineComponent, computed } from '@vue/composition-api';

import { createPercentPattern } from '~/utils/data';

export default defineComponent({
  name: 'VRatingStatic',
  props: {
    total: {
      type: [String, Number],
      default: 5
    },
    value: {
      type: [String, Number],
      default: 2.5
    }
  },
  setup(props) {
    const computedPattern = computed(() => {
      return createPercentPattern(props.value, props.total);
    });

    return {
      computedPattern
    };
  }
});
</script>

<style lang="scss">
.rating--static {
  .icon {
    width: 18px;
    height: 18px;

    fill: $app-color-black;
  }
}
</style>
