<template>
  <div class="rating rating--interactive">
    <svg-icon
      v-for="(star, index) in computedPattern"
      :key="`${star, index}`"
      name="star-2"
      :class="{ 'star-red': star === 2 }"
      @click="onClick(index)"
      @mouseenter.passive="onEnter(index)"
      @mouseleave.passive="onLeave"
    />
  </div>
</template>

<script>
import { defineComponent, computed, ref } from '@vue/composition-api';

import { createPercentPattern } from '~/utils/data';

export default defineComponent({
  name: 'VRating',
  model: {
    prop: 'value',
    event: 'input'
  },
  props: {
    total: {
      type: [String, Number],
      default: 5
    },
    value: {
      type: [String, Number],
      default: 4
    }
  },
  setup(props, ctx) {
    const value = ref(props.value - 1);
    let saved = value.value;

    const onClick = (index) => {
      saved = index;
      value.value = index;
      ctx.emit('input', index + 1);
    };

    const onEnter = (index) => {
      globalThis.requestAnimationFrame(() => {
        saved = value.value;
        value.value = index;
      });
    };

    const onLeave = () => {
      globalThis.requestAnimationFrame(() => {
        value.value = saved;
      });
    };

    const computedPattern = computed(() => {
      if (value.value !== null) {
        const pattern = [0, 0, 0, 0, 0];

        for (let i = 0; i <= value.value; ++i) {
          pattern[i] = 2;
        }

        return pattern;
      }

      return createPercentPattern(props.value, props.total);
    });

    return {
      computedPattern,
      onClick,
      onEnter,
      onLeave
    };
  }
});
</script>

<style lang="scss">
.rating--interactive {
  .icon {
    cursor: pointer;

    fill: $app-color-white;

    width: 26px;
    height: 26px;

    @media (min-width: 1024px) {
      width: 44px;
      height: 44px;
    }

    &.star-red {
      fill: $app-color-red;
    }
  }
}
</style>
