html {
  cursor: default;
  -moz-tab-size: 1;
  -o-tab-size: 1;
  tab-size: 1;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-decorations-in-effect: none
}

:after,
:before,
a,
article,
aside,
b,
body,
button,
div,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
img,
input,
label,
li,
nav,
ol,
option,
p,
pre,
section,
select,
small,
span,
textarea,
ul,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

ol,
ul {
  list-style: none
}

[type=button],
a,
button,
input,
option,
select,
textarea {
  background-color: transparent;
  text-decoration: none
}

[tabindex]:focus,
[role=button]:focus,
[role=link]:focus,
a:focus,
button:focus,
input:focus,
option:focus,
select:focus,
textarea:focus {
  outline: 0
}

[tabindex]::-moz-focus-inner,
[role=button]::-moz-focus-inner,
[role=link]::-moz-focus-inner,
a::-moz-focus-inner,
button::-moz-focus-inner,
input::-moz-focus-inner,
option::-moz-focus-inner,
select::-moz-focus-inner,
textarea::-moz-focus-inner {
  padding: 0;
  border: 0
}

[role=button],
[role=link],
a,
button,
img,
option,
select {
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

:-moz-focusring {
  outline: 0
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

body {
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision
}

img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

input::-ms-clear {
  display: none
}

input::-webkit-textfield-decoration-container {
  background: transparent
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  display: none
}

input:invalid,
textarea:invalid {
  box-shadow: none;
}

input:-moz-submit-invalid,
textarea:-moz-submit-invalid {
  box-shadow: none;
}

input:-moz-ui-invalid,
textarea:-moz-ui-invalid {
  box-shadow: none;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[hidden] {
  display: none
}

svg {
  fill: none;
}

a {
  /* autoprefixer: off */
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
