<template>
  <div id="__case_single">
    <div class="case">
      <article class="case__wrapper">
        <header class="perfection">
          <div class="perfection--caption">
            <div class="perfection--caption__content">
              <span
                class="perfection--annotation"
                v-text="page.platform"
              />
              <h1
                class="perfection--title"
                v-text="page.title"
              />
            </div>
          </div>
          <div class="perfection--client">
            <span class="perfection--annotation">Клиент</span>
            <h3
              class="perfection--description"
              v-text="page.description"
            />
          </div>
          <div class="perfection--problem">
            <span class="perfection--annotation">Задача</span>
            <h3
              class="perfection--description"
              v-text="page.annotation"
            />
          </div>
          <button
            v-for="(type, index) in availableBy"
            :key="type"
            type="button"
            class="perfection--icon"
            :class="`perfection--icon-${index + 1}`"
            @click="onShareClick(type)"
          >
            <svg-icon :name="type" />
          </button>
        </header>
        <div class="case--content">
          <div
            class="case--article"
            v-html="page.content"
          />
        </div>
      </article>
      <aside class="case-aside">
        <v-card
          v-for="card in cards"
          :key="card.id"
          :model="card"
        />
      </aside>
    </div>
    <VBars />
  </div>
</template>

<script>
import {
  defineComponent,
  ref,
  computed,
  onMounted
} from '@vue/composition-api';
import VCard from '~/components/ui/VCard';
import VBars from '~/components/ui/VBars';

import { asyncPage } from '~/api/case';
import { interpretAsync } from '~/utils/data';
import { share, AVAILABLE } from '~/utils/share';
import seoMixin from '~/mixins/seo.js';
export default defineComponent({
  name: 'CasePageSingle',
  components: {
    VCard,
    VBars
  },
  mixins: [seoMixin],
  data() {
    return {
      seoTitle:
        'Размещайте рекламу у проверенных блогеров на YouTube и в Twitch',
      seoDesc:
        'Размещайте рекламу у проверенных блогеров на YouTube и в Twitch. Или присоедините свой канал к нашему многомиллионному сообществу',
      seoImg: '/og.jpg'
    };
  },
  head() {
    return {
      bodyAttrs: {
        class: ['theme-white']
      },
      link: [
        {
          rel: 'canonical',
          href: this.$route.path
        }
      ],
      title: this.seoTitle,
      meta: this.seometa
    };
  },
  mounted() {
    this.seoTitle = this.page.title;
    this.seoDesc = this.stripHtml(this.page.description).substring(0, 250);
  },
  middleware({ store }) {
    return Promise.all([store.dispatch('commercial/FETCH_PROJECT')]);
  },
  asyncData: ctx => asyncPage(ctx),
  setup(props, ctx) {
    const page = ref(interpretAsync(ctx)?.page);
    onMounted(async () => {
      page.value = (await asyncPage(ctx.root.context)).page;
    });

    const availableBy = AVAILABLE;
    const onShareClick = type => {
      if (page.value) {
        share(type, page.value.title, globalThis.location);
      }
    };

    const cards = computed(() => ctx.root.$store.state.commercial.project);

    return {
      page,
      cards,
      availableBy,
      onShareClick
    };
  }
});
</script>

<style lang="scss">
.perfection {
  display: grid;
  grid-template-columns: 1fr 54px;
  grid-template-rows: 2fr 2fr 2fr 2fr 1fr 1fr 2fr;
  grid-template-areas:
    "pt i1"
    "pt i2"
    "pt i3"
    "pc i4"
    "pc i5"
    "pp i5"
    "pp i6";

  grid-row-gap: 2px;
  grid-column-gap: 2px;
  background-color: $app-color-black;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 54px 54px 54px 54px 54px 54px 3fr;
    grid-template-rows: 1fr 1fr 54px;
    grid-template-areas:
      "pt pt pt pt pt pt pt pc"
      "pt pt pt pt pt pt pt pp"
      ". i1 i2 i3 i4 i5 i6 pp";

    grid-row-gap: 0px;
    grid-column-gap: 0px;
    background-color: $app-color-white;
  }

  &--caption,
  &--client,
  &--problem,
  &--icon {
    background-color: $app-color-white;
  }

  &--caption__content,
  &--client,
  &--problem {
    padding: 16px;
  }

  &--caption {
    grid-area: pt;

    &__content {
      @media (min-width: 1024px) {
        max-width: #{54px * 6};
        margin-left: auto;
        padding-left: 0;
      }
    }

    @media (min-width: 1024px) {
      border-bottom: 2px solid $app-color-black;
    }

    .perfection--annotation {
      text-transform: uppercase;
    }
  }

  &--client {
    grid-area: pc;

    @media (min-width: 1024px) {
      border-bottom: 2px solid $app-color-black;
      border-left: 2px solid $app-color-black;
    }
  }

  &--problem {
    grid-area: pp;

    @media (min-width: 1024px) {
      border-left: 2px solid $app-color-black;
    }
  }

  &--icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    @media (min-width: 1024px) {
      justify-content: flex-start;
    }

    .icon {
      display: block;
      height: 20px;
      width: 20px;
      fill: $app-color-black;
    }

    &-1 {
      grid-area: i1;
    }

    &-2 {
      grid-area: i2;
    }

    &-3 {
      grid-area: i3;
    }

    &-4 {
      grid-area: i4;
    }

    &-5 {
      grid-area: i5;
    }

    &-6 {
      grid-area: i6;
    }
  }

  &--annotation {
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: $app-color-light;
    margin-bottom: 16px;
  }

  &--title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

  &--description {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }
}

.case {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  &__wrapper {
    flex-grow: 0;
    flex-shrink: 0;

    /* grid in flex workaround */
    min-width: 0;
    width: 100%;

    @media (min-width: 1024px) {
      width: calc(100% - 360px);
    }
  }

  &__wrapper,
  &--content {
    border-top: 2px solid $app-color-black;
  }

  &--content {
    padding: 16px;

    font-size: 18px;
    line-height: 24px;

    @media (min-width: 1024px) {
      padding: 32px 0;

      display: grid;
      grid-template-columns: 1fr 324px 2fr 1fr;
      grid-template-rows: 1fr;

      grid-template-areas: ". cc cc .";
    }
  }

  &--article {
    @media (min-width: 1024px) {
      grid-area: cc;
    }

    img {
      display: block;

      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 512px;

      margin-left: auto;
      margin-right: auto;

      background-color: $app-color-black;
    }

    blockquote {
      display: block;

      text-align: center;
      font-size: 24px;
      line-height: 40px;

      border: 2px solid $app-color-black;

      padding: 16px;
      @media (min-width: 1024px) {
        padding: 48px 84px;
      }
    }

    section {
      display: block;

      border-top: 2px solid $app-color-black;

      margin: 0 -16px;

      @media (min-width: 1024px) {
        border: 2px solid $app-color-black;

        margin: 0;
      }

      ul {
        font-size: 18px;
        line-height: 32px;

        padding: 16px 16px 16px 24px;

        @media (min-width: 1024px) {
          padding: 16px 16px 16px 32px;
        }
      }

      li {
        position: relative;

        &:before {
          content: "\002D";

          position: absolute;
          left: -16px;
          top: 0;

          line-height: 32px;
          height: 32px;

          display: block;
        }
      }

      header {
        display: block;

        font-size: 30px;
        font-weight: 700;

        height: 72px;
        line-height: 72px;
        white-space: nowrap;

        border-bottom: 2px solid $app-color-black;

        padding: 0 16px;
      }

      b,
      strong {
        display: inline;

        font-weight: 400;

        background-color: $app-color-red;

        @media (min-width: 1024px) {
          padding: 0 2px;
        }

        &:before,
        &:after {
          content: "";
          display: block;
          line-height: 0;
          font-size: 0;

          @media (min-width: 1024px) {
            display: none;
          }
        }
      }
    }

    p,
    img,
    blockquote,
    section {
      margin-bottom: 16px;

      @media (min-width: 1024px) {
        margin-bottom: 32px;
      }
    }

    p,
    img,
    blockquote {
      &:last-child {
        margin-bottom: 0;
      }
    }

    section {
      &:last-child {
        margin-bottom: -16px;

        @media (min-width: 1024px) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.case-aside {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    width: 360px;
    border-left: 2px solid $app-color-black;
  }
}
</style>
