<template>
  <div id="__case">
    <template v-if="wide">
      <affix
        :relative-element-selector="affix.selector"
        :offset="affix.offset"
        class="cases-decoration cases-decoration--left"
      >
        <div class="cases-decoration--fill">
          <div class="cases-decoration--text">
            Более 150 проектов за 3 года
          </div>
        </div>
      </affix>
      <affix
        :relative-element-selector="affix.selector"
        :offset="affix.offset"
        class="cases-decoration cases-decoration--right"
      >
        <div class="cases-decoration--fill">
          <div
            v-for="(key, index) in cases.length"
            :key="key"
            class="cases-decoration--item"
            :class="{ 'cases-decoration--active': index === active }"
          />
        </div>
      </affix>
    </template>
    <div class="cases">
      <h1 class="cases--title">
        Избранные проекты
      </h1>
      <div class="cases--caption">
        <nuxt-link
          v-for="format in formats"
          :key="format.id"
          v-touchable
          :to="{ query: query(format) }"
          class="cases-label"
          :class="{ 'cases-label--active': isActive(format) }"
          v-text="format.label"
        />
      </div>
      <div class="cases-flow">
        <div
          v-for="(model, index) in cases"
          :key="model.id"
          ref="card"
          class="case-preview"
          :style="{ '--pr': pr[index] }"
        >
          <img
            class="case-preview--image"
            :src="model.image"
            :alt="model.title"
            :title="model.title"
          >
          <nuxt-link
            v-touchable
            :to="`/case/${model.url}`"
            class="case-preview-card"
          >
            <div
              class="case-preview-card--tag"
              v-text="model.tag"
            />
            <div
              class="case-preview-card--date"
              v-text="model.date"
            />
            <div
              class="case-preview-card--title"
              v-text="model.title"
            />
            <div
              class="case-preview-card--annotation"
              v-text="'Клиент'"
            />
            <div
              class="case-preview-card--description"
              v-text="model.description"
            />
            <icon-next class="case-preview-card--arrow" />
          </nuxt-link>
        </div>
      </div>
      <div class="cases-pagination">
        <v-pagination
          :meta="meta"
          fill
        />
      </div>
    </div>
  </div>
</template>

<script>
import {
  defineComponent,
  ref,
  computed,
  onMounted,
  onBeforeUnmount
} from '@vue/composition-api';

import IconNext from '~/assets/images/next.svg?inline';
import VPagination from '~/components/util/VPagination';
import Affix from 'vue-affix/src/affix.vue';

import { asyncCase } from '~/api/case';
import { interpretAsync } from '~/utils/data';
import findLastIndex from 'lodash/findLastIndex';
import seoMixin from '~/mixins/seo.js';
export default defineComponent({
  mixins: [seoMixin],
  data() {
    return {
      seoTitle: 'Избранные проекты интеграций | Imbalance',
      seoDesc: 'Кейсы нашей компании по продвижению через блогеров',
      seoImg: '/og.jpg'
    };
  },
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href: this.$route.path
        }
      ],
      title: this.seoTitle,
      meta: this.seometa
    };
  },
  name: 'CasePage',
  components: {
    IconNext,
    VPagination,
    Affix
  },
  middleware({ store }) {
    return Promise.all([store.dispatch('FETCH_FORMATS')]);
  },
  watchQuery: true,
  asyncData: ctx => asyncCase(ctx),
  setup(props, ctx) {
    const formats = computed(() => ctx.root.$store.state.formats);

    const all = ref(interpretAsync(ctx)?.cases);
    const meta = ref(interpretAsync(ctx)?.meta);

    onMounted(async () => {
      const response = await asyncCase(ctx.root.context);
      all.value = response.cases;
      meta.value = response.meta;
    });

    const pr = ref({});
    const update = () => {
      if (globalThis.innerWidth < 1024) {
        return;
      }
      const max = 0.2 * globalThis.innerHeight;
      if (ctx.refs.card) {
        pr.value = ctx.refs.card.reduce((acc, el, i) => {
          if (el) {
            const size = globalThis.innerHeight - el.offsetHeight;
            let percent =
              1 - (globalThis.pageYOffset + size - el.offsetTop) / (size - 96);
            if (percent < 0) {
              percent = 0;
            }
            if (percent > 1) {
              percent = 1;
            }
            acc[i] = `${max * percent}px`;
          }
          return acc;
        }, {});
      } else {
        pr.value = {};
      }
    };
    onMounted(() => {
      update();
      ctx.root.$bus.on('scroll', update);
      ctx.root.$bus.on('resize', update);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('scroll', update);
      ctx.root.$bus.off('resize', update);
    });

    const isActive = format => {
      return +ctx.root.context.route.query.format === format.id;
    };
    const query = format => {
      return isActive(format) ? null : { format: format.id };
    };

    const affix = {
      offset: {
        top: 96,
        bottom: 0
      },
      selector: '#__case'
    };

    const wide = ref(false);
    const check = () => {
      wide.value = globalThis.innerWidth >= 1024;
    };
    onMounted(() => {
      check();
      ctx.root.$bus.on('resize', check);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('resize', check);
    });

    const active = ref(0);
    const updateActive = () => {
      if (globalThis.innerWidth < 1024) {
        return;
      }
      const index = findLastIndex(ctx.refs.card, el => {
        return el.offsetTop - 0.5 * el.offsetHeight < globalThis.pageYOffset;
      });
      active.value = index === -1 ? 0 : index;
    };
    onMounted(() => {
      updateActive();
      ctx.root.$bus.on('scroll', updateActive);
      ctx.root.$bus.on('resize', updateActive);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('scroll', updateActive);
      ctx.root.$bus.off('resize', updateActive);
    });

    return {
      pr,
      all,
      formats,
      meta,
      query,
      isActive,
      affix,
      wide,
      active
    };
  }
});
</script>

<style lang="scss">
#__case {
  position: relative;
}

.cases {
  background-color: $app-color-black;

  &-decoration {
    position: fixed;
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }

    &.affix-top {
      position: absolute;
    }

    &.affix-bottom {
      position: absolute;
    }

    &--left {
      left: 16px;

      @media (min-width: 1440px) {
        left: 80px;
      }
    }

    &--right {
      right: 16px;

      @media (min-width: 1440px) {
        right: 80px;
      }
    }

    &--item {
      width: 18px;
      height: 18px;

      margin-bottom: 8px;

      background-color: $app-color-black;
      transition: background-color 0.3s ease;
      border: 2px solid $app-color-white;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--active {
      background-color: $app-color-white;
    }

    &--text {
      transform-origin: 0 0;
      transform: rotate(-90deg) translateX(-50%);
      position: absolute;
      left: 100%;
      top: 50%;

      line-height: 18px;
      font-size: 18px;
      font-weight: 700;

      white-space: nowrap;
    }

    &--fill {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-align: center;

      height: calc(var(--vh, 1vh) * 100 - 96px);

      color: $app-color-white;
    }
  }

  &-flow {
    display: inline-block;
    width: 100%;
    padding: 32px 0 32px 0;
  }

  &-pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    padding-bottom: 32px;
  }

  &--title {
    line-height: 30px;
    font-size: 30px;
    font-weight: 700;

    text-align: center;

    color: $app-color-white;

    padding: 12px 0;

    @media (min-width: 1024px) {
      font-size: 54px;
      line-height: 54px;

      padding: 32px 0;
    }
  }

  &--caption {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;

    color: $app-color-white;

    padding: 12px 0;

    @media (min-width: 1024px) {
      padding: 32px 0;
    }
  }

  &-label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    color: $app-color-white;

    height: 32px;
    line-height: 12px;
    font-size: 12px;
    text-align: center;

    padding: 2px 12px;
    margin: 4px;
    max-width: 108px;

    border: 2px solid $app-color-white;

    background-size: 200% 100%;
    background-image: linear-gradient(
      to right,
      $app-color-white 50%,
      transparent 50%
    );
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: background-position 0.3s cubic-bezier(1, 0, 0.5, 1) 0s,
      color 0.3s ease 0.1s;

    &:active,
    &--active {
      color: $app-color-black;
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      &:hover {
        color: $app-color-black;
        background-position: 0 0;
      }
    }
  }
}

.case-preview {
  position: relative;

  &-card {
    &:active {
      .case-preview-card {
        &--arrow {
          .inner {
            transform: translateX(42px);
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {
    width: 844px;
    margin: 0 auto 20vh auto;

    &-card {
      &:hover {
        .case-preview-card {
          &--arrow {
            .inner {
              transform: translateX(42px);
            }
          }
        }
      }
    }

    &:nth-child(even) {
      padding: 0 0 112px 112px;

      .case-preview-card {
        left: 0;
        right: auto;

        &--tag {
          left: 0;
          right: auto;
        }

        &--date {
          left: auto;
          right: 20px;
        }
      }
    }

    &:nth-child(odd) {
      padding: 0 112px 112px 0;
    }
  }

  &--image {
    display: block;

    width: 100%;
    height: auto;

    @media (min-width: 1024px) {
      min-height: 20vh;
    }
  }

  &-card {
    display: block;
    position: relative;

    color: $app-color-black;
    background-color: $app-color-white;

    padding: 44px 20px 20px 20px;

    @media (min-width: 1024px) {
      position: absolute;

      bottom: 0;
      right: 0;

      width: 422px;
      height: 422px;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;

      padding: 84px 20px 20px 20px;

      transform: translate3d(0, var(--pr, 20vh), 0);
      transition: transform 0.3s ease-out;
      backface-visibility: hidden;
      will-change: transform;
    }

    &--description {
      line-height: 24px;
      font-size: 24px;
      font-weight: 700;

      padding-right: 124px;

      margin-top: 8px;

      @media (min-width: 1024px) {
        margin-bottom: 16px;
      }
    }

    &--annotation {
      line-height: 24px;
      font-size: 14px;

      margin-top: 20px;

      @media (min-width: 1024px) {
        margin-top: auto;
      }
    }

    &--tag {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;

      position: absolute;

      top: 0;
      right: 0;

      color: $app-color-white;
      background-color: $app-color-red;

      line-height: 14px;
      font-size: 14px;
      height: 32px;

      padding: 2px 12px;

      text-align: center;

      @media (min-width: 1024px) {
        width: 112px;
      }
    }

    &--date {
      line-height: 32px;
      font-size: 14px;

      position: absolute;

      top: 0;
      left: 20px;

      @media (min-width: 1024px) {
        top: 40px;
      }
    }

    &--title {
      line-height: 40px;
      font-size: 32px;
      font-weight: 700;
    }

    &--arrow {
      display: block;
      position: absolute;

      right: 20px;
      bottom: 20px;

      height: 48px;
      width: 84px;

      .inner {
        transform: translateX(28px);

        transition: transform 0.3s ease-in-out 0s;
      }
    }
  }
}
</style>
