<template>
  <div
    id="__content"
    :style="{ '--vh': vh }"
  >
    <the-header />
    <nuxt />
    <the-footer />
    <the-scroll />
    <the-preloader v-if="production" />
  </div>
</template>

<script>
import { defineComponent, ref, onMounted, onBeforeUnmount } from '@vue/composition-api';

import TheHeader from '~/components/structure/TheHeader';
import TheFooter from '~/components/structure/TheFooter';
import ThePreloader from '~/components/core/ThePreloader';
import TheScroll from '~/components/core/TheScroll';

export default defineComponent({
  name: 'Layout',
  components: {
    TheHeader,
    TheFooter,
    ThePreloader,
    TheScroll
  },
  setup(props, ctx) {
    const production = ref(process.env.NODE_ENV === 'production');

    const vh = ref(null);
    const updateOnResize = () => {
      vh.value = `${globalThis.innerHeight / 100}px`;
    };
    onMounted(() => {
      updateOnResize();
      ctx.root.$bus.on('resize', updateOnResize);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('resize', updateOnResize);
    });

    return {
      production,
      vh
    };
  }
});
</script>

<style lang="scss">
#__content {
  padding-top: 96px;
}
</style>
