<template>
  <div id="__error">
    <div class="error">
      <div class="error-grid">
        <span
          v-for="(value, index) in matrix"
          :key="key(value, index)"
          :class="value && 'error-fill'"
          @click="onMatrixClick(index)"
        />
        <div class="error-content">
          <div class="error--title">
            Ой, кажется тут никого нет!
          </div>
          <div class="error--description">
            Могу посоветовать вернуться на <nuxt-link
              to="/"
              class="error--link"
              v-text="'главную'"
            /> и поискать там!
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref } from '@vue/composition-api';

export default defineComponent({
  name: 'Error',
  layout: 'default',
  head() {
    return {
      bodyAttrs: {
        class: ['footless']
      },
      meta: [
        { name: 'robots', vmid: 'robots', hid: 'robots', content: 'noindex,nofollow' }
      ]
    };
  },
  setup() {
    const matrix = ref([
      1, 0, 1, 0, 0, 0, 1, 0, 1,
      1, 1, 1, 0, 1, 0, 1, 1, 1,
      0, 0, 1, 0, 0, 0, 0, 0, 1
    ]);

    const onMatrixClick = (index) => {
      matrix.value[index] = !matrix.value[index];
      matrix.value = matrix.value.slice(0);
    };

    const key = (value, index) => {
      return value + (index << 2);
    };

    return {
      key,
      matrix,
      onMatrixClick
    };
  }
});
</script>

<style lang="scss">
#__error {
  color: $app-color-white;
  background-color: $app-color-black;
}

.error {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  min-height: calc(var(--vh, 1vh) * 100 - 96px);

  &-grid {
    display: grid;
    grid-template-columns: repeat(9, 10vw);
    grid-template-rows: repeat(3, 10vw) 1fr;

    background-color: $app-color-white;
    padding: 2px;
    grid-gap: 2px;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(9, 100px);
      grid-template-rows: repeat(3, 100px) 1fr;
    }
  }

  &-content {
    grid-column-start: 1;
    grid-column-end: 10;

    background-color: $app-color-black;

    padding: 8px;

    @media (min-width: 375px) {
      padding: 16px;
    }

    @media (min-width: 1024px) {
      padding: 32px;
    }

    @media (min-width: 1440px) {
      padding: 64px 80px;
    }
  }

  span {
    background-color: $app-color-black;
    transition: background-color .3s ease;

    cursor: pointer;

    &.error-fill {
      background-color: $app-color-red;
    }
  }

  &--title {
    line-height: 24px;
    font-size: 18px;
    font-weight: 700;

    margin-bottom: 8px;

    @media (min-width: 1024px) {
      line-height: 32px;
      font-size: 28px;

      margin-bottom: 32px;
    }
  }

  &--description {
    line-height: 22px;
    font-size: 18px;

    @media (min-width: 1024px) {
      line-height: 32px;
      font-size: 24px;
    }
  }

  &--link {
    color: $app-color-white;
    background-color: $app-color-red;

    margin: 0 4px;
    box-shadow: -4px 0 0 $app-color-red, 4px 0 0 $app-color-red;
    box-decoration-break: clone;
  }
}
</style>
