<template>
  <div id="__blog-single">
    <article>
      <header
        class="grace"
        :style="{ '--preview': `url('${page.preview}')` }"
      >
        <div class="grace--base">
          <div class="grace--caption">
            <div class="grace__labels">
              <span
                v-for="tag in page.tags"
                :key="tag.label"
                class="grace--label"
                v-text="tag.label"
              />
            </div>
            <div class="grace__content">
              <div class="grace--annotation">
                Команда imbalance
              </div>
              <h1
                class="grace--title"
                v-text="page.title"
              />
              <div class="grace--contact">
                <a
                  v-if="links.email"
                  :href="links.email.url"
                  target="_blank"
                  rel="noopener"
                  class="grace--contact-link"
                  v-text="links.email.value"
                />
                <a
                  v-if="links.tg"
                  :href="links.tg.url"
                  target="_blank"
                  rel="noopener"
                  class="grace--contact-link"
                >Telegram / {{ links.tg.value }}</a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="article--container">
        <div
          ref="dynamic"
          class="article--content"
          v-html="page.content"
        />
      </div>
      <v-bars />
      <v-feed v-if="false" />
      <v-comments
        :model="comments"
        @update="updateComments"
      />
    </article>
  </div>
</template>

<script>
import {
  defineComponent,
  computed,
  ref,
  onMounted,
  onBeforeUnmount
} from '@vue/composition-api';

import VBars from '~/components/ui/VBars';
import VFeed from '~/components/ui/VFeed';
import VComments from '~/components/ui/VComments';

import { asyncPage } from '~/api/blog';
import { interpretAsync } from '~/utils/data';

import forEach from 'lodash/forEach';
import filter from 'lodash/filter';
import map from 'lodash/map';
import seoMixin from '~/mixins/seo.js';
export default defineComponent({
  mixins: [seoMixin],
  data() {
    return {
      seoTitle:
        'Размещайте рекламу у проверенных блогеров на YouTube и в Twitch',
      seoDesc:
        'Размещайте рекламу у проверенных блогеров на YouTube и в Twitch. Или присоедините свой канал к нашему многомиллионному сообществу',
      seoImg: '/og.jpg'
    };
  },
  mounted() {
    this.seoTitle = this.page.title;
    this.seoDesc = this.stripHtml(this.page.content).substring(0, 250);
  },
  head() {
    return {
      bodyAttrs: {
        class: ['theme-white']
      },
      link: [
        {
          rel: 'canonical',
          href: this.$route.path
        }
      ],
      title: this.seoTitle,
      meta: this.seometa
    };
  },
  name: 'BlogPageSingle',
  components: {
    VBars,
    VFeed,
    VComments
  },
  asyncData: ctx => asyncPage(ctx),
  setup(props, ctx) {
    const page = ref(interpretAsync(ctx)?.page);
    const comments = ref(interpretAsync(ctx)?.comments);
    onMounted(async () => {
      const response = await asyncPage(ctx.root.context);
      page.value = response.page;
      comments.value = response.comments;
    });
    const updateComments = async () => {
      const response = await asyncPage(ctx.root.context);
      comments.value = response.comments;
    };

    const dynamic = ref(null);
    let items = null;
    let frames = null;
    let loaded = 0;
    let total = 0;
    let max = 0;
    const storeGrid = () => {
      if (globalThis.innerWidth < 1024) {
        return;
      }

      if (dynamic.value) {
        frames = dynamic.value.getElementsByTagName('iframe');

        const sections = dynamic.value.getElementsByTagName('section');

        const exclude = [];
        forEach(sections, section => {
          exclude.push(...section.getElementsByTagName('img'));
        });
        const imgs = dynamic.value.getElementsByTagName('img');
        total = imgs.length;
        forEach(imgs, img => {
          img.onload = () => {
            loaded++;
            img.className = 'image--loaded';

            if (loaded === total) {
              ctx.root.$bus.emit('grid:ready');
            }
          };
        });

        const single = filter(imgs, img => {
          return !exclude.includes(img);
        });

        items = [...single, ...sections];

        if (total === 0) {
          ctx.root.$bus.emit('grid:ready');
        }
      }
    };
    const updateGrid = () => {
      if (dynamic.value) {
        forEach(items, item => {
          item.style.display = '';
        });
      }

      if (globalThis.innerWidth < 1024) {
        return;
      }

      if (!items || !frames) {
        storeGrid();
      }

      if (dynamic.value) {
        max = dynamic.value.offsetHeight;

        let current = globalThis.innerWidth >= 1440 ? 64 : 32;

        if (frames.length > 0) {
          const locks = map(frames, frame => {
            return {
              top: frame.offsetTop,
              bottom: frame.offsetTop + frame.offsetHeight
            };
          });

          let next;
          let iter = 0;

          let lastCurrent;
          let lastIter;

          forEach(items, item => {
            lastCurrent = current;
            lastIter = iter;

            next = current + item.offsetHeight + 16;

            if (iter < locks.length) {
              if (next > locks[iter].top) {
                current = locks[iter].bottom + 16;
                next = current + item.offsetHeight + 16;
                iter++;
              }
            }

            if (next > max) {
              item.style.display = 'none';
              current = lastCurrent;
              iter = lastIter;
            } else {
              item.style.top = `${current}px`;
              current += item.offsetHeight + 16;
            }
          });
        } else {
          forEach(items, item => {
            item.style.top = `${current}px`;
            current += item.offsetHeight + 16;
          });
        }
      }
    };
    onMounted(() => {
      ctx.root.$bus.on('grid:ready', updateGrid);
      storeGrid(); // reqiured
      ctx.root.$bus.on('resize', updateGrid);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('grid:ready', updateGrid);
      ctx.root.$bus.off('resize', updateGrid);
    });

    const links = computed(() => ctx.root.$store.state.links);

    return {
      page,
      comments,
      dynamic,
      links,
      updateComments
    };
  }
});
</script>

<style lang="scss">
.article {
  // todo
  &--container {
    position: relative;

    @media (min-width: 1024px) {
      padding: 16px;
    }

    @media (min-width: 1440px) {
      padding: 48px 20px;
    }
  }

  &--content {
    padding: 16px;

    @media (min-width: 1024px) {
      margin-left: 50%;
      width: 50%;

      padding: 16px 24px 16px 16px;
    }

    img {
      display: inline-block;
      width: calc(100% + 32px);
      height: auto;
      max-width: none;
      margin: 0 -16px 16px -16px;

      @media (min-width: 1024px) {
        position: absolute;
        top: 0;
        left: 16px;

        width: calc(50% - 32px);
        margin: 0;
      }

      @media (min-width: 1440px) {
        left: 40px;
        width: calc(50% - 56px);
      }
    }

    section {
      width: calc(100% + 32px);
      margin: 0 -16px 16px -16px;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;

      grid-gap: 2px;

      img {
        position: static;

        width: 100%;
        margin: 0;
      }

      @media (min-width: 1024px) {
        position: absolute;
        top: 0;
        left: 16px;

        width: calc(50% - 32px);
        margin: 0;

        grid-gap: 16px;
      }

      @media (min-width: 1440px) {
        left: 40px;
        width: calc(50% - 56px);
      }
    }

    iframe {
      display: block;

      width: calc(100% + 32px);
      margin: 0 -16px 16px -16px;

      height: 56.25vw;

      @media (min-width: 1024px) {
        width: calc(200% + 64px);
        margin-left: calc(-100% - 48px);
      }
    }

    p {
      line-height: 22px;
      font-size: 18px;

      margin-bottom: 16px;

      @media (min-width: 1024px) {
        line-height: 40px;
        font-size: 24px;
      }
    }

    h2,
    h3 {
      display: inline-block;
      width: 100%;
      margin: 24px 0 40px 0;
    }

    h2 {
      line-height: 32px;
      font-size: 28px;
      font-weight: 700;

      @media (min-width: 1024px) {
        line-height: 40px;
        font-size: 36px;
      }
    }

    h3 {
      line-height: 32px;
      font-size: 24px;

      @media (min-width: 1024px) {
        line-height: 40px;
        font-size: 32px;
      }
    }

    img,
    section,
    iframe,
    p,
    h2,
    h3 {
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    & > img,
    section,
    iframe {
      &:first-child {
        margin-top: -16px;

        @media (min-width: 1024px) {
          margin-top: 0;
        }
      }
    }
  }
}

.grace {
  color: $app-color-white;
  background-color: $app-color-black;

  min-height: calc(var(--vh, 1vh) * 100 - 96px);

  position: relative;

  background-image: var(--preview);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--base {
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: 2;

    width: 100%;
    height: 100%;

    background-color: transparentize($color: $app-color-black, $amount: 0.3);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    padding: 16px;

    @media (min-width: 1024px) {
      flex-direction: column;
      justify-content: flex-end;
    }

    @media (min-width: 1440px) {
      padding: 16px 40px;
    }
  }

  &--caption {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;

    @media (min-width: 1024px) {
      flex-direction: row;
      align-content: center;
      align-items: center;
    }
  }

  &--title {
    font-size: 32px;
    line-height: 40px;
    margin: 16px 0;

    @media (min-width: 375px) {
      margin: 32px 0;
    }

    @media (min-width: 1024px) {
      font-size: 36px;
      margin: 32px 0 64px 0;
    }
  }

  &--annotation {
    font-size: 14px;
    line-height: 20px;

    text-transform: uppercase;

    @media (min-width: 1024px) {
      font-size: 16px;
    }
  }

  &--contact {
    font-size: 16px;
    line-height: 24px;

    &-link {
      display: block;
      color: $app-color-white;
    }
  }

  &--label {
    display: block;
    color: $app-color-white;

    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;

    padding: 0 12px;
    margin-bottom: 12px;

    min-width: 160px;

    border: 2px solid $app-color-white;
    background-color: transparent;

    @media (min-width: 375px) {
      min-width: 180px;
    }

    @media (min-width: 1024px) {
      margin-right: 40px;
    }
  }

  &__content {
    @media (min-width: 1024px) {
      flex-shrink: 1;
      flex-grow: 0;
      flex-basis: 50%;
      margin-left: auto;
    }
  }

  &__labels {
    @media (min-width: 1024px) {
      flex-shrink: 1;
      flex-grow: 0;
      max-width: 50%;
      margin-right: auto;

      display: grid;
      grid-template-columns: repeat(2, minmax(180px, 1fr));
      grid-auto-rows: auto;
    }
  }
}
</style>
