<template>
  <div id="__blog">
    <div class="blog">
      <template v-if="search">
        <div class="blog__search">
          <v-search :model="search" />
        </div>
      </template>
      <template v-else>
        <div class="blog__wrapper">
          <div class="blog--content">
            <div class="blog-slider">
              <affix
                class="blog-affix"
                :class="{ 'blog-affix--static': !wide }"
                :relative-element-selector="affix.selector"
                :offset="affix.offset"
                :enabled="wide"
                :style="{ width }"
              >
                <v-gallery
                  :auto-update="false"
                  :model="cards.top"
                  @init="onGalleryInit"
                />
              </affix>
            </div>
            <div
              id="__affix"
              ref="__affix"
              class="blog--flow"
            >
              <div class="blog-feed">
                <nuxt-link
                  v-for="card in cards.primary"
                  :key="card.id"
                  v-touchable
                  :to="`/blog/${card.url}`"
                  class="blog-feed-card"
                >
                  <img
                    class="blog-feed-card--image"
                    :src="card.image"
                    :alt="card.caption"
                    :title="card.caption"
                  >
                  <div
                    class="blog-feed-card--tag"
                    v-text="card.tag"
                  />
                  <div
                    class="blog-feed-card--caption"
                    v-text="card.caption"
                  />
                </nuxt-link>
              </div>
              <blockquote class="blog-quote">
                Introducing the definitive directory of
                -approved design firms, brands, and more.
                <footer class="blog-quote--tag">
                  See Who's on The List
                </footer>
              </blockquote>
              <div class="blog-partner">
                <img
                  class="blog-partner--image"
                  :src="'https://picsum.photos/seed/imbapartner_2/520/262'"
                  alt="Image"
                  title="Image"
                >
                <div
                  class="blog-partner--tag"
                  v-text="'Partnership'"
                />
                <div
                  class="blog-partner--caption"
                  v-text="'A Global Hotel Brand with a Local Spirit'"
                />
                <div
                  class="blog-partner--content"
                  v-text="'Through dynamic contextual design and neighborhood-centric influences, each Renaissance Hotel tells the story of its locale.'"
                />
              </div>
              <div class="blog-feed">
                <nuxt-link
                  v-for="card in cards.secondary"
                  :key="card.id"
                  v-touchable
                  :to="`/blog/${card.url}`"
                  class="blog-feed-card"
                >
                  <img
                    class="blog-feed-card--image"
                    :src="card.image"
                    :alt="card.caption"
                    :title="card.caption"
                  >
                  <div
                    class="blog-feed-card--tag"
                    v-text="card.tag"
                  />
                  <div
                    class="blog-feed-card--caption"
                    v-text="card.caption"
                  />
                </nuxt-link>
              </div>
            </div>
          </div>
          <v-gallery :model="cards.bottom" />
          <v-feed
            :model="cards.other"
            flat
          />
          <div class="blog-pagination">
            <v-pagination
              :meta="meta"
              bright
            />
          </div>
        </div>
      </template>
      <aside class="blog-aside">
        <label class="blog-search--inline">
          <span class="blog-search--caption">Поиск</span>
          <input
            v-model.trim="search"
            class="blog-search--field"
          >
        </label>
        <header class="blog-theme--caption">
          Самые горячие темы
        </header>
        <nuxt-link
          v-touchable
          :to="`/blog/${cards.best.url}`"
          class="blog-theme"
        >
          <div
            class="blog-theme--tag"
            v-text="'1'"
          />
          <div
            class="blog-theme--title"
            v-text="cards.best.caption"
          />
          <div
            class="blog-theme--content"
            v-text="cards.best.content"
          />
          <div
            class="blog-theme--annotation"
            v-text="'Дальше'"
          />
        </nuxt-link>
        <nuxt-link
          v-for="card in cards.aside"
          :key="card.id"
          v-touchable
          :to="`/blog/${card.url}`"
          class="blog-fast"
        >
          <img
            class="blog-fast--image"
            :src="card.image"
            :alt="card.caption"
            :title="card.caption"
          >
          <div
            class="blog-fast--caption"
            v-text="card.caption"
          />
        </nuxt-link>
      </aside>
    </div>
  </div>
</template>

<script>
import {
  defineComponent,
  ref,
  watch,
  onMounted,
  onBeforeUnmount,
  onUnmounted
} from '@vue/composition-api';

import Affix from 'vue-affix/src/affix.vue';
import VFeed from '~/components/ui/VFeed';
import VGallery from '~/components/util/VGallery';
import VSearch from '~/components/util/VSearch';
import VPagination from '~/components/util/VPagination';

import { asyncBlog } from '~/api/blog';
import { interpretAsync } from '~/utils/data';
import seoMixin from '~/mixins/seo.js';
export default defineComponent({
  mixins: [seoMixin],
  data() {
    return {
      seoTitle: 'Блог',
      seoDesc:
        'Размещайте рекламу у проверенных блогеров на YouTube и в Twitch. Или присоедините свой канал к нашему многомиллионному сообществу',
      seoImg: '/og.jpg'
    };
  },
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href: this.$route.path
        }
      ],
      title: this.seoTitle,
      meta: this.seometa
    };
  },
  name: 'BlogPage',
  components: {
    Affix,
    VFeed,
    VGallery,
    VSearch,
    VPagination
  },
  watchQuery: true,
  asyncData: ctx => asyncBlog(ctx),
  setup(props, ctx) {
    const wide = ref(false);
    const detectWide = () => {
      wide.value = globalThis.innerWidth >= 1024;
    };
    onMounted(() => {
      detectWide();
      ctx.root.$bus.on('resize', detectWide);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('resize', detectWide);
    });

    const __affix = ref(null);
    const affix = {
      offset: {
        top: 96,
        bottom: 0
      },
      selector: '#__affix'
    };
    let gallery = null;
    const onGalleryInit = instance => {
      gallery = instance;
    };
    const width = ref('100%');
    const updateAffix = () => {
      if (__affix.value) {
        width.value = `${__affix.value.offsetWidth}px`;
      }

      if (gallery) {
        ctx.root.$nextTick(() => {
          gallery.update();
        });
      }
    };
    onMounted(() => {
      updateAffix();
      ctx.root.$bus.on('resize', updateAffix);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('resize', updateAffix);
    });
    onUnmounted(() => {
      gallery = null; // important
    });

    const search = ref(null);
    onMounted(() => {
      watch(search, search => {
        if (!search) {
          ctx.root.$nextTick(() => {
            globalThis.requestAnimationFrame(updateAffix);
          });
        }
      });
    });

    const cards = ref(interpretAsync(ctx)?.cards);
    const meta = ref(interpretAsync(ctx)?.meta);
    onMounted(async () => {
      const response = await asyncBlog(ctx.root.context);
      cards.value = response.cards;
      meta.value = response.meta;
    });

    return {
      __affix,
      affix,
      width,
      wide,
      onGalleryInit,
      search,
      cards,
      meta
    };
  }
});
</script>

<style lang="scss">
.blog {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  &-pagination {
    padding: 16px;

    @media (min-width: 1440px) {
      padding: 16px 80px;
    }
  }

  &-fast {
    display: block;
    padding: 20px 6px;
    margin: 0 10px;

    color: $app-color-black;

    border-top: 1px solid $app-color-beard;

    &:active {
      .blog-fast {
        &--caption {
          text-decoration: underline;
        }
      }
    }

    @media (min-width: 1024px) {
      &:hover {
        .blog-fast {
          &--caption {
            text-decoration: underline;
          }
        }
      }
    }

    &--image {
      display: block;

      width: 100%;
      height: auto;

      margin-bottom: 16px;
    }

    &--caption {
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
    }
  }

  &-theme {
    color: $app-color-black;

    display: block;
    padding: 16px;

    &--caption {
      font-size: 10px;
      line-height: 10px;
      text-transform: uppercase;
      text-align: center;

      padding: 20px 0;

      border-top: 2px solid $app-color-black;
      border-bottom: 2px solid $app-color-black;
    }

    &--tag {
      font-size: 16px;
      line-height: 16px;

      text-align: center;

      margin-bottom: 16px;
    }

    &--title {
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;

      text-align: center;

      margin-bottom: 16px;
    }

    &--content {
      font-size: 12px;
      line-height: 20px;

      text-align: center;

      margin-bottom: 8px;
    }

    &--annotation {
      font-size: 10px;
      line-height: 10px;

      text-transform: uppercase;
      text-align: center;
    }

    @media (min-width: 1024px) {
      &:hover {
        .blog-theme {
          &--annotation {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &-search {
    &--inline {
      display: block;
      padding: 20px 16px;
    }

    &--caption {
      display: block;
      color: $app-color-red;

      font-size: 18px;
      line-height: 18px;
    }

    &--field {
      margin-top: 16px;
    }
  }

  &__wrapper,
  &__search {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
  }

  &--content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &-quote {
    border-top: 2px solid $app-color-black;
    border-bottom: 2px solid $app-color-black;

    padding: 32px;

    font-size: 40px;
    line-height: 40px;

    &--tag {
      font-size: 12px;
      line-height: 12px;

      text-transform: uppercase;

      margin-top: 16px;
    }
  }

  &-partner {
    @media (min-width: 1024px) {
      padding: 32px 32px 16px 32px;
    }

    &--image {
      display: block;

      width: 100%;
      height: auto;
    }

    &--tag {
      font-size: 12px;
      line-height: 12px;

      text-transform: uppercase;

      margin-top: 16px;
      padding: 0 16px;

      @media (min-width: 1024px) {
        padding: 0;
      }
    }

    &--caption {
      font-size: 40px;
      line-height: 40px;

      margin-top: 16px;
      padding: 0 16px;

      @media (min-width: 1024px) {
        padding: 0;
      }
    }

    &--content {
      font-size: 20px;
      line-height: 20px;

      margin-top: 8px;
      padding: 0 16px;

      @media (min-width: 1024px) {
        padding: 0;
      }
    }
  }

  &-slider,
  &--flow {
    flex-shrink: 0;
    flex-grow: 0;

    @media (min-width: 1024px) {
      flex-basis: 50%;
    }
  }

  &--flow {
    @media (min-width: 1024px) {
      border-left: 2px solid $app-color-black;
    }
  }

  &-feed {
    padding: 32px 32px 0 32px;

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;

      padding: 16px 32px 0 32px;
    }

    @media (min-width: 1440px) {
      padding: 16px 0 0 32px;
    }

    &-card {
      display: block;
      position: relative;

      overflow: hidden;

      color: $app-color-black;
      background-color: $app-color-white;

      margin-bottom: 32px;

      &:active {
        .blog-feed {
          &-card {
            &--caption {
              text-decoration: underline;
            }
          }
        }
      }

      @media (min-width: 1024px) {
        &:hover {
          .blog-feed {
            &-card {
              &--caption {
                text-decoration: underline;
              }
            }
          }
        }
      }

      @media (min-width: 1440px) {
        width: calc(50% - 32px);
        margin-right: 32px;
      }

      &--image {
        display: block;
        width: 100%;
        height: auto;
      }

      &--tag {
        font-size: 10px;
        line-height: 10px;
        height: 10px;
        margin-top: 16px;

        text-transform: uppercase;
      }

      &--caption {
        & {
          /* autoprefixer: off */
          display: -moz-box;
          display: -webkit-box;
          display: box;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          -moz-box-orient: vertical;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;

        @media (min-width: 1024px) {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }

  &-slider {
    position: relative;
  }

  &-affix {
    width: 100%;

    &--static {
      position: static;
    }

    .gallery {
      max-height: calc(var(--ih, 1vh) * 100 - 96px);
    }

    @media (min-width: 1024px) {
      top: 0;
      left: 0;

      &.affix {
        position: fixed;
      }

      &,
      &.affix-bottom {
        position: absolute;
      }
    }
  }
}

.blog-aside {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    width: 242px;
    border-left: 2px solid $app-color-black;
  }
}
</style>
