<template>
  <div
    :id="`__${slug}`"
    class="common"
  >
    <h1
      class="common--caption"
      v-text="title"
    />
    <div
      class="common--content"
      v-html="content"
    />
  </div>
</template>

<script>
import { defineComponent, onMounted, ref } from '@vue/composition-api';

import { asyncPage } from '~/api/pages';
import { interpretAsync } from '~/utils/data';
import seoMixin from '~/mixins/seo.js';

export default defineComponent({
  mixins: [seoMixin],
  data() {
    return {
      seoTitle:
        'Размещайте рекламу у проверенных блогеров на YouTube и в Twitch',
      seoDesc:
        'Размещайте рекламу у проверенных блогеров на YouTube и в Twitch. Или присоедините свой канал к нашему многомиллионному сообществу',
      seoImg: '/og.jpg'
    };
  },
  mounted() {
    this.seoTitle = this.title;
    this.seoDesc = this.stripHtml(this.content).substring(0, 250);
  },
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href: this.$route.path
        }
      ],
      title: this.seoTitle,
      meta: this.seometa
    };
  },
  name: 'SlugPage',
  asyncData: ctx => asyncPage(ctx),
  setup(props, ctx) {
    const page = ref(interpretAsync(ctx));

    onMounted(async () => {
      page.value = await asyncPage(ctx.root.context);
    });

    return page;
  }
});
</script>

<style lang="scss">
.common {
  max-width: 900px;
  margin: 0 auto;
  padding: 16px;

  @media (min-height: 482px) {
    min-height: calc(var(--vh, 1vh) * 100 - 482px);
  }

  @media (min-width: 1024px) {
    padding: 16px 0;
  }

  @media (min-width: 1024px) {
    padding: 80px 0;
  }

  &--caption {
    line-height: 32px;
    font-size: 28px;
    font-weight: 700;

    margin-bottom: 16px;

    @media (min-width: 1024px) {
      line-height: 40px;
      font-size: 36px;
    }
  }

  &--content {
    line-height: 22px;
    font-size: 18px;

    margin-bottom: 16px;

    @media (min-width: 1024px) {
      line-height: 40px;
      font-size: 24px;
    }
  }
}
</style>
