<template>
  <div id="__blogger">
    <v-next />
    <v-steps />
    <v-prepare />
    <v-money />
    <v-work />
    <v-request />
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api';

import VNext from '~/components/land/VNext';
import VSteps from '~/components/land/VSteps';
import VPrepare from '~/components/land/VPrepare';
import VRequest from '~/components/land/VRequest';
import VMoney from '~/components/land/VMoney';
import VWork from '~/components/land/VWork';
import seoMixin from '~/mixins/seo.js';

export default defineComponent({
  mixins: [seoMixin],
  data() {
    return {
      seoTitle: 'Зарабатывать на YouTube или в Twitch ‒ это просто!',
      seoDesc:
        'Зарабатывать на YouTube или в Twitch ‒ это просто! Доход от 30 тысяч рублей в месяц. Только проверенные рекламодатели',
      seoImg: '/og.jpg'
    };
  },
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href: this.$route.path
        }
      ],
      title: this.seoTitle,
      meta: this.seometa
    };
  },
  name: 'BloggerPage',
  components: {
    VNext,
    VSteps,
    VPrepare,
    VMoney,
    VWork,
    VRequest
  }
});
</script>
