<template>
  <div
    id="__catalog"
    @click="onScreenClick"
    @touchstart="onScreenClick"
  >
    <div class="catalog-caption catalog-base--caption">
      <span>Лидеры</span>
      <span>мнений</span>
    </div>
    <div class="catalog">
      <div
        class="catalog-menu__wrapper"
        :class="{ 'catalog-menu--expand': expand }"
      >
        <affix
          :relative-element-selector="affix.selector"
          :offset="affix.offset"
          class="catalog-menu"
          @click.native="onAffixClick"
          @touchstart.native="onAffixClick"
        >
          <button
            v-touchable
            type="button"
            aria-labelledby="__trigger"
            class="catalog-menu__trigger"
            @click="expand = !expand"
          />
          <div
            id="__trigger"
            class="catalog-menu__trigger--fake"
          >
            <span class="icon" />
            <span>Фильтр</span>
          </div>
          <div class="catalog-caption catalog-menu--caption">
            Лидеры мнений
          </div>
          <div class="catalog-menu__check">
            <div class="menu-filter--caption">
              Платформа
            </div>
            <div class="menu-filter__platform">
              <nuxt-link
                v-touchable
                :to="{ query: queryBrand('Youtube') }"
                class="brand-button brand-youtube"
                :class="{ 'brand-button--active': isActiveBrand('Youtube') }"
              >
                YouTube
              </nuxt-link>
              <nuxt-link
                v-touchable
                :to="{ query: queryBrand('Twitch') }"
                class="brand-button brand-twitch"
                :class="{ 'brand-button--active': isActiveBrand('Twitch') }"
              >
                Twitch
              </nuxt-link>
            </div>
          </div>
          <div class="catalog-menu__filter">
            <div class="menu-filter--caption">
              Тематика
            </div>
            <nuxt-link
              v-for="filter in themes"
              :key="filter.id"
              v-touchable
              :to="{ query: queryTheme(filter) }"
              class="menu-filter"
              :class="{ 'menu-filter--active': isActiveTheme(filter) }"
              v-text="filter.label"
            />
          </div>
          <div class="catalog-menu__filter">
            <div class="menu-filter--caption">
              Рекламные форматы
            </div>
            <nuxt-link
              v-for="filter in formats"
              :key="filter.id"
              v-touchable
              :to="{ query: queryFormat(filter) }"
              class="menu-filter"
              :class="{ 'menu-filter--active': isActiveFormat(filter) }"
              v-text="filter.label"
            />
          </div>
          <div class="catalog-menu__range">
            <div class="menu-filter--caption menu-filter--caption--flat">
              Количество подписчиков
            </div>
            <div
              class="menu-filter__value"
            >
              {{ range.config.format.to(subscribers[0]) }} - {{ range.config.format.to(subscribers[1]) }}
            </div>
            <v-range
              :config="range.config"
              @input="updateRange"
            />
          </div>
        </affix>
      </div>
      <div
        id="__affix"
        class="catalog-table"
      >
        <div
          v-for="row in table"
          :key="row.id"
          :data-id="row.id"
          class="catalog-table__row"
        >
          <div
            class="row-number--caption row-caption row-cell row-cell--flex"
            v-text="'№'"
          />
          <div
            class="row-name--caption row-caption row-cell row-cell--flex"
            v-text="'Название'"
          />
          <button
            v-touchable
            type="button"
            class="row-more--caption row-cell row-cell--flex"
            :class="{ 'row-more--caption--active': stateHeight[row.id] }"
            @click="stateHeight[row.id] = !stateHeight[row.id]"
            v-text="stateHeight[row.id] ? 'Меньше' : 'Больше'"
          />
          <div
            class="row-theme--caption row-caption row-cell row-cell--flex"
            v-text="'Тематика'"
          />
          <div
            class="row-platform--caption row-caption row-cell row-cell--flex"
            v-text="'Платформа'"
          />
          <div
            class="row-subscribers--caption row-caption row-cell row-cell--flex"
            v-text="'Количество подписчиков'"
          />
          <div
            class="row-subscribers-week--caption row-caption row-cell row-cell--flex"
            :class="`row-caption--${row.subscribers.trend}`"
            v-text="'За неделю'"
          />
          <div
            class="row-views--caption row-caption row-cell row-cell--flex"
            v-text="'Количество просмотров'"
          />
          <div
            class="row-views-week--caption row-caption row-cell row-cell--flex"
            :class="`row-caption--${row.views.trend}`"
            v-text="'За неделю'"
          />
          <div
            class="row-formats--caption row-caption row-cell row-cell--flex"
            v-text="'Форматы'"
          />
          <div class="row-submit--caption row-caption row-cell row-cell--flex" />
          <div
            class="row-number row-cell row-cell--flex row-cell--space"
            v-text="row.number"
          />
          <div
            class="row-name row-cell row-cell--flex row-cell--space"
            v-text="row.name"
          />
          <div
            class="row-more row-cell row-cell--flex"
            :style="{ maxHeight: height(row.id) }"
          >
            <div
              class="row__content"
              v-html="row.more"
            />
          </div>
          <div class="row-theme row-cell row-cell--flex row-cell--space">
            <nuxt-link
              v-for="theme in row.themes"
              :key="theme.id"
              :to="{ query: queryTheme(theme) }"
              class="row__label"
              v-text="theme.label"
            />
          </div>
          <div class="row-platform row-cell row-cell--flex row-cell--space">
            <template v-if="row.platform === 'Youtube'">
              <platform-youtube class="icon" />
              <div class="brand-name brand-button--active brand-youtube">
                YouTube
              </div>
            </template>
            <template v-if="row.platform === 'Twitch'">
              <platform-twitch class="icon" />
              <div class="brand-name brand-button--active brand-twitch">
                Twitch
              </div>
            </template>
          </div>
          <div class="row-subscribers row-cell row-cell--flex row-cell--space">
            <div class="row__value">
              <span
                v-for="(part, index) in row.subscribers.current"
                :key="index"
                v-text="part"
              />
            </div>
          </div>
          <div class="row-subscribers-week row-cell row-cell--flex">
            <div
              class="row__value"
              :class="[`row__value--${row.subscribers.trend}`, row.subscribers.current.length > 1 && 'row__value--big']"
            >
              <span
                v-for="(part, index) in row.subscribers.week"
                :key="index"
                v-text="part"
              />
            </div>
          </div>
          <div class="row-views row-cell row-cell--flex row-cell--space">
            <div class="row__value">
              <span
                v-for="(part, index) in row.views.current"
                :key="index"
                v-text="part"
              />
            </div>
          </div>
          <div class="row-views-week row-cell row-cell--flex">
            <div
              class="row__value"
              :class="[`row__value--${row.views.trend}`, row.subscribers.current.length > 1 && 'row__value--big']"
            >
              <span
                v-for="(part, index) in row.views.week"
                :key="index"
                v-text="part"
              />
            </div>
          </div>
          <div class="row-formats row-cell row-cell--flex row-cell--space">
            <nuxt-link
              v-for="format in row.formats"
              :key="format.id"
              :to="{ query: queryFormat(format) }"
              class="row__label"
              v-text="format.label"
            />
          </div>
          <a
            v-touchable
            :href="links.tg.url"
            target="_blank"
            rel="noopener"
            class="row-submit row-cell row-cell--flex"
            v-text="'Разместить рекламу'"
          />
        </div>
      </div>
    </div>
    <div class="catalog-pagination">
      <v-pagination :meta="meta" />
    </div>
  </div>
</template>

<script>
import {
  defineComponent,
  ref,
  onMounted,
  onUpdated,
  computed
} from '@vue/composition-api';

import Affix from 'vue-affix/src/affix.vue';
import VRange from '~/components/ui/VRange';
import VPagination from '~/components/util/VPagination';

import {
  interpretAsync,
  formatNumber,
  clearNumber,
  meshArray
} from '~/utils/data';
import { fetchData } from '~/api/catalog';
import forEach from 'lodash/forEach';
import { stop, cancel } from '~/utils/event';

import PlatformYoutube from '~/assets/images/youtube.svg?inline';
import PlatformTwitch from '~/assets/images/twitch.svg?inline';
import seoMixin from '~/mixins/seo.js';

export default defineComponent({
  mixins: [seoMixin],
  data() {
    return {
      seoTitle: 'Каталог проверенных блогеров на YouTube и Twitch',
      seoDesc:
        'Каталог проверенных блогеров на YouTube и Twitch. Выбирайте нужного, сортируйте, связывайтесь и смотрите их статистику.',
      seoImg: '/og.jpg'
    };
  },
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href: this.$route.path
        }
      ],
      title: this.seoTitle,
      meta: this.seometa
    };
  },
  name: 'CatalogPage',
  components: {
    Affix,
    VRange,
    VPagination,
    PlatformYoutube,
    PlatformTwitch
  },
  middleware({ store }) {
    return Promise.all([
      store.dispatch('FETCH_FORMATS'),
      store.dispatch('FETCH_THEMES')
    ]);
  },
  watchQuery: true,
  asyncData: ctx => fetchData(ctx),
  setup(props, ctx) {
    const table = ref(interpretAsync(ctx)?.table);
    const meta = ref(interpretAsync(ctx)?.meta);

    const stateHeight = ref({});
    const cacheHeight = {};
    const collapseHeight = '0px';
    const height = id => {
      if (ctx.isServer) {
        return collapseHeight;
      }

      return (stateHeight.value[id] && cacheHeight[id]) || collapseHeight;
    };

    onMounted(async () => {
      const response = await fetchData(ctx.root.context);
      stateHeight.value = response.table.reduce((acc, row) => {
        acc[row.id] = false;
        cacheHeight[row.id] = '100%';
        return acc;
      }, {});
      table.value = response.table;
      meta.value = response.meta;
    });

    const updateCacheHeight = () => {
      globalThis.requestAnimationFrame(() => {
        forEach(document.getElementsByClassName('row-more'), el => {
          cacheHeight[
            el.parentElement.dataset.id
          ] = `${el.firstElementChild.clientHeight}px`;
        });
      });
    };

    onMounted(updateCacheHeight);
    onUpdated(updateCacheHeight);

    const expand = ref(false);
    const onScreenClick = e => {
      if (expand.value) {
        cancel(e);
        expand.value = false;
        return false;
      }
    };
    const onAffixClick = e => {
      if (expand.value) {
        return stop(e);
      }
    };

    const affix = {
      offset: {
        top: 96,
        bottom: 0
      },
      selector: '#__affix'
    };

    const range = {
      config: {
        connect: true,
        start: meshArray(ctx.root.context.route.query.range, [
          10_000,
          50_000_000
        ]),
        step: 1000,
        range: {
          min: 10_000,
          max: 50_000_000
        },
        format: {
          to: formatNumber,
          from: clearNumber
        },
        pips: {
          mode: 'range',
          density: 100,
          format: {
            to: formatNumber,
            from: clearNumber
          }
        }
      }
    };
    const subscribers = ref(range.config.start);
    const updateRange = range => {
      subscribers.value = range;
      ctx.root.context.app.router.push({
        query: {
          ...ctx.root.context.route.query,
          range
        }
      });
    };

    const themes = computed(() => ctx.root.$store.state.themes);
    const formats = computed(() => ctx.root.$store.state.formats);

    const isActiveBrand = brand => {
      return ctx.root.context.route.query.brand === brand;
    };
    const queryBrand = brand => {
      return isActiveBrand(brand) ? null : { brand };
    };

    const isActiveTheme = theme => {
      return ctx.root.context.route.query.theme?.includes(theme.id);
    };
    const queryTheme = theme => {
      if (isActiveTheme(theme)) {
        return {
          ...ctx.root.context.route.query,
          theme: meshArray(ctx.root.context.route.query.theme)?.filter(id => {
            return id !== theme.id;
          })
        };
      }

      if (ctx.root.context.route.query.theme) {
        return {
          ...ctx.root.context.route.query,
          theme: [...ctx.root.context.route.query.theme, theme.id]
        };
      }

      return {
        ...ctx.root.context.route.query,
        theme: [theme.id]
      };
    };

    const isActiveFormat = format => {
      return ctx.root.context.route.query?.format?.includes(format.id);
    };
    const queryFormat = format => {
      if (isActiveTheme(format)) {
        return {
          ...ctx.root.context.route.query,
          format: meshArray(ctx.root.context.route.query.format)?.filter(id => {
            return id !== format.id;
          })
        };
      }

      if (ctx.root.context.route.query.format) {
        return {
          ...ctx.root.context.route.query,
          format: [...ctx.root.context.route.query.format, format.id]
        };
      }

      return {
        ...ctx.root.context.route.query,
        format: [format.id]
      };
    };

    const links = computed(() => ctx.root.$store.state.links);

    return {
      onScreenClick,
      onAffixClick,
      queryBrand,
      queryTheme,
      queryFormat,
      isActiveBrand,
      isActiveTheme,
      isActiveFormat,
      affix,
      height,
      stateHeight,
      table,
      themes,
      formats,
      expand,
      range,
      updateRange,
      subscribers,
      links,
      meta
    };
  }
});
</script>

<style lang="scss">
@keyframes pulse {
  0% {
    background-color: $app-color-gray;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: $app-color-gray;
  }
}

#__catalog {
  color: $app-color-white;
  background-color: $app-color-black;
}

.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  min-height: calc(100vh - 96px);

  @media (min-width: 1440px) {
    padding: 0 16px;
  }
}

.catalog-pagination {
  padding: 16px;

  @media (min-width: 375px) {
    padding-left: 32px;
  }

  @media (min-width: 1024px) {
    padding-left: 268px;
  }

  @media (min-width: 1440px) {
    padding-left: 300px;
  }
}

.brand-name {
  font-weight: 700;
  margin-top: 8px;
}

.brand-button {
  color: $app-color-light;

  &:active {
    color: $app-color-beard;
  }

  @media (min-width: 1024px) {
    &:hover {
      color: $app-color-beard;
    }
  }

  &--active {
    &.brand-youtube {
      color: $brand-color-youtube;
    }

    &.brand-twitch {
      color: $brand-color-twitch;
    }
  }
}

.catalog-base {
  &--caption {
    padding-left: 24px;

    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.catalog-menu {
  width: 256px;
  background-color: $app-color-dark;
  padding: 24px;

  transform: translateX(-100%);
  transition: transform 0.3s ease-out;

  @media (min-width: 1024px) {
    transform: translateX(0);
    transition: none;
  }

  @media (min-width: 1440px) {
    border-radius: 12px;
  }

  &--caption {
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }

  &__trigger {
    content: "";
    display: block;

    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 20px;

    background-color: $app-color-gray;
    transition: background-color 0.1s ease-in;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__trigger--fake {
    transform-origin: 0 0;
    transform: rotate(-90deg) translateX(-50%);
    position: absolute;
    left: 100%;
    top: 50%;
    z-index: 10;
    pointer-events: none;

    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;

    color: $app-color-beard;

    @media (min-width: 1024px) {
      display: none;
    }

    .icon {
      display: inline-block;
      height: 6px;
      width: 6px;

      margin-right: 8px;

      background-color: $app-color-beard;

      border-radius: 6px;
      border: 1px solid $app-color-gray;
      box-shadow: 0 0 0 1px $app-color-beard;

      animation: pulse 2s linear infinite;

      vertical-align: middle;
    }

    span {
      display: inline-block;
    }
  }

  &--expand {
    .catalog-menu {
      transform: translateX(0);

      &__trigger {
        background-color: $app-color-dark;
      }
    }
  }

  &__wrapper {
    width: 0;
    flex-shrink: 0;
    position: relative;
    z-index: 10;

    @media (min-width: 360px) {
      width: 20px;
    }

    @media (min-width: 1024px) {
      width: 256px;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    margin: 12px 0;
  }

  &__range {
    padding-bottom: 24px;
  }

  .menu-filter {
    text-align: left;
    color: $app-color-light;

    font-size: 12px;
    line-height: 16px;
    margin: 4px 0;

    &:active {
      color: $app-color-beard;
    }

    @media (min-width: 1024px) {
      &:hover {
        color: $app-color-beard;
      }
    }

    &--active {
      color: $app-color-red;
      font-weight: 700;

      &:active {
        color: $app-color-red;
      }

      @media (min-width: 1024px) {
        &:hover {
          color: $app-color-red;
        }
      }
    }

    &--caption {
      color: $app-color-beard;
      background-color: $app-color-black;

      font-size: 14px;
      line-height: 20px;

      padding: 0 8px;
      margin: 0 -8px 8px -8px;

      &--flat {
        font-size: 12px;

        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    &__value {
      background-color: $app-color-black;

      font-size: 16px;
      line-height: 24px;
      font-weight: 700;

      margin: -8px -8px 20px -8px;
      padding: 6px 8px 8px 8px;

      border-top: 2px solid $app-color-gray;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &__platform {
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;

      .brand-twitch {
        margin-left: 20px;
      }
    }
  }
}

.catalog-table {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;

  color: $app-color-white;
  background-color: $app-color-dark;
  text-align: center;

  padding: 12px;

  font-size: 9px;
  line-height: 16px;

  @media (min-width: 360px) {
    font-size: 10px;
    line-height: 18px;
  }

  @media (min-width: 1440px) {
    font-size: 12px;
    margin-left: 16px;

    border-radius: 12px;
  }
}

.catalog-table__row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr 2fr;
  grid-template-rows: 40px 4fr 40px minmax(0, auto) 40px 2fr 1fr 1fr 40px 0px;
  gap: 2px 2px;
  grid-template-areas:
    "rc nc nc nc fc fc"
    "nr nm nm nm fm fm"
    "ec ec ec ec ec ec"
    "mr mr mr mr mr mr"
    "tc tc pc sc sc vc"
    "tm tm pm sr sr vs"
    "tm tm pm srw srw vsw"
    "tm tm pm scw scw vcw"
    "sm sm sm sm sm sm"
    "mc mc mc mc mc mc";

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 5fr 3fr repeat(5, 2fr) 3fr 2fr;
    grid-template-rows: 40px 1fr 40px minmax(0, auto);

    grid-template-areas:
      "rc nc tc pc sc scw vc vcw fc mc"
      "nr nm tm pm sr srw vs vsw fm sm"
      "nr ec tm pm sr srw vs vsw fm sm"
      "mr mr mr mr mr mr mr mr mr mr";

    &:nth-child(n + 2) {
      grid-template-rows: 0px 1fr 40px minmax(0, auto);

      .row {
        &-caption {
          max-height: 0;
          overflow: hidden;
          visibility: hidden;
          pointer-events: none;
        }
      }
    }
  }
}

.row {
  &-caption {
    overflow: hidden;
  }

  &-more {
    grid-area: mr;
  }
  &-more--caption {
    grid-area: ec;
  }

  &-submit {
    grid-area: sm;
  }
  &-submit--caption {
    grid-area: mc;
  }

  &-number {
    grid-area: nr;
  }
  &-number--caption {
    grid-area: rc;
  }

  &-name {
    grid-area: nm;
  }
  &-name--caption {
    grid-area: nc;
  }

  &-formats {
    grid-area: fm;
  }
  &-formats--caption {
    grid-area: fc;
  }

  &-theme {
    grid-area: tm;
  }
  &-theme--caption {
    grid-area: tc;
  }

  &-platform {
    grid-area: pm;
  }
  &-platform--caption {
    grid-area: pc;
  }

  &-subscribers {
    grid-area: sr;
  }
  &-subscribers--caption {
    grid-area: sc;
  }

  &-subscribers-week {
    grid-area: srw;
  }
  &-subscribers-week--caption {
    grid-area: scw;
  }

  &-views {
    grid-area: vs;
  }
  &-views--caption {
    grid-area: vc;
  }

  &-views-week {
    grid-area: vsw;
  }
  &-views-week--caption {
    grid-area: vcw;
  }

  &-cell {
    background-color: $app-color-black;
  }
  &-cell--flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  &-cell--space {
    padding: 12px;
  }

  &-number--caption,
  &-name--caption,
  &-formats--caption {
    color: $app-color-beard;
  }

  &-theme--caption,
  &-platform--caption,
  &-subscribers--caption,
  &-views--caption {
    color: $app-color-light;

    @media (min-width: 1024px) {
      color: $app-color-beard;
    }
  }

  &-views-week,
  &-subscribers-week {
    padding: 0 12px;

    @media (min-width: 1024px) {
      padding: 12px;
    }
  }

  &-views-week--caption,
  &-subscribers-week--caption {
    margin-top: -24px;
    white-space: nowrap;

    @media (min-width: 1024px) {
      margin-top: 0;
    }
  }

  &-platform {
    .icon {
      width: 34px;
      height: 34px;
    }
  }

  &-name {
    font-size: 18px;
    font-weight: 700;

    @media (min-width: 1024px) {
      padding-top: 52px;
    }
  }

  &-more {
    color: $app-color-black;
    background-color: $app-color-white;

    overflow: hidden;
    max-height: 0;

    .row__content {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-content: stretch;
      align-items: stretch;

      @media (min-width: 1024px) {
        flex-direction: row;
      }

      section {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 0;
        min-width: 0;

        margin-bottom: 8px;

        @media (min-width: 1024px) {
          margin-bottom: 0;
          margin-right: 8px;
        }

        @media (min-width: 1440px) {
          margin-right: 12px;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }
  &-more--caption {
    position: relative;

    color: $app-color-white;
    background-color: $app-color-black;

    &:active {
      background-color: $app-color-gray;
    }

    @media (min-width: 1024px) {
      &:after {
        content: "";
        display: block;

        position: absolute;
        left: 0;
        right: 0;
        bottom: -2px;

        height: 2px;

        background-color: transparent;
      }

      &:hover {
        background-color: $app-color-gray;
      }
    }

    &--active {
      color: $app-color-black;
      background-color: $app-color-white;

      &,
      &:after {
        background-color: $app-color-white;
      }

      &:active {
        &,
        &:after {
          background-color: $app-color-beard;
        }
      }

      @media (min-width: 1024px) {
        &:hover {
          &,
          &:after {
            background-color: $app-color-beard;
          }
        }
      }
    }
  }

  &-submit {
    color: $app-color-white;
    background-color: $app-color-green;

    &:active {
      background-color: $app-color-neon;
    }

    @media (min-width: 1024px) {
      &:hover {
        background-color: $app-color-neon;
      }
    }
  }

  &__label {
    display: block;

    padding: 4px;
    line-height: 12px;
    width: 80px;

    color: $app-color-white;
    border: 1px solid $app-color-light;
    border-radius: 2px;

    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }

    &:active {
      border-color: $app-color-white;
    }

    @media (min-width: 1024px) {
      &:hover {
        border-color: $app-color-white;
      }
    }

    @media (min-width: 1440px) {
      width: 94px;
    }
  }

  &__value {
    position: relative;
    z-index: 1;

    span {
      display: inline-block;
      margin: 0 2px;

      &:first-child {
        display: block;
        margin: 0 0 4px 0;
        font-size: 18px;
      }
    }

    &:before,
    &:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      left: calc(50% - 3px);
    }

    &:before {
      top: -12px;

      @media (min-width: 1024px) {
        top: -16px;
      }
    }

    &:after {
      bottom: calc(-100% - 6px);

      @media (min-width: 1024px) {
        bottom: -12px;
      }
    }

    &--big {
      &:after {
        bottom: calc(-100% + 12px);

        @media (min-width: 1024px) {
          bottom: -12px;
        }
      }
    }

    &--positive {
      &:before,
      &:after {
        border-width: 0 3px 5.2px 3px;
        border-bottom-color: $app-color-mint;
      }

      &:before {
        content: "";
      }

      @media (min-width: 1024px) {
        &:after {
          content: "";
        }
      }
    }

    &--negative {
      &:before,
      &:after {
        border-width: 5.2px 3px 0 3px;
        border-top-color: $app-color-pink;
      }

      &:after {
        content: "";
      }

      @media (min-width: 1024px) {
        &:before {
          content: "";
        }
      }
    }
  }

  &__value,
  &-caption {
    &--positive {
      color: $app-color-mint;
    }

    &--negative {
      color: $app-color-pink;
    }
  }

  &-caption {
    &--positive,
    &--negative,
    &--default {
      @media (min-width: 1024px) {
        color: $app-color-beard;
      }
    }
  }

  &__content {
    text-align: left;
    padding: 12px;
  }
}

.catalog-caption {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  margin-bottom: 12px;

  span:first-child {
    background-color: $app-color-red;
    margin-right: 0;
    margin-left: -24px;
    padding: 0 12px 0 24px;
  }
  span:last-child {
    padding: 0 12px;
  }
}
</style>
