<template>
  <div id="__commercial">
    <v-start />
    <v-nice />
    <v-order />
    <v-formats />
    <v-place />
    <v-why />
    <v-how />
    <v-trust />
    <v-form />
    <v-project />
    <v-mass-media />
    <v-appeal />
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api';

import VStart from '~/components/land/VStart';
import VNice from '~/components/land/VNice';
import VOrder from '~/components/land/VOrder';
import VFormats from '~/components/land/VFormats';
import VPlace from '~/components/land/VPlace';
import VWhy from '~/components/land/VWhy';
import VHow from '~/components/land/VHow';
import VTrust from '~/components/land/VTrust';
import VForm from '~/components/land/VForm';
import VProject from '~/components/land/VProject';
import VMassMedia from '~/components/land/VMassMedia';
import VAppeal from '~/components/land/VAppeal';
import seoMixin from '~/mixins/seo.js';

export default defineComponent({
  name: 'CommercialPage',
  mixins: [seoMixin],
  data() {
    return {
      seoTitle: 'Размещение рекламы на каналах блогеров и стримеров',
      seoDesc:
        'Размещение рекламы на каналах блогеров и стримеров. Расскажите о своем продукте многомиллионной аудитории. Реклама должна быть результативной',
      seoImg: '/og.jpg'
    };
  },
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href: this.$route.path
        }
      ],
      title: this.seoTitle,
      meta: this.seometa
    };
  },
  components: {
    VStart,
    VNice,
    VOrder,
    VFormats,
    VPlace,
    VWhy,
    VHow,
    VTrust,
    VForm,
    VProject,
    VMassMedia,
    VAppeal
  },
  middleware({ store }) {
    return Promise.all([
      store.dispatch('commercial/FETCH_MASS_MEDIA'),
      store.dispatch('commercial/FETCH_REVIEW'),
      store.dispatch('commercial/FETCH_PROJECT'),
      store.dispatch('commercial/FETCH_APPEAL')
    ]);
  }
});
</script>
