<template>
  <div id="__index">
    <main class="main">
      <header class="main--caption">
        <h1 class="main--title">
          Размещайте рекламу у
          <br>проверенных блогеров на YouTube и в Twitch
        </h1>
        <h2
          class="main--annotation"
        >
          Или присоедините свой канал к нашему многомиллионному сообществу
        </h2>
      </header>
      <div class="main__buttons">
        <nuxt-link
          v-touchable
          class="follow-button follow-button--advertiser"
          :to="{ name: 'commercial' }"
        >
          Я рекламодатель
        </nuxt-link>
        <nuxt-link
          v-touchable
          class="follow-button follow-button--blogger"
          :to="{ name: 'blogger' }"
        >
          Я блогер
        </nuxt-link>
      </div>
    </main>
    <the-eye :camera="camera" />
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api';
import seoMixin from '~/mixins/seo.js';
import TheEye from '~/components/core/TheEye';
export default defineComponent({
  name: 'IndexPage',
  mixins: [seoMixin],
  components: {
    TheEye
  },
  data() {
    return {
      seoTitle:
        'Размещайте рекламу у проверенных блогеров на YouTube и в Twitch',
      seoDesc:
        'Размещайте рекламу у проверенных блогеров на YouTube и в Twitch. Или присоедините свой канал к нашему многомиллионному сообществу',
      seoImg: '/og.jpg'
    };
  },
  head() {
    return {
      bodyAttrs: {
        class: ['footless']
      },
      link: [
        {
          rel: 'canonical',
          href: this.$route.path
        }
      ],
      title: this.seoTitle,
      meta: this.seometa
    };
  },
  setup() {
    const camera = {
      x: 0,
      y: -10,
      z: 0
    };

    return {
      camera
    };
  }
});
</script>

<style lang="scss">
#__index {
  position: relative;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 96px);

  overflow: hidden;

  color: $app-color-white;
  background-color: $app-color-black;
}

.main {
  position: relative;
  z-index: 2;

  text-align: center;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;

  height: 100%;

  &--caption {
    flex-shrink: 0;

    padding: 28px 16px;

    @media (min-width: 1024px) {
      margin: auto;
    }
  }

  &--title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;

    margin-bottom: 28px;

    @media (min-width: 1024px) {
      font-size: 48px;
      line-height: 72px;

      margin-bottom: 72px;
      max-width: 1200px;

      text-shadow: 0px 4px 32px $app-color-black;
    }
  }

  &--annotation {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;

    display: inline;
    padding: 0.1em 0;

    background-color: $app-color-red;
    box-shadow: -4px 0 0 $app-color-red, 4px 0 0 $app-color-red;
    box-decoration-break: clone;

    @media (min-width: 1024px) {
      background-color: transparent;
      box-shadow: none;
    }
  }

  &__buttons {
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;

    @media (min-width: 1024px) {
      margin: 0 auto auto auto;
      width: 872px;
    }
  }
}

.follow {
  &-button {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;

    line-height: 72px;
    height: 72px;
    font-size: 20px;
    font-weight: 700;

    white-space: nowrap;
    text-align: center;

    color: $app-color-black;

    background-size: 200% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: background-position 0.3s cubic-bezier(1, 0, 0.5, 1) 0s;

    &--advertiser {
      background-image: linear-gradient(
        to right,
        $app-color-red 50%,
        $app-color-white 50%
      );
    }

    &--blogger {
      background-image: linear-gradient(
        to right,
        $app-color-white 50%,
        $app-color-red 50%
      );
    }

    &:active {
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      flex-grow: 0;
      font-weight: 400;
      padding: 0 32px;

      color: $app-color-black;
      background-color: $app-color-white;
      transition: color 0.3s ease, background-color 0.3s ease;

      &:hover {
        color: $app-color-white;
        background-color: $app-color-red;
      }

      &--advertiser,
      &--blogger {
        background-image: none;
      }
    }
  }
}
</style>
