<template>
  <footer class="footer">
    <nuxt-link
      class="footer__logo"
      to="/"
    >
      <TheLogo class="logo" />
    </nuxt-link>
    <div class="fastlinks__wrapper">
      <div class="fastlinks">
        <nuxt-link
          v-for="page in pages"
          :key="page.id"
          v-touchable
          :to="`/${page.url}`"
          class="fastlinks__link"
          v-text="page.caption"
        />
      </div>
      <div class="fastlinks">
        <nuxt-link
          v-touchable
          :to="{ name: 'commercial' }"
          class="fastlinks__link"
        >
          Рекламодателям
        </nuxt-link>
        <nuxt-link
          v-touchable
          :to="{ name: 'blogger' }"
          class="fastlinks__link"
        >
          Блогерам
        </nuxt-link>
        <nuxt-link
          v-touchable
          :to="{ name: 'catalog' }"
          class="fastlinks__link"
        >
          Каталог
        </nuxt-link>
        <nuxt-link
          v-touchable
          :to="{ name: 'case' }"
          class="fastlinks__link"
        >
          Кейсы
        </nuxt-link>
        <nuxt-link
          v-touchable
          :to="{ name: 'blog' }"
          class="fastlinks__link"
        >
          Блог
        </nuxt-link>
      </div>
    </div>
    <div class="copyright">
      © {{ year }} Imbalance Production
    </div>
  </footer>
</template>

<script>
import { defineComponent, ref, computed } from '@vue/composition-api';
import TheLogo from '~/components/core/TheLogo';

export default defineComponent({
  name: 'TheFooter',
  components: {
    TheLogo
  },
  setup(props, ctx) {
    const year = ref(new Date().getFullYear());

    const pages = computed(() => ctx.root.$store.state.pages);

    return {
      year,
      pages
    };
  }
});
</script>

<style lang="scss">
.footer {
  background-color: $app-color-black;
  padding: 16px;
  position: relative;
  z-index: 1;

  @media (min-width: 1024px) {
    padding: 16px 24px 24px 24px;
  }

  @media (min-width: 1200px) {
    padding: 40px 48px 24px 48px;
  }

  .logo {
    display: inline-block;
    height: 100%;
  }

  &__logo {
    display: block;
    height: 38px;
    margin: 30px 0;

    @media (min-width: 1024px) {
      height: 96px;
      margin: 0;

      position: absolute;

      right: 24px;
      top: calc(50% - 48px);
    }

    @media (min-width: 1200px) {
      right: 48px;
    }

    @media (min-width: 1440px) {
      right: 80px;
    }
  }
}

.fastlinks {
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  @media (min-width: 1024px) {
    padding: 0;
    margin-right: 6%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 4px -2px;
    padding: 0 2px;

    color: $app-color-white;

    background-size: 200% 100%;
    background-image: linear-gradient(to right, $app-color-red 50%, $app-color-black 50%);
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: background-position .3s cubic-bezier(1, 0, 0.5, 1) 0s;

    &:active {
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      font-size: 20px;
      line-height: 32px;

      font-weight: 400;
      margin: 8px -4px;
      padding: 0 4px;

      &:hover {
        background-position: 0 0;
      }
    }

    @media (min-width: 1200px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.copyright {
  color: $app-color-white;
  font-size: 12px;
  margin-top: 20px;

  @media (min-width: 1024px) {
    font-size: 18px;
    margin-top: 64px;
  }
}

.footless {
  .footer {
    display: none;
  }
}
</style>
