<template>
  <header
    class="header"
    :class="{ 'header--expand': expand }"
  >
    <div class="presentation">
      <nuxt-link
        class="presentation__logo"
        to="/"
        @click.native="emitClose"
      >
        <TheLogo class="logo" />
      </nuxt-link>
      <button
        type="button"
        class="presentation__trigger"
        title="Открыть меню"
        role="none"
        @click="emitOpen"
      >
        <span />
      </button>
    </div>
    <div class="navigation">
      <nuxt-link
        class="navigation__logo"
        to="/"
        @click.native="emitClose"
      >
        <TheLogo class="logo" />
      </nuxt-link>
      <button
        type="button"
        class="navigation__trigger"
        title="Закрыть меню"
        role="none"
        @click="emitClose"
      />
      <div class="navigation__wrapper">
        <div class="menu">
          <nuxt-link
            v-touchable
            :to="{ name: 'commercial' }"
            class="menu__link"
            @click.native="emitClose"
          >
            Рекламодателям
          </nuxt-link>
          <nuxt-link
            v-touchable
            :to="{ name: 'blogger' }"
            class="menu__link"
            @click.native="emitClose"
          >
            Блогерам
          </nuxt-link>
          <nuxt-link
            v-touchable
            :to="{ name: 'catalog' }"
            class="menu__link"
            @click.native="emitClose"
          >
            Каталог
          </nuxt-link>
          <nuxt-link
            v-touchable
            :to="{ name: 'case' }"
            class="menu__link"
            @click.native="emitClose"
          >
            Кейсы
          </nuxt-link>
          <nuxt-link
            v-touchable
            :to="{ name: 'blog' }"
            class="menu__link"
            @click.native="emitClose"
          >
            Блог
          </nuxt-link>
        </div>
        <div class="navigation__info">
          <a
            :href="links.telephone.url"
            target="_blank"
            rel="noopener"
            class="info__item info__item--expand"
          >
            <svg-icon name="phone" />
            <span v-text="links.telephone.value" />
          </a>
          <template v-if="links.inst">
            <a
              :href="links.inst.url"
              target="_blank"
              rel="noopener"
              class="info__item"
            >
              <svg-icon name="inst" />
            </a>
          </template>
          <span
            v-else
            class="info__item"
          />
          <template v-if="links.vk">
            <a
              :href="links.vk.url"
              target="_blank"
              rel="noopener"
              class="info__item"
            >
              <svg-icon name="vk" />
            </a>
          </template>
          <span
            v-else
            class="info__item"
          />
          <a
            :href="links.email.url"
            target="_blank"
            rel="noopener"
            class="info__item info__item--expand"
          >
            <svg-icon name="mail" />
            <span v-text="links.email.value" />
          </a>
          <template v-if="links.tg">
            <a
              :href="links.tg.url"
              target="_blank"
              rel="noopener"
              class="info__item"
            >
              <svg-icon name="tg" />
            </a>
          </template>
          <span
            v-else
            class="info__item"
          />
          <template v-if="links.twitter">
            <a
              :href="links.twitter.url"
              target="_blank"
              rel="noopener"
              class="info__item"
            >
              <svg-icon name="twitter" />
            </a>
          </template>
          <span
            v-else
            class="info__item"
          />
          <a
            :href="links.tg.url"
            target="_blank"
            rel="noopener"
            class="info__item info__item--expand"
          >
            <svg-icon name="plane" />
            <span v-text="links.tg.value" />
          </a>
          <template v-if="links.mess">
            <a
              :href="links.mess.url"
              target="_blank"
              rel="noopener"
              class="info__item"
            >
              <svg-icon name="mess" />
            </a>
          </template>
          <span
            v-else
            class="info__item"
          />
          <template v-if="links.fb">
            <a
              :href="links.fb.url"
              target="_blank"
              rel="noopener"
              class="info__item"
            >
              <svg-icon name="fb" />
            </a>
          </template>
          <span
            v-else
            class="info__item"
          />
        </div>
        <a
          target="_blank"
          rel="noopener"
          :href="links.tg.url"
          class="navigation__contact"
        >
          Связаться с менеджером
        </a>
      </div>
    </div>
  </header>
</template>

<script>
import { defineComponent, ref, computed } from '@vue/composition-api';

import TheLogo from '~/components/core/TheLogo';

export default defineComponent({
  name: 'TheHeader',
  components: {
    TheLogo
  },
  setup(props, ctx) {
    const expand = ref(false);
    const emitOpen = () => {
      globalThis.requestAnimationFrame(() => {
        expand.value = true;
      });
    };
    const emitClose = () => {
      globalThis.requestAnimationFrame(() => {
        expand.value = false;
      });
    };

    const links = computed(() => ctx.root.$store.state.links);

    return {
      expand,
      emitOpen,
      emitClose,
      links
    };
  }
});
</script>

<style lang="scss">
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  z-index: 1100;

  background-color: $app-color-black;

  height: 96px;
  padding: 28px 16px;
  line-height: 40px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  .logo {
    display: inline-block;
    height: 100%;
    margin: 5px 0 -5px 0;
  }

  &--expand {
    .navigation {
      transform: translateY(0);
    }
  }

  @media (min-width: 1440px) {
    padding: 28px 80px;
  }
}

.presentation,
.navigation {
  &__trigger {
    position: absolute;
    top: 0;
    right: 0;
    display: block;

    @media (min-width: 1024px) {
      display: none;
    }

    span,
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 4px;
      width: 36px;
      left: 16px;
      background-color: $app-color-white;
      transform-origin: center;
      pointer-events: none;
    }
  }
}

.navigation {
  background-color: $app-color-red;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1000;

  transform: translateY(-102%);
  transition: transform 0.6s cubic-bezier(1, 0, 0.5, 1);

  @media (min-width: 1024px) {
    position: static;
    transform: none;
    transition: none;
    background-color: $app-color-black;
    flex-grow: 1;
    margin-left: 102px;
  }

  &__logo {
    height: 96px;
    padding: 28px 16px;
    line-height: 40px;
    display: block;

    @media (min-width: 1024px) {
      display: none;
    }

    .fill-red {
      fill: $app-color-white;
    }
  }

  &__trigger {
    width: 68px;
    height: 80px;

    border-left: 2px solid $app-color-white;
    border-bottom: 2px solid $app-color-white;

    &:before,
    &:after {
      top: 46px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

    height: calc(100% - 94px);
    width: 100%;

    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    @media (min-width: 1024px) {
      overflow: hidden;
      height: auto;
      flex-direction: row;
    }
  }

  &__info {
    flex-shrink: 0;
    flex-grow: 0;

    margin-top: auto;

    display: grid;
    padding: 2px 0;

    background-color: $app-color-white;

    row-gap: 2px;
    column-gap: 2px;
    grid-template-rows: 66px 66px 66px;
    grid-template-columns: 1fr 66px 66px;

    @media (max-width: 358px) {
      grid-template-columns: 1fr 46px 46px;
      grid-template-rows: 46px 46px 46px;
    }

    @media (min-width: 1024px) {
      display: none;
    }

    .info__item {
      color: $app-color-white;
      background-color: $app-color-red;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;

      .icon {
        display: block;
        width: 28px;
        height: 28px;

        fill: $app-color-white;
      }

      &--expand {
        padding-left: 16px;

        span {
          text-align: left;
          margin: 0 auto 0 16px;
        }
      }
    }
  }

  &__contact {
    height: 66px;

    color: $app-color-red;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, $app-color-black 50%, $app-color-white 50%);
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: background-position .3s cubic-bezier(1, 0, 0.5, 1) 0s, color .3s ease .1s;

    font-size: 18px;
    font-weight: 700;
    line-height: 66px;
    text-align: center;

    &:active {
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      height: 30px;
      line-height: 30px;
      font-weight: 400;

      padding: 0 8px;

      background-image: linear-gradient(to right, $app-color-red 50%, $app-color-black 50%);
      border: 1px solid $app-color-red;

      &:active,
      &:hover {
        color: $app-color-black;
        background-position: 0 0;
      }
    }
  }
}

.presentation {
  flex-shrink: 0;

  &__logo {
    display: block;
    height: 38px;
    position: relative;
    z-index: 1000;
  }

  &__trigger {
    width: 68px;
    height: 96px;

    &:before,
    &:after,
    span {
      background: $app-color-red;
    }

    &:before {
      top: calc(50% - 12px);
    }

    span {
      top: calc(50% - 2px);
    }

    &:after {
      top: calc(50% + 8px);
    }
  }
}

.menu {
  flex-shrink: 0;
  flex-grow: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  margin: 44px 0;

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: center;

    margin: 0 auto;
  }

  &__link {
    display: block;
    position: relative;

    color: $app-color-white;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, $app-color-white 50%, $app-color-red 50%);
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: background-position .3s cubic-bezier(1, 0, 0.5, 1) 0s, color .3s ease .1s;

    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    text-transform: uppercase;

    padding: 0 16px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &:active,
    &.nuxt-link-active {
      color: $app-color-red;
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      margin: 0;
      padding: 0 2px;

      margin-right: 6px;
      &:last-child {
        margin-right: 0;
      }

      font-size: 14px;
      height: 30px;
      line-height: 30px;
      font-weight: 400;

      background-image: linear-gradient(to right, $app-color-red 50%, $app-color-black 50%);

      &:hover,
      &:active,
      &.nuxt-link-active {
        color: $app-color-white;
        background-position: 0 0;
      }
    }

    @media (min-width: 1200px) {
      padding: 0 8px;
      margin-right: 8px;
    }

    @media (min-width: 1440px) {
      margin-right: 32px;
    }
  }
}

.theme-white {
  @media (min-width: 1024px) {
    .header {
      background-color: $app-color-inverse;
    }

    .presentation__logo {
      .fill-black {
        fill: $app-color-white;
      }

      .fill-white {
        fill: $app-color-black;
      }
    }

    .navigation {
      background-color: $app-color-inverse;

      &__contact {
        background-image: linear-gradient(to right, $app-color-red 50%, $app-color-inverse 50%);
      }
    }

    .menu__link {
      color: $app-color-black;
      background-image: linear-gradient(to right, $app-color-red 50%, $app-color-inverse 50%);
    }
  }
}
</style>
