<template>
  <div>
    a
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  name: 'V'
});
</script>

<style lang="scss">

</style>
