<template>
  <div
    v-if="isActive"
    class="appeal"
  >
    <div class="appeal--caption">
      Обращение команды <b>Imbalance</b> к партнерам
    </div>
    <div
      class="appeal--content"
      v-html="content"
    />
    <div class="appeal--tag">
      PLAY
    </div>
  </div>
</template>

<script>
import { defineComponent, computed } from '@vue/composition-api';

export default defineComponent({
  name: 'VAppeal',
  setup(props, ctx) {
    const isActive = computed(() => {
      const fromAdmin = ctx.root.$store.state.active.team_speech;
      const fromApi = ctx.root.$store.state.commercial.appeal;
      return fromAdmin && fromApi && fromApi.length;
    });
    const content = computed(() => ctx.root.$store.state.commercial.appeal);

    return {
      isActive,
      content
    };
  }
});
</script>

<style lang="scss">
.appeal {
  position: relative;
  z-index: 1;
  overflow: hidden;

  padding: 16px 16px 58px 16px;

  @media (min-width: 1024px) {
    padding: 128px 16px;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;

      height: 40px;
      width: 40px;

      background-image: url('~assets/images/cross.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:before {
      top: 108px;
      right: calc(25% - 20px);
    }

    &:after {
      bottom: 144px;
      left: calc(25% - 20px);
    }
  }

  &--caption {
    line-height: 32px;
    font-size: 28px;
    font-weight: 700;

    max-width: 200px;

    @media (min-width: 1024px) {
      line-height: 40px;
      font-size: 36px;

      max-width: 256px;

      position: absolute;

      top: 0;
      left: 18%;
      transform: translate(-60%, 60%);
    }

    @media (min-width: 1440px) {
      left: 25%;
    }

    b {
      display: block;
    }
  }

  &--content {
    line-height: 14px;
    font-size: 12px;

    padding: 16px;

    max-width: 484px;
    margin: 0 auto;

    @media (min-width: 1024px) {
      line-height: 20px;
      font-size: 14px;

      min-height: 192px;
    }
  }

  &--tag {
    line-height: 72px;
    font-size: 72px;
    font-weight: 700;

    color: $app-color-red;

    position: absolute;

    bottom: 12px;
    right: -16px;

    z-index: -1;
    pointer-events: none;

    @media (min-width: 1024px) {
      right: 25%;

      line-height: 180px;
      font-size: 180px;

      transform: translateX(50%);
    }
  }
}
</style>
