<template>
  <div class="formats">
    <div class="formats--caption">
      <div class="formats--hide formats--fill" />
      <div class="formats--title">
        Самые <b>эффективные</b> форматы
      </div>
      <div class="formats--hide formats--fill" />
    </div>
    <div class="formats--grid">
      <div class="formats-item">
        <icon-pointer class="formats-item--icon" />
        <div class="formats-item--caption">
          Преролл
        </div>
        <div class="formats-item--content">
          В 27 раз эффективнее классического баннера
        </div>
      </div>
      <div class="formats-item">
        <icon-room class="formats-item--icon" />
        <div class="formats-item--caption">
          Интеграция
        </div>
        <div class="formats-item--content">
          Нативная реклама, встроенная в видео и прямые трансляции
        </div>
      </div>
      <div class="formats-item">
        <icon-play class="formats-item--icon" />
        <div class="formats-item--caption">
          Спецпроект
        </div>
        <div class="formats-item--content">
          Мы сделаем увлекательную историю с вами
        </div>
      </div>
      <div class="formats-item">
        <icon-message class="formats-item--icon" />
        <div class="formats-item--caption">
          Рекламное упоминание
        </div>
        <div class="formats-item--content">
          Расскажем о вас огромной аудитории
        </div>
      </div>
      <div class="formats-item">
        <icon-chip class="formats-item--icon" />
        <div class="formats-item--caption">
          Обзор
        </div>
        <div class="formats-item--content">
          Подробно раскроем ваш продукт и его сильные стороны
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  name: 'VFormats',
  components: {
    IconChip: () => import(/* webpackChunkName: "formats" */ '~/assets/images/formats/chip.svg?inline'),
    IconMessage: () => import(/* webpackChunkName: "formats" */ '~/assets/images/formats/message.svg?inline'),
    IconPlay: () => import(/* webpackChunkName: "formats" */ '~/assets/images/formats/play.svg?inline'),
    IconPointer: () => import(/* webpackChunkName: "formats" */ '~/assets/images/formats/pointer.svg?inline'),
    IconRoom: () => import(/* webpackChunkName: "formats" */ '~/assets/images/formats/room.svg?inline'),
  }
});
</script>

<style lang="scss">
@keyframes blink {
  0% {
    fill: $app-color-red;
  }
  50% {
    fill: $app-color-white;
  }
  100% {
    fill: $app-color-red;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(16px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-16px);
  }
  100% {
    transform: translateX(0);
  }
}

.formats {
  &-item {
    background-color: $app-color-white;
    overflow: hidden;

    padding: 16px;

    @media (min-width: 1024px) {
      &:hover {
        .blink {
          animation: blink 1.2s linear 0s infinite;
        }

        .move {
          animation: move 3s linear 0s infinite;
        }
      }
    }

    &:last-child {
      grid-area: io;

      .formats-item {
        &--icon {
          float: left;

          margin-bottom: 0;
          margin-right: 16px;

          @media (min-width: 1024px) {
            float: none;

            margin-bottom: 32px;
            margin-right: 0;
          }
        }

        &--caption {
          margin-top: 6px;

          @media (min-width: 425px) {
            margin-top: 14px;
          }

          @media (min-width: 574px) {
            margin-top: 22px;
          }

          @media (min-width: 1024px) {
            margin-top: 0;
          }
        }

        &--content {
          margin-bottom: 6px;

          @media (min-width: 425px) {
            margin-bottom: 14px;
          }

          @media (min-width: 574px) {
            margin-bottom: 22px;
          }

          @media (min-width: 1024px) {
            margin-bottom: 0;
          }
        }
      }
    }

    &--icon {
      flex-grow: 0;
      flex-shrink: 0;

      display: block;
      width: 100px;
      height: 100px;

      margin-bottom: 16px;

      @media (min-width: 1024px) {
        margin-bottom: 32px;
      }
    }

    &--caption {
      line-height: 24px;
      font-size: 20px;
      font-weight: 700;

      margin-bottom: 16px;

      @media (min-width: 1024px) {
        line-height: 36px;
        font-size: 26px;

        margin-bottom: 32px;

        min-height: 72px;
      }

      @media (min-width: 1440px) {
        font-size: 32px;
      }
    }

    &--content {
      line-height: 16px;
      font-size: 14px;

      color: $app-color-light;

      @media (min-width: 1024px) {
        line-height: 28px;
        font-size: 20px;
      }
    }
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 132px;
    grid-template-areas:
      ". ."
      ". ."
      "io io";

    grid-gap: 2px;
    padding-top: 2px;
    background-color: $app-color-black;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas:
        ". . . . io";

      grid-gap: 0;
      padding-top: 32px;
      background-color: $app-color-white;
    }

    @media (min-width: 1440px) {
      padding: 32px 64px 0 64px;
    }
  }

  &--caption {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "nm";

    grid-gap: 2px;

    background-color: $app-color-black;

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 320px;
      grid-template-areas:
      ". nm .";

      padding-bottom: 2px;
    }
  }

  &--hide {
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }

  &--fill {
    background-color: $app-color-white;
  }

  &--title {
    background-color: $app-color-white;

    padding: 32px 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    text-align: center;

    line-height: 32px;
    font-size: 28px;
    font-weight: 700;

    @media (min-width: 1024px) {
      line-height: 64px;
      font-size: 60px;
    }

    b {
      display: block;

      @media (min-width: 1024px) {
        color: $app-color-white;
        background-color: $app-color-red;

        margin: 0 4px;
        box-shadow: -4px 0 0 $app-color-red, 4px 0 0 $app-color-red;
        box-decoration-break: clone;
      }
    }
  }
}
</style>
