<template>
  <div class="nice-form">
    <div class="nice-form--container">
      <div class="nice-form--hide nice-form--fill">
        <svg-icon name="question" />
      </div>
      <div class="nice-form--caption">
        <div class="nice-form--title">
          Остались вопросы
        </div>
        <div class="nice-form--description">
          Позвоните нам или задайте свой вопрос и мы <b>обязательно</b> на него <b>ответим</b>
        </div>
      </div>
      <div class="nice-form--hide nice-form--fill">
        <svg-icon name="question" />
      </div>
    </div>
    <div class="form">
      <form
        class="form--inline"
        @submit.prevent="onSubmit"
        @reset.prevent="onReset"
      >
        <input
          id="name"
          v-model.trim="form.name"
          name="name"
          inputmode="name"
          type="text"
          class="form--input"
          required
          autocomplete="name"
          aria-autocomplete="both"
          placeholder="Ваше имя"
          maxlength="255"
        >
        <input
          id="email"
          v-model.trim="form.email"
          name="email"
          inputmode="email"
          type="email"
          class="form--input"
          required
          autocomplete="email"
          aria-autocomplete="both"
          placeholder="Ваш e-mail"
          maxlength="255"
        >
        <input
          id="tel"
          v-model.trim="form.phone_number"
          name="tel"
          inputmode="tel"
          type="number"
          class="form--input"
          required
          autocomplete="tel"
          aria-autocomplete="both"
          placeholder="Ваш номер телефона"
          maxlength="255"
        >
        <textarea-autosize
          v-model.trim="form.question"
          class="form--textarea"
          required
          spellcheck="true"
          aria-autocomplete="none"
          :min-height="164"
          placeholder="Чем мы можем вам помочь?"
        />
        <button
          v-touchable
          type="submit"
          class="form--button"
          :disabled="state"
        >
          Задать вопрос
        </button>
      </form>
      <div class="form-menu">
        <div class="form-menu--expand">
          <a
            :href="links.telephone.url"
            target="_blank"
            rel="noopener"
            class="form-menu__link"
          >
            <svg-icon name="phone" />
            <span v-text="links.telephone.value" />
          </a>
          <a
            :href="links.email.url"
            target="_blank"
            rel="noopener"
            class="form-menu__link"
          >
            <svg-icon name="mail" />
            <span v-text="links.email.value" />
          </a>
          <a
            :href="links.tg.url"
            target="_blank"
            rel="noopener"
            class="form-menu__link"
          >
            <svg-icon name="plane" />
            <span v-text="links.tg.value" />
          </a>
        </div>
        <div class="form-menu--grid">
          <template v-if="links.inst">
            <a
              :href="links.inst.url"
              target="_blank"
              rel="noopener"
              class="form-menu__link"
            >
              <svg-icon name="inst" />
            </a>
          </template>
          <span
            v-else
            class="form-menu__dump"
          />
          <template v-if="links.vk">
            <a
              :href="links.vk.url"
              target="_blank"
              rel="noopener"
              class="form-menu__link"
            >
              <svg-icon name="vk" />
            </a>
          </template>
          <span
            v-else
            class="form-menu__dump"
          />
          <template v-if="links.tg">
            <a
              :href="links.tg.url"
              target="_blank"
              rel="noopener"
              class="form-menu__link"
            >
              <svg-icon name="tg" />
            </a>
          </template>
          <span
            v-else
            class="form-menu__dump"
          />
          <template v-if="links.twitter">
            <a
              :href="links.twitter.url"
              target="_blank"
              rel="noopener"
              class="form-menu__link"
            >
              <svg-icon name="twitter" />
            </a>
          </template>
          <span
            v-else
            class="form-menu__dump"
          />
          <template v-if="links.mess">
            <a
              :href="links.mess.url"
              target="_blank"
              rel="noopener"
              class="form-menu__link"
            >
              <svg-icon name="mess" />
            </a>
          </template>
          <span
            v-else
            class="form-menu__dump"
          />
          <template v-if="links.fb">
            <a
              :href="links.fb.url"
              target="_blank"
              rel="noopener"
              class="form-menu__link"
            >
              <svg-icon name="fb" />
            </a>
          </template>
          <span
            v-else
            class="form-menu__dump"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, reactive, ref, computed } from '@vue/composition-api';

import { submitForm } from '~/api/form';
import { FORM_QUESTION } from '~/utils/constants';

export default defineComponent({
  name: 'VForm',
  setup(props, ctx) {
    const form = reactive({ ...FORM_QUESTION });

    const onReset = () => {
      Object.keys(form).forEach((key) => {
        form[key] = FORM_QUESTION[key];
      });
    };

    const state = ref(false);
    const onSubmit = () => {
      state.value = true;
      submitForm(ctx.root.context, { ...form }).then(() => {
        onReset();
        state.value = false;
      }).catch(() => {
        state.value = false;
      });
    };

    const links = computed(() => ctx.root.$store.state.links);

    return {
      state,
      form,
      onSubmit,
      onReset,
      links
    };
  }
});
</script>

<style lang="scss">
.nice-form {
  &--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 164px;
    grid-template-areas:
      "nf";

    grid-gap: 2px;

    background-color: $app-color-black;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 320px;
      grid-template-areas:
      ". nf nf .";

      grid-gap: 0;
    }
  }

  &--caption {
    grid-area: nf;

    background-color: $app-color-white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    text-align: center;

    padding: 0 16px;

    b {
      color: $app-color-white;
      background-color: $app-color-red;

      margin: 0 4px;
      box-shadow: -4px 0 0 $app-color-red, 4px 0 0 $app-color-red;
      box-decoration-break: clone;
    }
  }

  &--title {
    line-height: 32px;
    font-size: 28px;
    font-weight: 700;

    margin-bottom: 8px;

    @media (min-width: 1024px) {
      line-height: 60px;
      font-size: 54px;

      margin-bottom: 16px;
    }
  }

  &--description {
    line-height: 22px;
    font-size: 18px;

    @media (min-width: 1024px) {
      line-height: 32px;
      font-size: 24px;

      max-width: 70%;
    }
  }

  &--fill {
    background-color: $app-color-white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    .icon {
      height: 48px;
      width: 32px;
    }
  }

  &--hide {
    display: none;

    @media (min-width: 1024px) {
      display: flex;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  color: $app-color-white;
  background-color: $app-color-black;

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;
  }

  &--input,
  &--textarea {
    color: $app-color-white;

    width: 100%;
    max-width: 580px;

    &::placeholder {
      color: $app-color-beard;
    }
  }

  &--textarea {
    min-height: 164px;

    line-height: 16px;
    font-size: 12px;

    border: 2px solid $app-color-white;

    margin: 12px 0 32px 0;
    padding: 8px 16px;

    @media (min-width: 1024px) {
      font-size: 18px;
    }
  }

  &--input {
    height: 32px;
    line-height: 32px;
    font-size: 12px;

    border-bottom: 2px solid $app-color-white;

    margin-bottom: 20px;
    padding: 0 16px;

    @media (min-width: 1024px) {
      font-size: 18px;
    }
  }

  &--button {
    width: 100%;
    max-width: 580px;

    height: 48px;
    line-height: 48px;

    color: $app-color-white;

    background-size: 200% 100%;
    background-image: linear-gradient(to right, $app-color-white 50%, $app-color-red 50%);
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: background-position .3s cubic-bezier(1, 0, 0.5, 1) 0s, color .3s ease .1s;

    &:active {
      color: $app-color-black;
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      &:hover {
        color: $app-color-black;
        background-position: 0 0;
      }
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.8;
    }
  }

  &--inline {
    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    padding: 32px;

    @media (min-width: 1024px) {
      width: 50%;

      border-right: 2px solid $app-color-light;
    }
  }

  &-menu {
    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    @media (min-width: 1024px) {
      width: 50%;

      flex-direction: row;
    }

    &__link,
    &__dump {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;

      color: $app-color-white;
      background-color: $app-color-black;

      @media (min-width: 1024px) {
        flex-direction: column;
      }
    }

    &__link {
      transition: color .3s ease, background-color .3s ease;

      .icon {
        transition: fill .3s ease;
      }
    }

    &--expand {
      flex-shrink: 0;
      flex-grow: 0;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);

      grid-gap: 2px;
      padding: 2px 0;

      background-color: $app-color-light;

      @media (min-width: 1024px) {
        width: 50%;

        padding: 0;
      }

      .form-menu__link {
        padding-left: 32px;

        font-size: 20px;
        font-weight: 700;
        height: 80px;

        @media (min-width: 1024px) {
          padding: 40px 0;

          font-size: 24px;
          font-weight: 400;
          height: 156px;
        }

        span {
          text-align: left;
          margin: 0 auto 0 32px;

          @media (min-width: 1024px) {
            margin: 12px 0 0 0;
          }
        }

        .icon {
          display: block;
          width: 40px;
          height: 40px;

          fill: $app-color-red;
        }

        &:active {
          color: $app-color-black;
          background-color: $app-color-white;
        }

        @media (min-width: 1024px) {
          &:hover {
            color: $app-color-black;
            background-color: $app-color-white;
          }
        }
      }
    }

    &--grid {
      flex-shrink: 0;
      flex-grow: 0;

      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr;

      grid-gap: 2px;

      background-color: $app-color-light;

      @media (min-width: 1024px) {
        width: 50%;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        grid-column-gap: 0;
      }

      .form-menu__link {
        height: 52px;

        @media (min-width: 375px) {
          height: 62px;
        }

        @media (min-width: 1024px) {
          height: 156px;
        }

        .icon {
          display: block;
          width: 32px;
          height: 32px;

          fill: $app-color-white;

          @media (min-width: 1024px) {
            width: 52px;
            height: 52px;
          }
        }

        &:active {
          background-color: $app-color-white;

          .icon {
            fill: $app-color-black;
          }
        }

        @media (min-width: 1024px) {
          &:hover {
            background-color: $app-color-white;

            .icon {
              fill: $app-color-black;
            }
          }
        }
      }
    }
  }
}
</style>
