<template>
  <div class="how">
    <div class="how--caption">
      <div class="how--title">
        Как мы работаем
      </div>
      <div class="how--description">
        Провести рекламную кампанию на <b>YouTube и в Twitch еще никогда не было так просто</b>
      </div>
    </div>
    <v-scroll-buttons :active="ample">
      <div class="how-item">
        <icon-dial class="how-item--icon" />
        <div class="how-item--caption">
          Свяжитесь с менеджером
        </div>
        <div class="how-item--content">
          Напишите нам на почту, в соцсетях и Telegram или нажмите на кнопку ниже для связи с менеджером
        </div>
      </div>
      <div class="how-item">
        <icon-todo class="how-item--icon" />
        <div class="how-item--caption">
          Поставьте задачу
        </div>
        <div class="how-item--content">
          Расскажите о задаче рекламной кампании и мы подберем лучшие варианты
        </div>
      </div>
      <div class="how-item">
        <icon-message class="how-item--icon" />
        <div class="how-item--caption">
          Вместе обсудим рекламную кампанию
        </div>
        <div class="how-item--content">
          Предложим различные виды рекламы с прогнозами и сроками
        </div>
      </div>
      <div class="how-item">
        <icon-rank class="how-item--icon" />
        <div class="how-item--caption">
          Получите результат в ближайшие дни
        </div>
        <div class="how-item--content">
          Вы останетесь довольны
        </div>
      </div>
    </v-scroll-buttons>
    <div class="how--content">
      <a
        target="_blank"
        rel="noopener"
        :href="links.tg.url"
        class="how--button"
      >
        Связаться с менеджером
      </a>
    </div>
    <div class="how--decoration">
      <div class="how-line how-line--left" />
      <div class="how-line how-line--right" />
    </div>
    <div class="how--decoration">
      <div class="how-line how-line--left" />
      <div class="how-line how-line--right" />
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, computed, onMounted, onBeforeUnmount } from '@vue/composition-api';

import VScrollButtons from '~/components/util/VScrollButtons';

export default defineComponent({
  name: 'VHow',
  components: {
    IconDial: () => import(/* webpackChunkName: "how" */ '~/assets/images/how/dial.svg?inline'),
    IconTodo: () => import(/* webpackChunkName: "how" */ '~/assets/images/how/todo.svg?inline'),
    IconMessage: () => import(/* webpackChunkName: "how" */ '~/assets/images/how/message.svg?inline'),
    IconRank: () => import(/* webpackChunkName: "how" */ '~/assets/images/how/rank.svg?inline'),
    VScrollButtons
  },
  setup(props, ctx) {
    const links = computed(() => ctx.root.$store.state.links);

    const ample = ref(false);
    const detectAmple = () => {
      ample.value = globalThis.innerWidth < 1024;
    };
    onMounted(() => {
      detectAmple();
      ctx.root.$bus.on('resize', detectAmple);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('resize', detectAmple);
    });

    return {
      links,
      ample
    };
  }
});
</script>

<style lang="scss">
@keyframes blink {
  0% {
    fill: $app-color-red;
  }
  50% {
    fill: $app-color-white;
  }
  100% {
    fill: $app-color-red;
  }
}

@keyframes check {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rank {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(1.1);
  }
  50% {
    transform: scaleY(1);
  }
  75% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(1);
  }
}

.how {
  position: relative;

  @media (min-width: 1024px) {
    border-bottom: 2px solid $app-color-black;
  }

  &-line {
    @media (min-width: 1024px) {
      background-image: url('~assets/images/vert.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &--left {
        grid-area: hl;
      }

      &--right {
        grid-area: hr;
      }
    }
  }

  &--decoration {
    display: none;

    @media (min-width: 1024px) {
      display: grid;

      position: absolute;

      z-index: 2;

      bottom: 148px;
      left: 0;

      height: 40px;
      width: 100%;

      grid-template-columns: 20px 1fr 40px 1fr 40px 1fr 40px 1fr 20px;
      grid-template-rows: 40px;
      grid-template-areas:
        ". . hl . . . hr . .";

      &:last-child {
        bottom: -20px;
      }
    }
  }

  &--caption {
    height: 252px;

    padding: 0 16px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    text-align: center;

    b {
      color: $app-color-white;
      background-color: $app-color-red;

      margin: 0 4px;
      box-shadow: -4px 0 0 $app-color-red, 4px 0 0 $app-color-red;
      box-decoration-break: clone;

      &:before {
        content: '';
        display: block;
        line-height: 0;
        font-size: 0;

        @media (min-width: 1024px) {
          display: none;
        }
      }

      @media (min-width: 1024px) {
        white-space: nowrap;
      }
    }
  }

  &--title {
    line-height: 32px;
    font-size: 28px;
    font-weight: 700;

    margin-bottom: 8px;

    @media (min-width: 1024px) {
      line-height: 60px;
      font-size: 54px;

      margin-bottom: 16px;
    }
  }

  &--description {
    line-height: 22px;
    font-size: 18px;

    @media (min-width: 1024px) {
      line-height: 32px;
      font-size: 24px;

      max-width: 48%;
    }
  }

  &--button {
    display: block;

    height: 64px;
    line-height: 64px;
    font-size: 18px;
    font-weight: 700;

    padding: 0 44px;

    color: $app-color-white;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, $app-color-red 50%, $app-color-black 50%);
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: background-position .3s cubic-bezier(1, 0, 0.5, 1) 0s;

    &:active {
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      font-size: 24px;

      &:hover {
        background-position: 0 0;
      }
    }
  }

  &--content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;

    text-align: center;

    @media (min-width: 1024px) {
      align-items: center;

      padding: 52px 0;
    }
  }

  .scroll-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(228px, 50%));
    grid-template-rows: 1fr;

    overflow-x: auto;

    @media (min-width: 1024px) {
      overflow-x: hidden;
      padding-bottom: 16px;
    }
  }

  &-item {
    position: relative;
    z-index: 1;

    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    background-color: $app-color-white;

    border: 2px solid $app-color-black;
    border-left: none;

    padding: 16px;

    @media (min-width: 1024px) {
      &:hover {
        .blink {
          animation: blink 1.2s linear 0s infinite;
        }

        .check {
          animation: check 2s linear 0s infinite;
        }

        .rank {
          animation: rank 2s linear 0s infinite;
          transform-origin: 0 100px;

          @media (min-width: 1024px) {
            transform-origin: 0 144px;
          }
        }
      }
    }

    &:last-child {
      border-right: none;
    }

    @media (min-width: 1024px) {
      border: none;
    }

    @media (min-width: 1440px) {
      padding: 16px 32px;
    }

    &--icon {
      flex-grow: 0;
      flex-shrink: 0;

      display: block;
      width: 100px;
      height: 114px;

      margin-bottom: 16px;

      @media (min-width: 1024px) {
        margin-bottom: 32px;

        width: 144px;
        height: 164px;
      }
    }

    &--caption {
      flex-grow: 0;
      flex-shrink: 0;

      line-height: 24px;
      font-size: 20px;
      font-weight: 700;

      margin-bottom: 16px;
      padding-right: 8px;

      @media (min-width: 1024px) {
        line-height: 36px;
        font-size: 26px;

        margin-bottom: 14px;
        min-height: 108px;
      }

      @media (min-width: 1440px) {
        font-size: 32px;
      }
    }

    &--content {
      flex-grow: 0;
      flex-shrink: 0;

      line-height: 16px;
      font-size: 14px;

      color: $app-color-light;

      margin-top: auto;
      min-height: 48px;

      @media (min-width: 1024px) {
        line-height: 28px;
        font-size: 20px;

        margin-top: 0;
      }
    }
  }
}
</style>
