<template>
  <div
    v-if="isActive"
    class="mass-media"
  >
    <div class="nice-mass-media">
      <div class="nice-mass-media--hide nice-mass-media--fill" />
      <div class="nice-mass-media--caption">
        СМИ о нас
      </div>
      <div class="nice-mass-media--hide nice-mass-media--fill" />
    </div>
    <v-scroll-buttons>
      <v-mass-media-card
        v-for="card in cards"
        :key="card.id"
        :model="card"
      />
    </v-scroll-buttons>
  </div>
</template>

<script>
import { defineComponent, computed } from '@vue/composition-api';

import VMassMediaCard from '~/components/ui/VMassMediaCard';
import VScrollButtons from '~/components/util/VScrollButtons';

export default defineComponent({
  name: 'VMassMedia',
  components: {
    VMassMediaCard,
    VScrollButtons
  },
  setup(props, ctx) {
    const isActive = computed(() => {
      const fromAdmin = ctx.root.$store.state.active.mass_media;
      const fromApi = ctx.root.$store.state.commercial.mass_media;
      return fromAdmin && fromApi && fromApi.length;
    });
    const cards = computed(() => ctx.root.$store.state.commercial.mass_media);

    return {
      isActive,
      cards
    };
  }
});
</script>

<style lang="scss">
.nice-mass-media {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 128px;
  grid-template-areas:
    "nm";

  grid-gap: 2px;
  padding: 2px 0;

  background-color: $app-color-black;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 128px;
    grid-template-areas:
      ". nm nm .";

    padding-bottom: 0;
  }

  &--hide {
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }

  &--fill {
    background-color: $app-color-white;
  }

  &--caption {
    grid-area: nm;

    background-color: $app-color-white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    text-align: center;

    line-height: 32px;
    font-size: 28px;
    font-weight: 700;

    @media (min-width: 1024px) {
      line-height: 64px;
      font-size: 54px;
    }
  }
}

.mass-media {
  @media (min-width: 1024px) {
    border-bottom: 2px solid $app-color-black;
  }

  .scroll-container {
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;

      overflow-x: auto;
    }
  }
}
</style>
