<template>
  <div class="money">
    <div class="nice-money">
      <div class="nice-money--container">
        <div class="nice-money--hide nice-money--fill" />
        <div class="nice-money--caption">
          <div class="nice-money--title">
            Монетизация канала ‒ это просто
          </div>
          <div class="nice-money--description">
            Многие блогеры <b>уже ощутили это</b>
          </div>
        </div>
        <div class="nice-money--hide nice-money--fill" />
      </div>
    </div>
    <v-scroll-buttons :active="ample">
      <div class="money-item">
        <icon-perfect class="money-item--icon" />
        <div class="money-item--caption">
          Надежность
        </div>
        <div class="money-item--content">
          Ни одного плохого отзыва за 3 года работы
        </div>
      </div>
      <div class="money-item">
        <icon-mask class="money-item--icon" />
        <div class="money-item--caption">
          Гибкие способы выплат
        </div>
        <div class="money-item--content">
          Получай вознаграждение на кошелек Qiwi, Яндекс.Деньги, Bitcoin
        </div>
      </div>
      <div class="money-item">
        <icon-money class="money-item--icon" />
        <div class="money-item--caption">
          Получай доход напрямую от рекламодателя
        </div>
        <div class="money-item--content">
          Контролируй размещение рекламы на каждом этапе
        </div>
      </div>
      <div class="money-item">
        <icon-bomb class="money-item--icon" />
        <div class="money-item--caption">
          Занимайся любимым делом
        </div>
        <div class="money-item--content">
          Все остальное мы сделаем за тебя
        </div>
      </div>
    </v-scroll-buttons>
    <div class="money--content">
      <div class="action-money--hide action-money--fill" />
      <div class="action-money">
        <a
          target="_blank"
          rel="noopener"
          :href="links.tg.url"
          class="money--button"
        >
          Пора начать
        </a>
      </div>
      <div class="action-money--hide action-money--fill" />
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, computed, onMounted, onBeforeUnmount } from '@vue/composition-api';

import VScrollButtons from '~/components/util/VScrollButtons';

export default defineComponent({
  name: 'VMoney',
  components: {
    IconBomb: () => import(/* webpackChunkName: "money" */ '~/assets/images/money/bomb.svg?inline'),
    IconMask: () => import(/* webpackChunkName: "money" */ '~/assets/images/money/mask.svg?inline'),
    IconMoney: () => import(/* webpackChunkName: "money" */ '~/assets/images/money/money.svg?inline'),
    IconPerfect: () => import(/* webpackChunkName: "money" */ '~/assets/images/money/perfect.svg?inline'),
    VScrollButtons
  },
  setup(props, ctx) {
    const links = computed(() => ctx.root.$store.state.links);

    const ample = ref(false);
    const detectAmple = () => {
      ample.value = globalThis.innerWidth < 1024;
    };
    onMounted(() => {
      detectAmple();
      ctx.root.$bus.on('resize', detectAmple);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('resize', detectAmple);
    });

    return {
      links,
      ample
    };
  }
});
</script>

<style lang="scss">
.nice-money {
  &--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 164px;
    grid-template-areas:
      "np";

    grid-gap: 2px;

    background-color: $app-color-black;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 320px;
      grid-template-areas:
      ". np np .";

      padding: 2px 0;
    }
  }

  &--caption {
    grid-area: np;

    background-color: $app-color-white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    text-align: center;

    padding: 0 16px;

    b {
      color: $app-color-white;
      background-color: $app-color-red;

      margin: 0 4px;
      box-shadow: -4px 0 0 $app-color-red, 4px 0 0 $app-color-red;
      box-decoration-break: clone;
    }
  }

  &--title {
    line-height: 32px;
    font-size: 28px;
    font-weight: 700;

    margin-bottom: 8px;

    @media (min-width: 1024px) {
      line-height: 60px;
      font-size: 54px;

      margin-bottom: 16px;
    }
  }

  &--description {
    line-height: 22px;
    font-size: 18px;

    @media (min-width: 1024px) {
      line-height: 32px;
      font-size: 24px;

      max-width: 70%;
    }
  }

  &--fill {
    background-color: $app-color-white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    .icon {
      height: 48px;
      width: 32px;
    }
  }

  &--hide {
    display: none;

    @media (min-width: 1024px) {
      display: flex;
    }
  }
}

.money {
  &--content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "np";

    grid-gap: 2px;

    background-color: $app-color-black;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 152px;
      grid-template-areas:
      ". np np .";
    }
  }
}

.action {
  &-money {
    position: relative;

    grid-area: np;

    background-color: $app-color-white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;

    @media (min-width: 1024px) {
      align-items: center;
    }

    &--hide {
      display: none;

      @media (min-width: 1024px) {
        display: block;
      }
    }

    &--fill {
      background-color: $app-color-white;
    }

    @media (min-width: 1024px) {
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
      }

      &:before {
        top: 0;
        left: calc(50% - 1px);

        width: 2px;
        height: 11px;

        background-color: $app-color-black;
      }

      &:after {
        top: -10px;
        left: calc(50% - 10px);

        width: 20px;
        height: 20px;

        border-left: 2px solid $app-color-black;
        border-bottom: 2px solid $app-color-black;

        transform: rotate(-45deg);
        transform-origin: center;
      }
    }
  }
}

.money {
  &--button {
    display: block;

    height: 64px;
    line-height: 64px;
    font-size: 18px;
    font-weight: 700;

    text-align: center;

    padding: 0 44px;

    color: $app-color-white;
    background-size: 200% 100%;

    background-position: 100% 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, $app-color-white 50%, $app-color-red 50%);
    transition: background-position .3s cubic-bezier(1, 0, 0.5, 1) 0s, color .3s ease .1s;

    &:active {
      color: $app-color-black;
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      font-size: 24px;

      background-image: linear-gradient(to right, $app-color-black 50%, $app-color-red 50%);

      &:hover {
        color: $app-color-white;
        background-position: 0 0;
      }
    }
  }

  .scroll-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(228px, 50%));
    grid-template-rows: 280px;

    @media (min-width: 1024px) {
      grid-template-rows: 1fr;

      background-color: $app-color-black;
      grid-gap: 2px;
    }

    overflow-x: auto;

    @media (min-width: 1024px) {
      overflow-x: hidden;
    }
  }

  &-item {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;

    text-align: left;

    background-color: $app-color-white;

    border: 2px solid $app-color-black;
    border-left: none;

    padding: 16px;

    &:last-child {
      border-right: none;
    }

    @media (min-width: 1024px) {
      border: none;
      padding-bottom: 32px;
    }

    &--icon {
      flex-grow: 0;
      flex-shrink: 0;

      width: 100px;
      height: 100px;

      margin: 0 auto 16px auto;

      @media (min-width: 1024px) {
        width: 180px;
        height: 180px;
      }
    }

    &--caption {
      line-height: 22px;
      font-size: 18px;
      font-weight: 700;

      min-height: 66px;

      @media (min-width: 1024px) {
        line-height: 32px;
        font-size: 24px;

        min-height: 96px;
      }

      @media (min-width: 1440px) {
        line-height: 44px;
        font-size: 32px;

        min-height: 132px;
      }
    }

    &--content {
      line-height: 16px;
      font-size: 14px;

      margin-top: 16px;

      @media (min-width: 1024px) {
        line-height: 28px;
        font-size: 20px;
      }
    }

    &--fill {
      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      z-index: -1;
      pointer-events: none;

      background-color: $app-color-red;
    }
  }
}
</style>
