<template>
  <header>
    <div class="eye-container">
      <div class="next">
        <div class="next-container next-container--title">
          <h1 class="next--title">
            Зарабатывать на YouTube или в Twitch ‒ это просто!
          </h1>
        </div>
        <div class="next-container next-container--description">
          <h2 class="next--description">
            Доход от 30 тысяч рублей в месяц
          </h2>
        </div>
        <a
          target="_blank"
          rel="noopener"
          :href="links.tg.url"
          class="next--button"
        >Мне нужен агент</a>
      </div>
      <the-eye :camera="camera" />
    </div>
    <div class="nice-next">
      <div class="nice-next-item">
        <h3 class="nice-next-item--title">
          От стабильного дохода вас отделяет несколько шагов
        </h3>
      </div>
      <div class="nice-next-item">
        <img
          class="nice-next-item--video"
          :src="require('~/assets/videos/man.gif')"
          alt="Man"
          title="Man"
        >
      </div>
    </div>
  </header>
</template>

<script>
import { defineComponent, computed } from '@vue/composition-api';

import TheEye from '~/components/core/TheEye';

export default defineComponent({
  name: 'VNext',
  components: {
    TheEye
  },
  setup(props, ctx) {
    const camera = {
      x: -20,
      y: -14,
      z: 0
    };

    const links = computed(() => ctx.root.$store.state.links);

    return {
      camera,
      links
    };
  }
});
</script>

<style lang="scss">
.eye-container {
  position: relative;
}

.nice-next {
  display: grid;
  grid-template-rows: 1fr 200px;
  grid-template-columns: 1fr;

  background-color: $app-color-light;

  @media (min-width: 1024px) {
    grid-gap: 2px;
    padding-top: 2px;

    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  &-item {
    color: $app-color-white;
    background-color: $app-color-black;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    text-align: center;

    @media (min-width: 1024px) {
      align-items: flex-start;
      text-align: left;
    }

    &:last-child {
      grid-row: 1;

      @media (min-width: 1024px) {
        grid-column: 2;
      }
    }

    &--title {
      line-height: 32px;
      font-size: 28px;
      font-weight: 700;

      margin: 0 16px;

      @media (min-width: 1024px) {
        line-height: 52px;
        font-size: 48px;
      }

      @media (min-width: 1440px) {
        margin: 0 60px 0 80px;
      }
    }

    &--video {
      pointer-events: none;

      margin: 0 auto;

      width: 100%;
      height: auto;

      max-width: 352px;

      @media (min-width: 1440px) {
        width: auto;
        height: 352px;

        max-width: 100%;

        margin: 80px auto;
      }
    }
  }
}

.next {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;

  background: none;

  min-height: calc(var(--vh, 1vh) * 100 - 96px);

  @media (min-width: 1024px) {
    justify-content: flex-start;
  }

  &--button {
    flex-shrink: 0;
    flex-grow: 0;

    width: 100%;

    height: 52px;
    line-height: 52px;
    font-size: 18px;
    font-weight: 700;

    color: $app-color-white;
    background-size: 200% 100%;
    background-image: linear-gradient(
      to right,
      $app-color-white 50%,
      $app-color-red 50%
    );
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: background-position 0.3s cubic-bezier(1, 0, 0.5, 1) 0s,
      color 0.3s ease 0.1s;

    text-align: center;

    &:active {
      color: $app-color-red;
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      width: auto;
      padding: 0 32px;
      margin: auto 0 16px 16px;

      height: 64px;
      line-height: 64px;
      font-size: 24px;

      &:hover {
        color: $app-color-red;
        background-position: 0 0;
      }
    }

    @media (min-width: 1440px) {
      margin: auto 0 80px 80px;
    }
  }

  &-container {
    flex-shrink: 0;
    flex-grow: 0;

    padding: 0 16px 0 24px;
    margin-bottom: 16px;

    @media (min-width: 1024px) {
      padding: 16px 16px 16px 24px;
    }

    @media (min-width: 1440px) {
      padding: 16px 80px 16px 88px;
    }

    &--title {
      @media (min-width: 1024px) {
        max-width: 458px;
      }

      @media (min-width: 1440px) {
        max-width: 584px;

        margin-top: 64px;
      }
    }

    &--description {
      @media (min-width: 1024px) {
        max-width: 272px;
      }

      @media (min-width: 1440px) {
        max-width: 400px;
      }
    }
  }

  &--title {
    display: inline;

    color: $app-color-black;
    background-color: $app-color-white;

    box-shadow: -8px 0 0 $app-color-white, 8px 0 0 $app-color-white;
    box-decoration-break: clone;

    line-height: 38px;
    font-size: 32px;
    font-weight: 700;

    @media (min-width: 1024px) {
      line-height: 64px;
      font-size: 56px;
    }
  }

  &--description {
    display: inline;

    color: $app-color-red;
    background-color: $app-color-white;

    box-shadow: -8px 0 0 $app-color-white, 8px 0 0 $app-color-white;
    box-decoration-break: clone;

    line-height: 32px;
    font-size: 18px;
    font-weight: 700;

    @media (min-width: 1024px) {
      line-height: 30px;
      font-size: 24px;
    }
  }
}
</style>
