<template>
  <div class="nice">
    <div class="nice--item">
      <t-l-icon class="nice--icon" />
      <div class="nice--content">
        <div class="nice--title">
          Знакомьте клиентов с продуктом
        </div>
        <div class="nice--description">
          Расскажите пользователям <b>YouTube и Twitch</b> о себе и своем продукте
        </div>
        <div class="nice--annotation">
          О вашем предложении узнают десятки миллионов платежеспособных людей
        </div>
      </div>
    </div>
    <div class="nice--item">
      <t-r-icon class="nice--icon" />
      <div class="nice--content">
        <div class="nice--title">
          Повысьте узнаваемость бренда
        </div>
        <div class="nice--description">
          И получите поток новых клиентов и пользователей
        </div>
        <div class="nice--annotation">
          Аудитория наших блогеров и стримеров будет лояльна к вашему продукту
        </div>
      </div>
    </div>
    <div class="nice--item">
      <b-l-icon class="nice--icon" />
      <div class="nice--content">
        <div class="nice--title">
          Получите много трафика
        </div>
        <div class="nice--description">
          И заставьте интернет говорить о себе
        </div>
        <div class="nice--annotation">
          Конвертируйте новых посетителей в доход
        </div>
      </div>
    </div>
    <div class="nice--item">
      <b-r-icon class="nice--icon" />
      <div class="nice--content">
        <div class="nice--title">
          Продвигайте социальные сети
        </div>
        <div class="nice--description">
          Расширяйте собственное сообщество
        </div>
        <div class="nice--annotation">
          Получите больше внимания и вовлеченности
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  name: 'VNice',
  components: {
    TLIcon: () => import(/* webpackChunkName: "nice" */ '~/assets/images/nice/tl.svg?inline'),
    TRIcon: () => import(/* webpackChunkName: "nice" */ '~/assets/images/nice/tr.svg?inline'),
    BLIcon: () => import(/* webpackChunkName: "nice" */ '~/assets/images/nice/bl.svg?inline'),
    BRIcon: () => import(/* webpackChunkName: "nice" */ '~/assets/images/nice/br.svg?inline')
  }
});
</script>

<style lang="scss">
.nice {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);

  grid-gap: 2px;

  background-color: $app-color-black;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  &--content {
    padding: 12px;

    @media (min-width: 1024px) {
      padding: 16px 0;
      max-width: 320px;

      margin: 0 auto 0 16px;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: stretch;
      align-items: stretch;
    }

    @media (min-width: 1440px) {
      padding: 32px 0;
    }
  }

  &--item {
    padding: 16px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    text-align: center;

    background-color: $app-color-white;

    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: stretch;

      text-align: left;
    }
  }

  &--title {
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;

    margin-bottom: 16px;
  }

  &--description {
    padding: 0 8px;

    font-size: 18px;
    line-height: 20px;

    margin-bottom: 16px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    @media (min-width: 1024px) {
      padding: 0;

      align-items: flex-start;
    }

    @media (min-width: 1440px) {
      padding-right: 16px;
    }

    b {
      color: $app-color-white;
      background-color: $app-color-red;

      margin: 0 4px;
      box-shadow: -4px 0 0 $app-color-red, 4px 0 0 $app-color-red;
      box-decoration-break: clone;
    }
  }

  &--annotation {
    font-size: 14px;
    line-height: 16px;

    color: $app-color-light;

    margin-bottom: 16px;

    @media (min-width: 1024px) {
      margin-bottom: 0;
    }
  }

  &--icon {
    flex-grow: 0;
    flex-shrink: 0;

    width: 252px;
    height: 252px;

    margin-bottom: 16px;

    @media (min-width: 1024px) {
      width: 180px;
      height: 180px;

      margin: auto;
    }

    @media (min-width: 1440px) {
      width: 252px;
      height: 252px;
    }
  }
}
</style>
