<template>
  <div
    ref="refEl"
    class="order"
    :class="{ 'order--active': active }"
    :style="{ '--pr': pr }"
  >
    <div class="order-line--container">
      <a
        target="_blank"
        rel="noopener"
        :href="links.tg.url"
        class="order-line order-line--left"
        @touchstart.passive="onFocus"
        @touchend.passive="onBlur"
        @touchcancel.passive="onBlur"
        @mousedown.passive="onFocus"
        @mouseup.passive="onBlur"
        @mouseenter.passive="onFocus"
        @mouseleave.passive="onBlur"
      />
    </div>
    <div class="order-line--container">
      <a
        target="_blank"
        rel="noopener"
        :href="links.tg.url"
        class="order-line"
        @touchstart.passive="onFocus"
        @touchend.passive="onBlur"
        @touchcancel.passive="onBlur"
        @mousedown.passive="onFocus"
        @mouseup.passive="onBlur"
        @mouseenter.passive="onFocus"
        @mouseleave.passive="onBlur"
      >
        Заказать
      </a>
    </div>
    <div class="order-line--container">
      <a
        target="_blank"
        rel="noopener"
        :href="links.tg.url"
        class="order-line order-line--right"
        @touchstart.passive="onFocus"
        @touchend.passive="onBlur"
        @touchcancel.passive="onBlur"
        @mousedown.passive="onFocus"
        @mouseup.passive="onBlur"
        @mouseenter.passive="onFocus"
        @mouseleave.passive="onBlur"
      />
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, onMounted, onBeforeUnmount, computed } from '@vue/composition-api';

import { fromRef } from '~/utils/ref';

export default defineComponent({
  name: 'VOrder',
  setup(props, ctx) {
    const refEl = ref(null);
    const pr = ref(null);

    const min = '-64px';
    const max = '64px';

    const update = () => {
      const el = fromRef(refEl);

      if (el) {
        const size = globalThis.innerHeight - el.offsetHeight;

        const percent =
          (globalThis.pageYOffset + size - el.offsetTop) /
          (size - 96);

        if (percent < 0) {
          pr.value = min;
          return;
        }

        if (percent > 1) {
          pr.value = max;
          return;
        }

        pr.value = `${-64 + 128 * percent}px`;
      }
    };

    onMounted(() => {
      update();
      ctx.root.$bus.on('scroll', update);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('scroll', update);
    });

    const active = ref(false);
    const onFocus = () => {
      active.value = true;
    };
    const onBlur = () => {
      active.value = false;
    };

    const links = computed(() => ctx.root.$store.state.links);

    return {
      refEl,
      pr,
      links,
      active,
      onFocus,
      onBlur
    };
  }
});
</script>

<style lang="scss">
.order {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;

  grid-gap: 0;

  overflow: hidden;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 2fr 1fr;

    grid-gap: 2px;

    background-color: $app-color-black;

    padding-top: 2px;
  }

  &-line {
    display: block;

    color: $app-color-white;
    background-color: $app-color-black;
    transition: background-color .3s ease;

    height: 64px;
    line-height: 64px;
    font-size: 18px;
    font-weight: 700;

    margin: 64px 0;

    text-align: center;

    &--container {
      background-color: $app-color-white;

      height: 192px;

      font-size: 24px;
    }

    &--left {
      transform: translateY(calc(var(--pr, -64px) * -1));
    }

    &--right {
      transform: translateY(var(--pr, -64px));
    }
  }

  &--active {
    .order {
      &-line {
        background-color: $app-color-red;
      }
    }
  }
}
</style>
