<template>
  <div
    ref="refEl"
    class="prepare"
  >
    <div class="nice-prepare">
      <div class="nice-prepare--container">
        <div class="nice-prepare--hide nice-prepare--fill">
          <svg-icon name="exclamation" />
        </div>
        <div class="nice-prepare--caption">
          <div class="nice-prepare--title">
            Прежде чем начать сотрудничество
          </div>
          <div class="nice-prepare--description">
            убедись, что твой канал <b>соответствует</b> следующим <b>требованиям</b>
          </div>
        </div>
        <div class="nice-prepare--hide nice-prepare--fill">
          <svg-icon name="exclamation" />
        </div>
      </div>
    </div>
    <v-scroll-buttons
      ref="refContainer"
      :active="ample"
      :style="{ '--pr1': pr1, '--pr2': pr2 }"
    >
      <div class="prepare-item">
        <div
          class="prepare-item--title"
          v-text="value[0]"
        />
        <div class="prepare-item--description">
          онлайн
        </div>
        <div class="prepare-item--content">
          За твоими стримами ругулярно следят
        </div>
        <div class="prepare-item--fill" />
      </div>
      <div class="prepare-item">
        <div
          class="prepare-item--title"
          v-text="value[1]"
        />
        <div class="prepare-item--description">
          стримов в месяц
        </div>
        <div class="prepare-item--content">
          Ты стримишь не реже, чем 2 раза в неделю
        </div>
        <div class="prepare-item--fill" />
      </div>
      <div class="prepare-item">
        <div
          class="prepare-item--title"
          v-text="value[2]"
        />
        <div class="prepare-item--description">
          просмотров
        </div>
        <div class="prepare-item--content">
          Видео набирают десятки тысяч просмотров
        </div>
        <div class="prepare-item--fill" />
      </div>
      <div class="prepare-item">
        <div
          class="prepare-item--title"
          v-text="value[3]"
        />
        <div class="prepare-item--description">
          ты знаешь, что это такое
        </div>
        <div class="prepare-item--content">
          Твой канал на YouTube или в Twitch является игровым
        </div>
        <div class="prepare-item--fill" />
      </div>
    </v-scroll-buttons>
    <div class="prepare--content">
      <div class="action-prepare--hide action-prepare--fill" />
      <div class="action-prepare">
        <a
          target="_blank"
          rel="noopener"
          :href="links.tg.url"
          class="prepare--button"
        >
          Я соответствую критериям
        </a>
      </div>
      <div class="action-prepare--hide action-prepare--fill" />
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, computed, onMounted, onBeforeUnmount } from '@vue/composition-api';

import VScrollButtons from '~/components/util/VScrollButtons';

import { fromRef } from '~/utils/ref';

export default defineComponent({
  name: 'VPrepare',
  components: {
    VScrollButtons
  },
  setup(props, ctx) {
    const refEl = ref(null);
    const refContainer = ref(null);
    const pr1 = ref(null);
    const pr2 = ref(null);
    const update = () => {
      const el = fromRef(refEl);
      const container = fromRef(refContainer);

      if (el && container) {
        // WTF: container.value.offsetTop > el.value.offsetTop like parentless
        const size = globalThis.innerHeight - container.offsetHeight;
        const viz = size - 96 - (container.offsetTop - el.offsetTop) / 2;
        const reset = globalThis.pageYOffset + size - el.offsetTop - (container.offsetTop - el.offsetTop);
        let percent = reset / viz;
        if (percent < 0) {
          percent = 0;
        }
        if (percent > 1) {
          percent = 1;
        }
        const next1 = 224 * percent;
        const next2 = (container.offsetHeight - 32) * percent;
        pr1.value = `${next1}px`;
        pr2.value = `${next2}px`;
      }
    };
    onMounted(() => {
      update();
      ctx.root.$bus.on('scroll', update);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('scroll', update);
    });

    const links = computed(() => ctx.root.$store.state.links);
    const value = computed(() => ctx.root.$store.state.value.prepare);

    const ample = ref(false);
    const detectAmple = () => {
      ample.value = globalThis.innerWidth < 1024;
    };
    onMounted(() => {
      detectAmple();
      ctx.root.$bus.on('resize', detectAmple);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('resize', detectAmple);
    });

    return {
      links,
      refEl,
      refContainer,
      pr1,
      pr2,
      value,
      ample
    };
  }
});
</script>

<style lang="scss">
.nice-prepare {
  &--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 164px;
    grid-template-areas:
      "np";

    grid-gap: 2px;

    background-color: $app-color-black;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 320px;
      grid-template-areas:
      ". np np .";

      padding: 2px 0;
    }
  }

  &--caption {
    grid-area: np;

    color: $app-color-white;
    background-color: $app-color-black;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    text-align: center;

    padding: 0 16px;

    b {
      color: $app-color-white;
      background-color: $app-color-red;

      margin: 0 4px;
      box-shadow: -4px 0 0 $app-color-red, 4px 0 0 $app-color-red;
      box-decoration-break: clone;
    }

    @media (min-width: 1024px) {
      color: $app-color-black;
      background-color: $app-color-white;
    }
  }

  &--title {
    line-height: 32px;
    font-size: 28px;
    font-weight: 700;

    margin-bottom: 8px;

    @media (min-width: 1024px) {
      line-height: 60px;
      font-size: 54px;

      margin-bottom: 16px;
    }
  }

  &--description {
    line-height: 22px;
    font-size: 18px;

    @media (min-width: 1024px) {
      line-height: 32px;
      font-size: 24px;

      max-width: 70%;
    }
  }

  &--fill {
    background-color: $app-color-white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    .icon {
      height: 48px;
      width: 32px;
    }
  }

  &--hide {
    display: none;

    @media (min-width: 1024px) {
      display: flex;
    }
  }
}

.prepare {
  &--content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "np";

    grid-gap: 2px;

    background-color: $app-color-black;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 252px;
      grid-template-areas:
      ". np np .";
    }
  }
}

.action {
  &-prepare {
    position: relative;
    grid-area: np;

    background-color: $app-color-red;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;

    @media (min-width: 1024px) {
      align-items: center;
    }

    &--hide {
      display: none;

      @media (min-width: 1024px) {
        display: block;
      }
    }

    &--fill {
      background-color: $app-color-red;
    }

    @media (min-width: 1024px) {
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
      }

      &:before {
        top: 0;
        left: calc(50% - 1px);

        width: 2px;
        height: 11px;

        background-color: $app-color-black;
      }

      &:after {
        top: -10px;
        left: calc(50% - 10.5px);

        width: 20px;
        height: 20px;

        border-left: 2px solid $app-color-black;
        border-bottom: 2px solid $app-color-black;

        transform: rotate(-45deg);
        transform-origin: center;
      }
    }
  }
}

.prepare {
  &--button {
    display: block;

    height: 64px;
    line-height: 64px;
    font-size: 18px;
    font-weight: 700;

    text-align: center;

    padding: 0 44px;

    color: $app-color-white;
    background-size: 200% 100%;

    background-position: 100% 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, $app-color-red 50%, $app-color-black 50%);
    transition: background-position .3s cubic-bezier(1, 0, 0.5, 1) 0s, color .3s ease .1s;

    &:active {
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      font-size: 24px;

      background-image: linear-gradient(to right, $app-color-white 50%, $app-color-black 50%);

      &:hover {
        color: $app-color-black;
        background-position: 0 0;
      }
    }
  }

  .scroll-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(228px, 50%));
    grid-template-rows: 280px;

    @media (min-width: 1024px) {
      grid-template-rows: 400px;

      background-color: $app-color-black;
      grid-gap: 2px;
    }

    overflow-x: auto;

    @media (min-width: 1024px) {
      overflow-x: hidden;
    }
  }

  &-item {
    overflow: hidden;
    position: relative;
    z-index: 1;

    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    text-align: center;

    background-color: $app-color-white;

    border: 2px solid $app-color-black;
    border-left: none;

    padding: 16px;

    &:last-child {
      border-right: none;
    }

    &:nth-child(odd) {
      .prepare {
        &-item {
          &--fill {
            transform: translateY(176px);
          }
        }
      }
    }

    &:nth-child(even) {
      .prepare {
        &-item {
          &--fill {
            transform: translateY(232px);
          }
        }
      }
    }

    @media (min-width: 1024px) {
      border: none;

      &:nth-child(odd) {
        .prepare {
          &-item {
            &--fill {
              transform: translateY(var(--pr1, 0px));
            }
          }
        }
      }

      &:nth-child(even) {
        .prepare {
          &-item {
            &--fill {
              transform: translateY(var(--pr2, 0px));
            }
          }
        }
      }
    }

    &--title {
      line-height: 96px;
      font-size: 48px;
      font-weight: 700;

      @media (min-width: 1024px) {
        line-height: 144px;
        font-size: 52px;
      }

      @media (min-width: 1440px) {
        font-size: 64px;
      }
    }

    &--description {
      line-height: 28px;
      font-size: 28px;

      min-height: 56px;

      @media (min-width: 1024px) {
        line-height: 32px;
        font-size: 32px;

        min-height: 64px;
      }
    }

    &--content {
      line-height: 16px;
      font-size: 14px;

      margin-top: 16px;

      @media (min-width: 1024px) {
        line-height: 28px;
        font-size: 20px;

        padding: 0 16px;
      }
    }

    &--fill {
      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      z-index: -1;
      pointer-events: none;

      background-color: $app-color-red;

      @media (min-width: 1024px) {
        transition: transform .3s ease-out;
        backface-visibility: hidden;
        will-change: transform;
      }
    }
  }
}
</style>
