<template>
  <div
    v-if="isActive"
    class="nice-project"
  >
    <div class="nice-project--hide nice-project--fill" />
    <div class="nice-project--caption">
      <div class="nice-project--title">
        Наши проекты
      </div>
      <div class="nice-project--description">
        Сотни успешных кейсов <b>на YouTube и в Twitch</b>
      </div>
    </div>
    <div class="nice-project--hide nice-project--fill" />
    <v-card
      :model="cards[0]"
    />
    <v-card
      :model="cards[1]"
    />
    <v-card
      :model="cards[2]"
      class="nice-project--hide"
    />
    <v-card
      :model="cards[3]"
      class="nice-project--hide"
    />
    <div class="nice-project--hide nice-project--fill" />
    <div class="nice-project--more">
      <nuxt-link
        v-touchable
        :to="{ name: 'case' }"
        class="nice-project--button"
      >
        Больше кейсов
      </nuxt-link>
    </div>
    <div class="nice-project--hide nice-project--fill" />
  </div>
</template>

<script>
import { defineComponent, computed } from '@vue/composition-api';

import VCard from '~/components/ui/VCard';

export default defineComponent({
  name: 'VProject',
  components: {
    VCard
  },
  setup(props, ctx) {
    const isActive = computed(() => {
      const fromAdmin = ctx.root.$store.state.active.portfolios_home;
      const fromApi = ctx.root.$store.state.commercial.project;
      return fromAdmin && fromApi && fromApi.length;
    });
    const cards = computed(() => ctx.root.$store.state.commercial.project);

    return {
      isActive,
      cards
    };
  }
});
</script>

<style lang="scss">
.nice-project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 164px 1fr 128px;
  grid-template-areas:
    "nt nt"
    ". ."
    "nm nm";

  grid-gap: 2px;

  background-color: $app-color-black;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 320px 1fr 128px;
    grid-template-areas:
    ". nt nt ."
    ". . . ."
    ". nm nm .";
  }

  &--hide {
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }

  &--fill {
    background-color: $app-color-white;
  }

  &--button {
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;

    padding: 0 16px;

    color: $app-color-white;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, $app-color-black 50%, $app-color-red 50%);
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: background-position .3s cubic-bezier(1, 0, 0.5, 1) 0s, color .3s ease .1s;

    &:active {
      color: $app-color-red;
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      line-height: 64px;
      font-size: 24px;

      &:hover {
        color: $app-color-red;
        background-position: 0 0;
      }
    }
  }

  &--more {
    grid-area: nm;

    background-color: $app-color-white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    text-align: center;
  }

  &--caption {
    grid-area: nt;

    background-color: $app-color-white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    text-align: center;

    padding: 0 16px;

    b {
      color: $app-color-white;
      background-color: $app-color-red;

      margin: 0 4px;
      box-shadow: -4px 0 0 $app-color-red, 4px 0 0 $app-color-red;
      box-decoration-break: clone;

      &:before {
        content: '';
        display: block;
        line-height: 0;
        font-size: 0;

        @media (min-width: 1024px) {
          display: none;
        }
      }

      @media (min-width: 1024px) {
        white-space: nowrap;
      }
    }
  }

  &--title {
    line-height: 32px;
    font-size: 28px;
    font-weight: 700;

    @media (min-width: 1024px) {
      line-height: 64px;
      font-size: 54px;
    }
  }

  &--description {
    line-height: 22px;
    font-size: 18px;

    @media (min-width: 1024px) {
      line-height: 32px;
      font-size: 24px;

      margin-top: 32px;
    }
  }
}
</style>
