<template>
  <header>
    <div class="eye-container">
      <div class="start">
        <div class="start-container start-container--title">
          <h1 class="start--title">
            Размещение рекламы на каналах блогеров и стримеров
          </h1>
        </div>
        <div class="start-container start-container--description">
          <h2 class="start--description">
            Расскажите о своем продукте многомиллионной аудитории
          </h2>
        </div>
        <a
          target="_blank"
          rel="noopener"
          :href="links.tg.url"
          class="start--button"
        >Разместить</a>
      </div>
      <the-eye :camera="camera" />
    </div>
    <div class="nice-start">
      <div class="nice-start-item">
        <h3 class="nice-start-item--title">
          Реклама должна быть результативной
        </h3>
        <div class="nice-start-item--description">
          <svg-icon name="twitch" />и
          <svg-icon name="youtube" />
        </div>
      </div>
      <div class="nice-start-item">
        <img
          class="nice-start-item--video"
          :src="require('~/assets/videos/heart.gif')"
          alt="Heart"
          title="Heart"
        >
      </div>
    </div>
  </header>
</template>

<script>
import { defineComponent, computed } from '@vue/composition-api';

import TheEye from '~/components/core/TheEye';

export default defineComponent({
  name: 'VStart',
  components: {
    TheEye
  },
  setup(props, ctx) {
    const camera = {
      x: -20,
      y: -14,
      z: 0
    };

    const links = computed(() => ctx.root.$store.state.links);

    return {
      camera,
      links
    };
  }
});
</script>


<style lang="scss">
.eye-container {
  position: relative;
}

.nice-start {
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-columns: 1fr;

  background-color: $app-color-light;

  @media (min-width: 1024px) {
    grid-gap: 2px;
    padding-top: 2px;

    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  &-item {
    color: $app-color-white;
    background-color: $app-color-black;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    text-align: center;

    @media (min-width: 1024px) {
      align-items: flex-start;
      text-align: left;
    }

    &--title {
      line-height: 32px;
      font-size: 28px;
      font-weight: 700;

      margin: auto 0 32px 0;

      @media (min-width: 1024px) {
        line-height: 52px;
        font-size: 48px;

        margin: 0 0 80px 16px;
      }

      @media (min-width: 1440px) {
        margin: 0 0 80px 80px;
      }
    }

    &--description {
      line-height: 32px;
      font-size: 24px;
      font-weight: 700;

      @media (min-width: 1024px) {
        line-height: 64px;
        font-size: 48px;

        margin-left: 16px;
      }

      @media (min-width: 1440px) {
        margin-left: 80px;
      }
    }

    &--video {
      pointer-events: none;

      width: 100%;
      height: auto;

      max-width: 512px;
      margin-right: auto;

      @media (min-width: 1440px) {
        width: 512px;
        height: 512px;
      }
    }

    .icon {
      display: inline-block;

      vertical-align: middle;

      height: 32px;
      width: 100px;

      @media (min-width: 1024px) {
        height: 64px;
        width: 200px;
      }
    }
  }
}

.start {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;

  background: none;

  min-height: calc(var(--vh, 1vh) * 100 - 96px);

  @media (min-width: 1024px) {
    justify-content: flex-start;
  }

  &--button {
    flex-shrink: 0;
    flex-grow: 0;

    width: 100%;

    height: 52px;
    line-height: 52px;
    font-size: 18px;
    font-weight: 700;

    color: $app-color-white;
    background-size: 200% 100%;
    background-image: linear-gradient(
      to right,
      $app-color-white 50%,
      $app-color-red 50%
    );
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: background-position 0.3s cubic-bezier(1, 0, 0.5, 1) 0s,
      color 0.3s ease 0.1s;

    text-align: center;

    &:active {
      color: $app-color-red;
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      width: auto;
      padding: 0 32px;
      margin: auto 0 16px 16px;

      height: 64px;
      line-height: 64px;
      font-size: 24px;

      &:hover {
        color: $app-color-red;
        background-position: 0 0;
      }
    }

    @media (min-width: 1440px) {
      margin: auto 0 80px 80px;
    }
  }

  &-container {
    flex-shrink: 0;
    flex-grow: 0;

    padding: 0 16px 0 24px;
    margin-bottom: 16px;

    @media (min-width: 1024px) {
      padding: 16px 16px 16px 24px;
    }

    @media (min-width: 1440px) {
      padding: 16px 80px 16px 88px;
    }

    &--title {
      max-width: 232px;

      @media (min-width: 1024px) {
        max-width: 704px;
      }

      @media (min-width: 1440px) {
        margin-top: 64px;
        max-width: 832px;
      }
    }

    &--description {
      max-width: 320px;

      @media (min-width: 1024px) {
        max-width: 424px;
      }

      @media (min-width: 1440px) {
        max-width: 552px;
      }
    }
  }

  &--title {
    display: inline;

    color: $app-color-black;
    background-color: $app-color-white;

    box-shadow: -8px 0 0 $app-color-white, 8px 0 0 $app-color-white;
    box-decoration-break: clone;

    line-height: 38px;
    font-size: 32px;
    font-weight: 700;

    @media (min-width: 1024px) {
      line-height: 64px;
      font-size: 56px;
    }
  }

  &--description {
    display: inline;

    color: $app-color-red;
    background-color: $app-color-white;

    box-shadow: -8px 0 0 $app-color-white, 8px 0 0 $app-color-white;
    box-decoration-break: clone;

    line-height: 32px;
    font-size: 18px;
    font-weight: 700;

    @media (min-width: 1024px) {
      line-height: 32px;
      font-size: 24px;
    }
  }
}
</style>

