<template>
  <div class="steps">
    <div class="steps--grid">
      <div class="steps-item">
        <icon-game class="steps-item--icon" />
        <div class="steps-item--caption">
          Напиши нам любым удобным способом
        </div>
      </div>
      <div class="steps-item">
        <icon-face class="steps-item--icon" />
        <div class="steps-item--caption">
          Осбуди с нашим менеджером все детали
        </div>
      </div>
      <div class="steps-item">
        <icon-case class="steps-item--icon" />
        <div class="steps-item--caption">
          Подпиши договор
        </div>
      </div>
      <div class="steps-item">
        <icon-joy class="steps-item--icon" />
        <div class="steps-item--caption">
          Размещай у себя на канале рекламу и зарабатывай на этом
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  name: 'VSteps',
  components: {
    IconGame: () => import(/* webpackChunkName: "steps" */ '~/assets/images/steps/game.svg?inline'),
    IconFace: () => import(/* webpackChunkName: "steps" */ '~/assets/images/steps/face.svg?inline'),
    IconCase: () => import(/* webpackChunkName: "steps" */ '~/assets/images/steps/case.svg?inline'),
    IconJoy: () => import(/* webpackChunkName: "steps" */ '~/assets/images/steps/joy.svg?inline')
  }
});
</script>

<style lang="scss">
.steps {
  &--grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);

    margin: 32px 0;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;

      margin: 0;

      grid-gap: 2px;
      background-color: $app-color-black;
    }
  }

  &-item {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    text-align: center;

    padding: 16px;

    background-color: $app-color-white;

    @media (min-width: 1024px) {
      align-items: flex-start;
      text-align: left;

      padding: 32px 16px;
    }

    @media (min-width: 1440px) {
      padding: 64px 16px;
    }

    &--caption {
      line-height: 32px;
      font-size: 28px;
      font-weight: 700;

      @media (min-width: 1024px) {
        line-height: 44px;
        font-size: 32px;
      }
    }

    &--icon {
      width: 164px;
      height: 164px;

      margin-bottom: 16px;

      @media (min-width: 1024px) {
        margin: 0 auto 32px auto;
      }

      @media (min-width: 1440px) {
        margin: 0 auto 64px auto;
      }
    }
  }
}
</style>
