<template>
  <div class="trust">
    <div class="trust--caption">
      <div class="trust--title">
        Нам доверяют
      </div>
      <div class="trust--description">
        Наши парнетры говорят о нас
        <b>только хорошее</b>
      </div>
    </div>
    <div class="trust--grid">
      <div class="trust-item trust-item--expand">
        <template v-if="review.rich.video">
          <div class="trust-item--video">
            <iframe
              :src="review.rich.video"
              type="text/html"
              frameborder="0"
              allow="encrypted-media; fullscreen"
              allowfullscreen
              mozallowfullscreen
              msallowfullscreen
              oallowfullscreen
              webkitallowfullscreen
              referrerpolicy="unsafe-url"
              importance="low"
              loading="lazy"
            />
          </div>
        </template>
        <template v-else>
          <img
            class="trust-item--image"
            :src="review.rich.fallback"
            :alt="review.rich.title"
            :title="review.rich.title"
          >
        </template>
        <div class="trust-item--content">
          <div class="trust-item--caption">
            <div
              class="trust-item--title"
              v-text="review.rich.title"
            />
            <div
              class="trust-item--description"
              v-text="review.rich.description"
            />
          </div>
          <div
            class="trust-item--annotation"
            v-html="review.rich.annotation"
          />
        </div>
      </div>
      <div
        v-for="rev in review.other"
        :key="rev.id"
        class="trust-item"
      >
        <img
          class="trust-item--image"
          :src="rev.image"
          :alt="rev.title"
          :title="rev.title"
        >
        <div class="trust-item--content">
          <div class="trust-item--caption">
            <div
              class="trust-item--title"
              v-text="rev.title"
            />
            <div
              class="trust-item--description"
              v-text="rev.description"
            />
          </div>
          <div
            class="trust-item--annotation"
            v-html="rev.annotation"
          />
        </div>
      </div>
    </div>
    <div class="trust--decoration">
      <div class="trust-line trust-line--left" />
      <div class="trust-line trust-line--right" />
    </div>
  </div>
</template>

<script>
import { defineComponent, computed } from '@vue/composition-api';

export default defineComponent({
  name: 'VTrust',
  setup(props, ctx) {
    const review = computed(() => ctx.root.$store.state.commercial.review);

    return {
      review
    };
  }
});
</script>

<style lang="scss">
.trust {
  position: relative;

  &-line {
    @media (min-width: 1024px) {
      background-image: url("~assets/images/vert.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &--left {
        grid-area: tl;
      }

      &--right {
        grid-area: tr;
      }
    }
  }

  &--decoration {
    display: none;

    @media (min-width: 1024px) {
      display: grid;

      position: absolute;

      z-index: 2;

      bottom: 148px;
      left: 0;

      height: 40px;
      width: 100%;

      grid-template-columns: 20px 1fr 40px 1fr 40px 1fr 40px 1fr 20px;
      grid-template-rows: 40px;
      grid-template-areas: ". . tl . . . tr . .";

      &:last-child {
        bottom: -20px;
      }
    }
  }

  &--caption {
    height: 164px;

    padding: 0 16px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    text-align: center;

    @media (min-width: 1024px) {
      height: 252px;
    }

    b {
      color: $app-color-white;
      background-color: $app-color-red;

      margin: 0 4px;
      box-shadow: -4px 0 0 $app-color-red, 4px 0 0 $app-color-red;
      box-decoration-break: clone;

      &:before {
        content: "";
        display: block;
        line-height: 0;
        font-size: 0;
        height: 4px;

        @media (min-width: 1024px) {
          display: none;
        }
      }

      @media (min-width: 1024px) {
        white-space: nowrap;
      }
    }
  }

  &--title {
    line-height: 32px;
    font-size: 28px;
    font-weight: 700;

    margin-bottom: 8px;

    @media (min-width: 1024px) {
      line-height: 60px;
      font-size: 54px;

      margin-bottom: 16px;
    }
  }

  &--description {
    line-height: 18px;
    font-size: 18px;

    @media (min-width: 1024px) {
      line-height: 32px;
      font-size: 24px;

      max-width: 48%;
    }
  }

  &--grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
      "tw"
      "."
      ".";

    background-color: $app-color-black;
    grid-gap: 2px;
    padding-bottom: 2px;

    @media (min-width: 425px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 1fr;
      grid-template-areas:
        "tw tw"
        ". .";
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: ". tw tw .";

      padding: 2px 0;
      grid-gap: 0;
    }
  }

  &-item {
    background-color: $app-color-white;

    &--title {
      line-height: 32px;
      font-size: 24px;
      font-weight: 700;

      @media (min-width: 425px) {
        font-size: 28px;
      }

      @media (min-width: 1024px) {
        line-height: 40px;
        font-size: 36px;
      }
    }

    &--description {
      line-height: 18px;
      font-size: 18px;

      @media (min-width: 1024px) {
        line-height: 32px;
        font-size: 24px;
      }
    }

    &--annotation {
      line-height: 16px;
      font-size: 14px;

      @media (min-width: 1024px) {
        line-height: 20px;
        font-size: 16px;

        order: 1;
      }

      p + p {
        margin-bottom: 16px;

        @media (min-width: 1024px) {
          margin-bottom: 20px;
        }
      }
    }

    &--content {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;

      padding: 16px;

      @media (min-width: 1024px) {
        padding-bottom: 32px;
        height: calc(100% - 144px);
      }
    }

    &--caption {
      margin-bottom: 16px;

      @media (min-width: 1024px) {
        order: 2;

        padding-top: 32px;
        margin-top: auto;
        margin-bottom: 0;
      }
    }

    &--image {
      display: block;

      width: 100px;
      height: 100px;

      margin-left: 16px;

      @media (min-width: 1024px) {
        width: 144px;
        height: 144px;

        margin-left: 0;
      }
    }

    &--expand {
      grid-area: tw;

      .trust {
        &-item {
          &--video {
            position: relative;

            width: 100%;
            height: 0;

            padding-bottom: 56.25%;

            iframe {
              display: block;
              position: absolute;

              top: 0;
              left: 0;
              right: 0;
              bottom: 0;

              width: 100%;
              height: 100%;
            }
          }

          &--image {
            width: 100%;
            height: auto;

            margin-left: 0;
          }

          &--content {
            @media (min-width: 1024px) {
              flex-direction: row-reverse;
              height: auto;
            }
          }

          &--caption {
            @media (min-width: 1024px) {
              flex-grow: 0;
              flex-shrink: 1;

              padding-top: 0;
              margin-top: 0;
              margin-right: 16px;
            }

            @media (min-width: 1440px) {
              min-width: 320px;
            }
          }

          &--annotation {
            @media (min-width: 1024px) {
              flex-grow: 1;
              flex-shrink: 1;

              min-width: 0;
            }
          }
        }
      }
    }
  }
}
</style>
