<template>
  <div
    ref="refEl"
    class="why"
  >
    <div class="why--caption">
      <div class="why--title">
        Почему именно Imbalance
      </div>
      <div class="why--description">
        Мы знаем, как заставить <b>говорить о вас весь интернет</b>
      </div>
    </div>
    <div class="why--decoration">
      <div class="why--hide why-line why-line--left" />
      <div class="why--hide why-cross" />
      <div class="why--hide why-line why-line--right" />
    </div>
    <v-scroll-buttons
      ref="refContainer"
      :active="ample"
    >
      <div
        class="why-item"
        :style="{ '--pr': pr1 }"
      >
        <div
          class="why-item--title"
          v-text="value[0]"
        />
        <div class="why-item--description">
          номер
        </div>
        <div class="why-item--content">
          Оператор ведущих русскоязычных игровых каналов
        </div>
        <div class="why-item--fill" />
      </div>
      <div
        class="why-item"
        :style="{ '--pr': pr2 }"
      >
        <div
          class="why-item--title"
          v-text="value[1]"
        />
        <div class="why-item--description">
          площадки
        </div>
        <div class="why-item--content">
          Десятки эклюзивных каналов на YouTube и в Twitch
        </div>
        <div class="why-item--fill" />
      </div>
      <div
        class="why-item"
        :style="{ '--pr': pr3 }"
      >
        <div
          class="why-item--title"
          v-text="value[2]"
        />
        <div class="why-item--annotation">
          млн
        </div>
        <div class="why-item--content">
          Количество просмотров за прошлый месяц привысило население Москвы в 3 раза
        </div>
        <div class="why-item--fill" />
      </div>
      <div class="why-item">
        <div
          class="why-item--title"
          v-text="value[3]"
        />
        <div class="why-item--annotation">
          млн
        </div>
        <div class="why-item--description">
          подписчиков
        </div>
        <div class="why-item--content">
          Лояльная аудитория, которая доверяет нашим стримерам
        </div>
        <div class="why-item--fill" />
      </div>
    </v-scroll-buttons>
    <div class="why--content">
      <nuxt-link
        v-touchable
        :to="{ name: 'catalog' }"
        class="why--button"
      >
        В каталог
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, computed, onMounted, onBeforeUnmount } from '@vue/composition-api';

import VScrollButtons from '~/components/util/VScrollButtons';

import { fromRef } from '~/utils/ref';

export default defineComponent({
  name: 'VWhy',
  components: {
    VScrollButtons
  },
  setup(props, ctx) {
    const refEl = ref(null);
    const refContainer = ref(null);

    const pr1 = ref(null);
    const pr2 = ref(null);
    const pr3 = ref(null);

    const update = () => {
      const el = fromRef(refEl);
      const container = fromRef(refContainer);

      if (el && container) {
        const size = globalThis.innerHeight - container.offsetHeight;
        const viz = size - 96 - container.offsetTop / 2;
        const reset = globalThis.pageYOffset + size - el.offsetTop - container.offsetTop;

        let percent = reset / viz;

        if (percent < 0) {
          percent = 0;
        }

        if (percent > 1) {
          percent = 1;
        }

        const next1 = 344 * percent;
        const next2 = next1 - 152;
        const next3 = next1 - 216;

        pr1.value = `${next1}px`;
        pr2.value = `${next2 < 0 ? 0 : next2}px`;
        pr3.value = `${next3 < 0 ? 0 : next3}px`;
      }
    };

    onMounted(() => {
      update();
      ctx.root.$bus.on('scroll', update);
    });

    onBeforeUnmount(() => {
      ctx.root.$bus.off('scroll', update);
    });

    const value = computed(() => ctx.root.$store.state.value.why);

    const ample = ref(false);
    const detectAmple = () => {
      ample.value = globalThis.innerWidth < 1024;
    };
    onMounted(() => {
      detectAmple();
      ctx.root.$bus.on('resize', detectAmple);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('resize', detectAmple);
    });

    return {
      refEl,
      refContainer,
      pr1,
      pr2,
      pr3,
      value,
      ample
    };
  }
});
</script>

<style lang="scss">
.why {
  position: relative;

  &-cross {
    background-image: url('~assets/images/cross.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    grid-area: wc;
  }

  &-line {
    background-image: url('~assets/images/line.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--left {
      grid-area: wl;
    }

    &--right {
      grid-area: wr;
    }
  }

  &--decoration {
    position: absolute;

    z-index: 2;

    top: 232px;
    left: 0;

    height: 40px;
    width: 100%;

    display: grid;
    grid-template-columns: 20px 1fr 40px 1fr 40px 1fr 40px 1fr 20px;
    grid-template-rows: 40px;
    grid-template-areas:
      ". . wl . wc . wr . .";
  }

  &--hide {
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }

  &--button {
    display: block;

    height: 64px;
    line-height: 64px;
    font-size: 18px;
    font-weight: 700;

    text-align: center;

    padding: 0 44px;

    color: $app-color-white;
    background-size: 200% 100%;

    background-position: 100% 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, $app-color-red 50%, $app-color-black 50%);
    transition: background-position .3s cubic-bezier(1, 0, 0.5, 1) 0s, color .3s ease .1s;

    &:active {
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      font-size: 24px;

      background-image: linear-gradient(to right, $app-color-white 50%, $app-color-black 50%);

      &:hover {
        color: $app-color-black;
        background-position: 0 0;
      }
    }
  }

  &--content {
    background-color: $app-color-red;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;

    @media (min-width: 1024px) {
      align-items: center;

      height: 252px;
    }
  }

  &--title {
    line-height: 32px;
    font-size: 28px;
    font-weight: 700;

    margin-bottom: 8px;

    @media (min-width: 1024px) {
      line-height: 70px;
      font-size: 60px;

      margin-bottom: 16px;
    }
  }

  &--description {
    line-height: 18px;
    font-size: 18px;

    @media (min-width: 1024px) {
      line-height: 24px;
      font-size: 24px;
    }
  }

  &--caption {
    height: 252px;

    padding: 0 16px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    text-align: center;

    b {
      color: $app-color-white;
      background-color: $app-color-red;

      margin: 0 4px;
      box-shadow: -4px 0 0 $app-color-red, 4px 0 0 $app-color-red;
      box-decoration-break: clone;

      &:before {
        content: '';
        display: block;
        line-height: 0;
        font-size: 0;
        height: 4px;

        @media (min-width: 1024px) {
          display: none;
        }
      }

      @media (min-width: 1024px) {
        white-space: nowrap;
      }
    }
  }

  .scroll-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(228px, 50%));
    grid-template-rows: 280px;

    @media (min-width: 1024px) {
      grid-template-rows: 1fr;
    }

    overflow-x: auto;

    @media (min-width: 1024px) {
      overflow-x: hidden;
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &-item {
    overflow: hidden;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    text-align: center;

    background-color: $app-color-white;

    border: 2px solid $app-color-black;
    border-left: none;

    padding: 16px;

    &:last-child {
      border-right: none;
    }

    &:nth-child(1) {
      .why {
        &-item {
          &--fill {
            transform: translateY(216px);
          }
        }
      }
    }

    &:nth-child(2) {
      .why {
        &-item {
          &--fill {
            transform: translateY(144px);
          }
        }
      }
    }

    &:nth-child(3) {
      .why {
        &-item {
          &--fill {
            transform: translateY(112px);
          }
        }
      }
    }

    @media (min-width: 1024px) {
      border: none;

      &:nth-child(n) {
        .why {
          &-item {
            &--fill {
              transform: translateY(var(--pr, 0px));
            }
          }
        }
      }

      &:nth-child(3) {
        .why {
          &-item {
            &--title {
              line-height: 112px;
              font-size: 112px;
            }

            &--content {
              margin-top: 8px;
            }
          }
        }
      }

      &:nth-child(4) {
        .why {
          &-item {
            &--title {
              line-height: 88px;
              font-size: 88px;
            }

            &--content {
              margin-top: 8px;
            }
          }
        }
      }
    }

    &--title {
      line-height: 96px;
      font-size: 96px;
      font-weight: 700;

      @media (min-width: 1024px) {
        line-height: 144px;
        font-size: 144px;
      }
    }

    &--description {
      line-height: 24px;
      font-size: 24px;
      font-weight: 700;
    }

    &--annotation {
      line-height: 24px;
      font-size: 24px;
      font-weight: 700;

      @media (min-width: 1024px) {
        line-height: 64px;
        font-size: 60px;
      }
    }

    &--content {
      line-height: 16px;
      font-size: 14px;

      margin-top: 16px;

      @media (min-width: 1024px) {
        line-height: 32px;
        font-size: 24px;
      }
    }

    &--fill {
      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      z-index: -1;
      pointer-events: none;

      background-color: $app-color-red;

      @media (min-width: 1024px) {
        transition: transform .3s ease-out;
        backface-visibility: hidden;
        will-change: transform;
      }
    }
  }
}
</style>
