<template>
  <div class="work">
    <div class="nice-work">
      <div class="nice-work--container">
        <div class="nice-work--hide nice-work--fill" />
        <div class="nice-work--caption">
          <div class="nice-work--title">
            С нами хотят работать
          </div>
          <div class="nice-work--description">
            За три года <b>мы помогли заработать десяткам</b> блогеров
          </div>
        </div>
        <div class="nice-work--hide nice-work--fill" />
      </div>
    </div>
    <v-scroll-buttons :active="ample">
      <div class="work-item">
        <div class="work-item--tag">
          Провели
        </div>
        <icon-kick class="work-item--icon" />
        <div class="work-item--caption">
          <svg-icon name="more" />{{ value[0] }}
        </div>
        <div class="work-item--content">
          рекламных кампаний
        </div>
      </div>
      <div class="work-item">
        <div class="work-item--tag">
          Охват составил
        </div>
        <icon-cool class="work-item--icon" />
        <div class="work-item--caption">
          <svg-icon name="more" />{{ value[1] }}
        </div>
        <div class="work-item--content">
          пользователей <b>YouTube и Twitch</b>
        </div>
      </div>
      <div class="work-item">
        <div class="work-item--tag">
          Блогеры заработали
        </div>
        <icon-bag class="work-item--icon" />
        <div class="work-item--caption">
          <svg-icon name="more" />{{ value[2] }}
        </div>
        <div class="work-item--content">
          рублей
        </div>
      </div>
      <div class="work-item">
        <div class="work-item--tag">
          Довольных блогеров
        </div>
        <icon-five class="work-item--icon" />
        <div
          class="work-item--caption"
          v-text="value[3]"
        />
        <div class="work-item--content" />
      </div>
    </v-scroll-buttons>
    <div class="work--content">
      <div class="action-work--hide action-work--fill" />
      <div class="action-work">
        <a
          target="_blank"
          rel="noopener"
          :href="links.tg.url"
          class="work--button"
        >
          Оформить заявку
        </a>
      </div>
      <div class="action-work--hide action-work--fill" />
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, computed, onMounted, onBeforeUnmount } from '@vue/composition-api';

import VScrollButtons from '~/components/util/VScrollButtons';

export default defineComponent({
  name: 'VWork',
  components: {
    IconBag: () => import(/* webpackChunkName: "work" */ '~/assets/images/work/bag.svg?inline'),
    IconCool: () => import(/* webpackChunkName: "work" */ '~/assets/images/work/cool.svg?inline'),
    IconFive: () => import(/* webpackChunkName: "work" */ '~/assets/images/work/five.svg?inline'),
    IconKick: () => import(/* webpackChunkName: "work" */ '~/assets/images/work/kick.svg?inline'),
    VScrollButtons
  },
  setup(props, ctx) {
    const links = computed(() => ctx.root.$store.state.links);
    const value = computed(() => ctx.root.$store.state.value.work);

    const ample = ref(false);
    const detectAmple = () => {
      ample.value = globalThis.innerWidth < 1024;
    };
    onMounted(() => {
      detectAmple();
      ctx.root.$bus.on('resize', detectAmple);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('resize', detectAmple);
    });

    return {
      links,
      value,
      ample
    };
  }
});
</script>

<style lang="scss">
.nice-work {
  &--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 164px;
    grid-template-areas:
      "np";

    grid-gap: 2px;

    background-color: $app-color-black;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 320px;
      grid-template-areas:
      ". np np .";

      padding: 2px 0;
    }
  }

  &--caption {
    grid-area: np;

    color: $app-color-white;
    background-color: $app-color-black;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    text-align: center;

    padding: 0 16px;

    b {
      color: $app-color-white;
      background-color: $app-color-red;

      margin: 0 4px;
      box-shadow: -4px 0 0 $app-color-red, 4px 0 0 $app-color-red;
      box-decoration-break: clone;
    }

    @media (min-width: 1024px) {
      color: $app-color-black;
      background-color: $app-color-white;
    }
  }

  &--title {
    line-height: 32px;
    font-size: 28px;
    font-weight: 700;

    margin-bottom: 8px;

    @media (min-width: 1024px) {
      line-height: 60px;
      font-size: 54px;

      margin-bottom: 16px;
    }
  }

  &--description {
    line-height: 22px;
    font-size: 18px;

    @media (min-width: 1024px) {
      line-height: 32px;
      font-size: 24px;

      max-width: 70%;
    }
  }

  &--fill {
    background-color: $app-color-white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    .icon {
      height: 48px;
      width: 32px;
    }
  }

  &--hide {
    display: none;

    @media (min-width: 1024px) {
      display: flex;
    }
  }
}

.work {
  &--content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "np";

    grid-gap: 2px;

    background-color: $app-color-black;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 152px;
      grid-template-areas:
      ". np np .";
    }
  }
}

.action {
  &-work {
    position: relative;

    grid-area: np;

    background-color: $app-color-white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;

    @media (min-width: 1024px) {
      align-items: center;
    }

    &--hide {
      display: none;

      @media (min-width: 1024px) {
        display: block;
      }
    }

    &--fill {
      background-color: $app-color-white;
    }

    @media (min-width: 1024px) {
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
      }

      &:before {
        top: 0;
        left: calc(50% - 1px);

        width: 2px;
        height: 11px;

        background-color: $app-color-black;
      }

      &:after {
        top: -10px;
        left: calc(50% - 10.5px);

        width: 20px;
        height: 20px;

        border-left: 2px solid $app-color-black;
        border-bottom: 2px solid $app-color-black;

        transform: rotate(-45deg);
        transform-origin: center;
      }
    }
  }
}

.work {
  &--button {
    display: block;

    height: 64px;
    line-height: 64px;
    font-size: 18px;
    font-weight: 700;

    text-align: center;

    padding: 0 44px;

    color: $app-color-white;
    background-size: 200% 100%;

    background-position: 100% 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, $app-color-red 50%, $app-color-black 50%);
    transition: background-position .3s cubic-bezier(1, 0, 0.5, 1) 0s, color .3s ease .1s;

    &:active {
      background-position: 0 0;
    }

    @media (min-width: 1024px) {
      font-size: 24px;

      background-image: linear-gradient(to right, $app-color-red 50%, $app-color-black 50%);

      &:hover {
        background-position: 0 0;
      }
    }
  }

  .scroll-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(228px, 50%));
    grid-template-rows: 280px;

    @media (min-width: 1024px) {
      grid-template-rows: 1fr;

      background-color: $app-color-black;
      grid-gap: 2px;
    }

    overflow-x: auto;

    @media (min-width: 1024px) {
      overflow-x: hidden;
    }
  }

  &-item {
    position: relative;
    z-index: 1;

    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    text-align: center;

    background-color: $app-color-white;

    border: 2px solid $app-color-black;
    border-left: none;

    padding: 16px;

    &:last-child {
      border-right: none;
      padding-bottom: 32px;
    }

    @media (min-width: 1024px) {
      border: none;
    }

    &--tag {
      line-height: 24px;
      font-size: 18px;
      font-weight: 700;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;

      min-height: 48px;

      @media (min-width: 1024px) {
        line-height: 32px;
        font-size: 28px;

        min-height: 64px;
      }
    }

    &--icon {
      flex-grow: 0;
      flex-shrink: 0;

      width: 100px;
      height: 100px;

      @media (min-width: 1024px) {
        width: 180px;
        height: 180px;
      }
    }

    &--caption {
      line-height: 40px;
      font-size: 40px;
      font-weight: 700;

      .icon {
        display: inline-block;
        vertical-align: middle;

        height: 20px;
        width: 14px;

        @media (min-width: 1024px) {
          height: 32px;
          width: 20px;
        }
      }

      @media (min-width: 1024px) {
        line-height: 64px;
        font-size: 52px;
      }

      @media (min-width: 1440px) {
        line-height: 80px;
        font-size: 64px;
      }
    }

    &--content {
      line-height: 24px;
      font-size: 18px;

      margin-top: 4px;

      @media (min-width: 1024px) {
        line-height: 32px;
        font-size: 28px;

        margin-top: 16px;
      }

      @media (min-width: 1440px) {
        line-height: 44px;
        font-size: 32px;
      }

      b {
        color: $app-color-white;
        background-color: $app-color-red;

        margin: 0 4px;
        box-shadow: -4px 0 0 $app-color-red, 4px 0 0 $app-color-red;
        box-decoration-break: clone;
      }
    }

    &--fill {
      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      z-index: -1;
      pointer-events: none;

      background-color: $app-color-red;
    }
  }
}
</style>
