<template>
  <div id="__eye">
    <canvas
      id="__canvas"
      ref="canvas"
    />
    <video
      id="__video"
      ref="video"
      loop
      playsinline
      webkit-playsinline
      muted
      autoplay
      disablePictureInPicture
      disableRemotePlayback
      x-webkit-airplay="deny"
      preload="auto"
      loading="eager"
      crossOrigin="anonymous"
      width="1024"
      height="1024"
      :src="require('~/assets/videos/eye.mp4')"
    />
  </div>
</template>

<script>
import { defineComponent, ref, onMounted, onBeforeUnmount } from '@vue/composition-api';

import { Eye } from '~/utils/three/eye';
import { fromRef } from '~/utils/ref';
import noop from 'lodash/noop';

export default defineComponent({
  name: 'TheEye',
  props: {
    camera: {
      type: Object,
      required: true
    }
  },
  setup(props, ctx) {
    let eye = null;

    const canvas = ref(null);
    const video = ref(null);

    let renderMouseMove = noop;
    let renderResize = noop;

    onMounted(() => {
      eye = new Eye();
      eye.init({
        canvas: fromRef(canvas),
        video: fromRef(video),
        camera: props.camera
      });

      renderMouseMove = eye.onMouseMove.bind(eye);
      renderResize = eye.onWindowResize.bind(eye);

      eye.animate();
    });
    onBeforeUnmount(() => {
      eye.destroy();
      eye = null;
    });

    const onMouseMove = (event = globalThis.event) => {
      renderMouseMove(event);
    };
    onMounted(() => {
      globalThis.addEventListener('mousemove', onMouseMove, ctx.root.$passive);
    });
    onBeforeUnmount(() => {
      globalThis.removeEventListener('mousemove', onMouseMove, ctx.root.$passive);
    });

    const onResize = () => {
      renderResize();
    };
    onMounted(() => {
      globalThis.requestAnimationFrame(onResize);
      ctx.root.$bus.on('resize', onResize);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('resize', onResize);
    });

    return {
      canvas,
      video,
      onMouseMove
    };
  }
});
</script>

<style lang="scss">
#__video {
  display: none;
}

#__eye {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  z-index: 1;

  pointer-events: none;

  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;

  overflow: hidden;
}
</style>
