<template>
  <InlineLogo />
</template>

<script>
import { defineComponent } from '@vue/composition-api';
import InlineLogo from '~/assets/images/logo.svg?inline';

export default defineComponent({
  components: {
    InlineLogo
  }
});
</script>

<style lang="scss">
.fill-red {
  fill: $app-color-red;
}

.fill-black {
  fill: $app-color-black;
}

.fill-white {
  fill: $app-color-white;
}
</style>
