<template>
  <div
    class="preloader"
    :class="{ 'preloader--done': done }"
  >
    <div class="preloader-in">
      <span
        ref="cursor"
        class="preloader__cursor"
        role="presentation"
      />
      Привет!
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, onMounted } from '@vue/composition-api';

const prop = 'background-color';

export default defineComponent({
  name: 'ThePreloader',
  setup(props, ctx) {
    const cursor = ref(null);
    const done = ref(false);

    const close = () => {
      globalThis.requestAnimationFrame(() => {
        cursor.value.style[prop] = globalThis.getComputedStyle(cursor.value)[prop];
        done.value = true;
        ctx.root.$nextTick(() => {
          globalThis.requestAnimationFrame(() => {
            cursor.value.style[prop] = '#fff';
          });
        });
      });
    };

    onMounted(() => {
      const pageLoad = new Promise((resolve) => {
        if (document.readyState === 'complete') {
          resolve();
        } else {
          globalThis.onload = resolve;
        }
      });

      const fontLoad = 'fonts' in document && new Promise((resolve) => {
        if (document.fonts.status === 'loaded') {
          resolve();
        } else {
          document.fonts.onloadingdone = resolve;
          document.fonts.onloadingerror = resolve;
          setTimeout(resolve, 10000); // 10s
        }
      });

      Promise.all([
        pageLoad,
        fontLoad
      ]).then(close);
    });

    return {
      cursor,
      done
    };
  }
});
</script>

<style lang="scss">
@keyframes blink {
  10% {
    background-color: $app-color-white;
  }
  50% {
    background-color: $app-color-red;
  }
  90% {
    background-color: $app-color-white;
  }
}

.preloader {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1100;

  background-color: $app-color-red;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  user-select: none;
  touch-action: none;

  transform: translateY(0);
  transition: transform 0.6s cubic-bezier(1, 0, 0.5, 1) 1.8s;

  &__cursor {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    display: block;
    width: 18px;

    background-color: $app-color-white;

    animation: blink 1s cubic-bezier(0.4, 0, 0.2, 1) 0s infinite;
  }

  &-in {
    position: relative;

    line-height: 1;
    font-size: 64px;
    font-weight: 700;

    padding: 0 18px;

    color: $app-color-red;
    background-color: $app-color-white;

    &:after {
      content: '';
      display: block;

      position: absolute;

      top: 0;
      bottom: 0;
      left: 18px;
      right: 0;

      background-color: $app-color-red;

      transform: translateX(0);
      transition: transform 0.6s cubic-bezier(1, 0, 0.5, 1) 0.8s;
    }
  }

  &--done {
    transform: translateY(-100%);

    .preloader {
      &__cursor {
        animation: none;
        transition: background-color 0.6s cubic-bezier(0, 0, 0.2, 1);
      }

      &-in {
        &:after {
          transform: translateX(100%);
        }
      }
    }
  }
}
</style>
