<template>
  <button
    v-if="enable"
    v-touchable
    type="button"
    class="scroll"
    :class="{ 'scroll--visible': visible }"
    @click="start"
  >
    <icon-next class="icon" />
  </button>
</template>

<script>
import { defineComponent, ref, onMounted, onBeforeUnmount } from '@vue/composition-api';

import IconNext from '~/assets/images/next.svg?inline';

export default defineComponent({
  name: 'TheScroll',
  components: {
    IconNext
  },
  setup(props, ctx) {
    const visible = ref(false);
    const checkScroll = () => {
      visible.value = globalThis.pageYOffset > 0;
    };
    onMounted(() => {
      checkScroll();
      ctx.root.$bus.on('scroll', checkScroll);
      ctx.root.$bus.on('resize', checkScroll);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('scroll', checkScroll);
      ctx.root.$bus.off('resize', checkScroll);
    });

    const enable = ref(false);
    const checkScreen = () => {
      enable.value = globalThis.innerWidth < 1024;
    };
    onMounted(() => {
      checkScreen();
      ctx.root.$bus.on('resize', checkScreen);
    });
    onBeforeUnmount(() => {
      ctx.root.$bus.off('resize', checkScreen);
    });

    let stoped = false;
    let state = false;

    const reset = () => {
      state = false;
      stoped = false;
    };
    const stop = () => {
      if (state) {
        stoped = true;
      }
    };
    const scrollToTop = () => {
      if (stoped) {
        globalThis.requestAnimationFrame(reset);
        return;
      }

      const c = globalThis.pageYOffset;
      if (c < 8) {
        state = false;
        globalThis.scrollTo(0, 0);
      }

      if (c > 0) {
        globalThis.requestAnimationFrame(scrollToTop);
        globalThis.scrollTo(0, 0.875 * c);
      }
    };
    const start = () => {
      if (visible.value) {
        globalThis.requestAnimationFrame(() => {
          state = true;
          scrollToTop();
        });
      }
    };

    onMounted(() => {
      globalThis.addEventListener('touchstart', stop, ctx.root.$passive);
      globalThis.addEventListener('mousedown', stop, ctx.root.$passive);
      globalThis.addEventListener('wheel', stop, ctx.root.$passive);
      globalThis.addEventListener('keydown', stop, ctx.root.$passive);
    });
    onBeforeUnmount(() => {
      globalThis.removeEventListener('touchstart', stop, ctx.root.$passive);
      globalThis.removeEventListener('mousedown', stop, ctx.root.$passive);
      globalThis.removeEventListener('wheel', stop, ctx.root.$passive);
      globalThis.removeEventListener('keydown', stop, ctx.root.$passive);
    });

    return {
      visible,
      enable,
      start
    };
  }
});
</script>

<style lang="scss">
.scroll {
  position: fixed;

  z-index: 1090;

  right: 16px;
  bottom: 16px;

  width: 64px;
  height: 64px;

  cursor: default;
  opacity: 0;
  transition: opacity 0.3s ease;

  &--visible {
    cursor: pointer;
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }

  @media (min-width: 375px) {
    right: 20px;
    bottom: 20px;
  }

  @media (min-width: 1024px) {
    display: none;
  }

  .icon {
    display: block;
    transform: rotate(-90deg);
    pointer-events: none;
  }
}
</style>
