$app-color-red: #DF0000; /*#E92A00;*/
$app-color-pink: #EB5757;
$app-color-black: #000000;
$app-color-dark: #101010;
$app-color-gray: #252525;
$app-color-light: #686868;
$app-color-beard: #D0D0D0;
$app-color-mass: #EFEFEF;
$app-color-inverse: #F4F4F4;
$app-color-white: #FFF;
$app-color-green: #219653;
$app-color-mint: #6FCF97;
$app-color-neon: #26D36F;

$brand-color-youtube: #FF0000;
$brand-color-twitch: #8763CD;
